@{
    Layout = null;
}

<h1 class="display-4 text-center">L'¤accord parfait</h1>



<p>Le voici le voilà. C'est par lui que démarrent les théories de la musique habituelles. Avec tout ce qu'on a vu jusqu'à 
    présent, on va pouvoir faire autre chose que simplement le décrire. On a tout ce qu'il faut pour comprendre pourquoi il 
    est construit comme ça. Voyons comment il est né.</p>

<p>On a vu dans le chapitre sur la mélodie qu'une mélodie aura tendance à terminer sur la fondamentale. Quand on a deux 
    mélodies superposées, pour véritablement conclure le discours, que doit-on faire ? Au départ, les médiévaux utilisaient 
    la solution la plus évidente : pour conclure, les deux mélodies terminent sur la même note, la fondamentale. Exemple 
    en gamme de RE sur mode de RE :</p>

<img src="~/img/0187_harmonie_accord_parfait_1.png" />

<audio controls>
    <source src="~/audio/0181_harmonie_accord_parfait_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0181_harmonie_accord_parfait_1.mid">Télécharger le MIDI</a>
</div>

<p>Pourquoi pas, ça fonctionne. Mais on peut aussi être frustré de voir la polyphonie disparaître. On avait deux mélodies, 
    et elles se terminent comme une seule. On avait des successions d'accords de deux notes, mais à la fin, il n'y en a 
    plus qu'une. C'est comme si une des deux mélodies disparaissaient pour se fondre dans l'autre.</p>

<p>Alors, pourquoi ne pas terminer la mélodie du dessous sur la fondamentale, mais une octave au dessous ?</p>

<img src="~/img/0188_harmonie_accord_parfait_2.png" />

<audio controls>
    <source src="~/audio/0182_harmonie_accord_parfait_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0182_harmonie_accord_parfait_2.mid">Télécharger le MIDI</a>
</div>

<p>Dans ce cas, on garde bien deux notes séparées. Mais on a vu que deux notes séparées d'un octave sont grammaticalement 
    les mêmes. Un DO grave et un DO aigu sont tous les deux un DO. Un accord contenant DO et DO n'est pas vraiment un 
    accord... On l'entend : au final, la même sensation de perte de la polyphonie apparaît. La conclusion sur les deux DO 
    paraît plus terne, on perd la richesse des intervalles précédents.</p>

<p>Dans le chapitre sur les modes et intervalles, ainsi que dans celui sur la mélodie, on a parlé des différents pôles de 
    stabilité d'un mode. Pour le mode de RE (celui qu'on utilise dans la mélodie), on avait ces deux pôles de stabilité :</p>

<img src="~/img/0205_harmonie_accord_parfait_18.png" />

<p>La fondamentale et la quinte amènent de la stabilité. Dans ce cas, on pourrait terminer par RE et LA :</p>

<img src="~/img/0189_harmonie_accord_parfait_3.png" />

<audio controls>
    <source src="~/audio/0183_harmonie_accord_parfait_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0183_harmonie_accord_parfait_3.mid">Télécharger le MIDI</a>
</div>

<p>Effectivement, on a une sensation de conclusion. On a aussi conservé une indépendance des deux mélodies, car chacune 
    termine bien sur une note différente : il n'y a plus de perte de richesse. Au Moyen-Âge, la conclusion par un accord de 
    quinte a donc succédé à la conclusion des deux mélodies sur la fondamentale, et est devenu le nouveau standard pour 
    encore quelques siècles. En un sens, la quinte était l'<strong>accord parfait</strong> du Moyen-Âge.</p>

<p>Je parle beaucoup de conclusion car c'est l'exemple le plus évident pour comprendre le principe. En réalité, <strong>l'idée 
    derrière le terme "accord parfait" est de trouver l'accord le plus stable possible, le moins tendu possible, et donc le 
    plus consonant possible</strong>. C'est idéal pour une conclusion, mais c'est aussi utile à différents moments du discours où on 
    cherche un retour à un état d'origine, ou une résolution. </p>

<p>Jusqu'ici, on n'a jamais superposé plus de deux mélodies. On peut donc utiliser la quinte comme accord parfait. Mais, 
    théoriquement, on peut superposer autant de mélodies qu'on veut. Le problème est que, plus on superpose de mélodies, 
    plus il est difficile d'éviter les dissonances. Et donc, plus il est difficile de trouver un état stable.</p>

<p>Si on a trois mélodies superposées, comment faire ? On peut utiliser la première solution : on garde l'accord parfait 
    de quinte, et une mélodie se fondera dans l'une des deux autres.</p>

<img src="~/img/0190_harmonie_accord_parfait_4.png" />

<audio controls>
    <source src="~/audio/0184_harmonie_accord_parfait_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0184_harmonie_accord_parfait_4.mid">Télécharger le MIDI</a>
</div>

<p>Ici, la 2ème mélodie se fond dans la 3ème. Mais on se retrouve avec un effet de disparition, la sensation d'aller du 
    riche vers le pauvre. On peut désirer ça. Mais si on veut conserver 3 mélodies indépendantes, il faut trouver une autre 
    solution.</p>

<p>Ce qu'il nous faut, c'est un accord de 3 notes aussi stable qu'une quinte. Déjà, on peut conserver les deux notes de la 
    quinte. Il ne reste qu'à trouver la 3ème. On a dit que la fondamentale et la quinte sont deux pôles de stabilité. Mais 
    il y avait bien un 3ème pôle : la tierce :</p>

<img src="~/img/0204_harmonie_accord_parfait_17.png" />

<p>On va donc tenter de terminer par ces trois notes :</p>

<img src="~/img/0191_harmonie_accord_parfait_5.png" />

<audio controls>
    <source src="~/audio/0185_harmonie_accord_parfait_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0185_harmonie_accord_parfait_5.mid">Télécharger le MIDI</a>
</div>

<p>C'est l'accord composé de ces 3 pôles qui constitue ce qu'on appelle aujourd'hui l'accord parfait. Il s'est standardisé 
    au courant de la Renaissance et, depuis, est toujours considéré comme l'état harmonique le plus stable et le plus consonnant. 
    <strong>Il est constitué de la fondamentale, de la tierce et de la quinte</strong>.
</p>

<img src="~/img/0194_harmonie_accord_parfait_8.png" />

<p>Si j'ai mis tant de temps avant d'aborder ce point, habituellement le fondement de toute théorie ou de tout cours sur 
    l'harmonie, c'est parce que, à mes yeux, il faut savoir garder une forme de souplesse. Savoir que l'origine de cet 
    accord se trouve dans des siècles et des siècles de superpositions de mélodies n'est pas anodin. Aujourd'hui, on a 
    tendance à enchaîner des accords comme des boîtes, puis à construire une mélodie par-dessus. C'est pertinent selon les 
    styles, mais c'est aussi une pensée qui a pris le sens inverse. La mélodie ne vient pas des accords : ce sont les 
    accords qui viennent de la mélodie. Ils naissent de la nécessité de créer des états stables ou instables, consonants ou 
    dissonants, de tension ou de résolution, entre plusieurs mélodies. Enchaîner plusieurs accords, c'est en réalité 
    superposer plusieurs mélodies.</p>

<p>Mais je digresse : on verra tout ça dans la partie sur les enchaînements d'accords.</p>

<p>A présent, reprenons le cas on change la fondamentale, avec une mélodie en gamme de LA sur mode de LA :</p>

<img src="~/img/0192_harmonie_accord_parfait_6.png" />

<audio controls>
    <source src="~/audio/0188_harmonie_accord_parfait_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0188_harmonie_accord_parfait_8.mid">Télécharger le MIDI</a>
</div>

<p>On va ajouter deux autres mélodies de sorte à créer des accords parfaits :</p>

<img src="~/img/0193_harmonie_accord_parfait_7.png" />

<audio controls>
    <source src="~/audio/0189_harmonie_accord_parfait_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0189_harmonie_accord_parfait_9.mid">Télécharger le MIDI</a>
</div>

<p>1ère remarque : les 3 notes de l'accord parfait ne sont pas toujours superposées dans le même ordre. On verra ça plus 
    en détail dans la partie suivante sur les <strong>renversements</strong>.</p>

<p>2ème remarque : les accords parfaits sont différents sur LA et sur SOL. Pourquoi ? Simplement parce qu'on a changé de 
    fondamentale. L'accord parfait est constitué de la fondamentale, la tierce et la quinte. Sur une fondamentale de LA, 
    on a :</p>

<img src="~/img/0194_harmonie_accord_parfait_8.png" />

<p>Mais sur une fondamentale de SOL, on a :</p>

<img src="~/img/0195_harmonie_accord_parfait_9.png" />

<p>Pour cet exemple, j'ai été volontairement scolaire. Avec les trois mélodies, on a systématiquement des accords 
    parfaits. Mais, comme dit plus haut, c'est mieux d'avoir de la souplesse. Par exemple, voici trois nouvelles 
    mélodies avec les mêmes fondamentales en dessous, mais qui ont un déroulé plus libre, avec parfois des accords 
    parfaits, parfois non :</p>

<img src="~/img/0196_harmonie_accord_parfait_10.png" />

<audio controls>
    <source src="~/audio/0190_harmonie_accord_parfait_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0190_harmonie_accord_parfait_10.mid">Télécharger le MIDI</a>
</div>

<p>Et, si avec 3 flûtes on entend clairement qu'il s'agit de 3 mélodies, c'est déjà moins perceptible quand on fait 
    jouer ces trois mélodies par un piano :</p>

<audio controls>
    <source src="~/audio/0191_harmonie_accord_parfait_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0191_harmonie_accord_parfait_11.mid">Télécharger le MIDI</a>
</div>


<p>Ce qu'on pourrait penser comme une succession d'accords est véritablement né d'une superposition de 3 mélodies.</p>

<p>Il existe autant d'accords parfaits que de notes de la gamme - ou presque, comme on le verra. Chaque note de la 
    gamme peut devenir temporairement la fondamentale, déplaçant alors les pôles, et donc l'accord parfait. Si on reste 
    dans le mode de LA, on aura :</p>

<img src="~/img/0197_harmonie_accord_parfait_11.png" />

<audio controls>
    <source src="~/audio/0192_harmonie_accord_parfait_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0192_harmonie_accord_parfait_12.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0198_harmonie_accord_parfait_12.png" />

<audio controls>
    <source src="~/audio/0193_harmonie_accord_parfait_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0193_harmonie_accord_parfait_13.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0199_harmonie_accord_parfait_13.png" />

<audio controls>
    <source src="~/audio/0194_harmonie_accord_parfait_14.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0194_harmonie_accord_parfait_14.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0200_harmonie_accord_parfait_14.png" />

<audio controls>
    <source src="~/audio/0195_harmonie_accord_parfait_15.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0195_harmonie_accord_parfait_15.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0201_harmonie_accord_parfait_15.png" />

<audio controls>
    <source src="~/audio/0196_harmonie_accord_parfait_16.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0196_harmonie_accord_parfait_16.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0202_harmonie_accord_parfait_16.png" />

<audio controls>
    <source src="~/audio/0197_harmonie_accord_parfait_17.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0197_harmonie_accord_parfait_17.mid">Télécharger le MIDI</a>
</div>

<p>Vous avez sans doute remarqué que j'ai construit des accords sur toutes les notes, sauf SI. Pourquoi ? Voilà 
    l'accord de SI :</p>

<img src="~/img/0203_harmonie_accord_parfait_16.png" />

<audio controls>
    <source src="~/audio/0198_harmonie_accord_parfait_18.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0198_harmonie_accord_parfait_18.mid">Télécharger le MIDI</a>
</div>

<p>L'accord de SI n'est pas parfait. Car, rappelez-vous, SI - FA n'est pas une quinte, mais une quinte diminuée. On 
    entend clairement que l'accord qui en découle est différent des autres. Il ne crée certainement pas un état stable.</p>