@{
    Layout = null;
}

<h1 class="display-4 text-center">Les accords de 4 notes et plus</h1>



<p>Les accords parfaits, c'est très bien... Mais c'est peut-être trop parfait. Trois notes, c'est très bien aussi, mais 
    pourquoi pas plus ? </p>

<p>N'importe quelle combinaison est possible pour créer des accords. Tant qu'on reste dans les notes de la gamme, ça 
    fonctionnera. Il existe cependant une manière de trouver plus facilement les accords qui "sonnent bien", et qui font 
    partie du langage musical commun : <strong>superposer des tierces</strong>. </p>

<p>Si on part de la base d'un accord parfait, on a deux tierces empilées :</p>

<img src="~/img/0248_harmonie_accords_4_notes_et_plus_1.png" />

<audio controls>
    <source src="~/audio/0218_harmonie_accords_4_notes_et_plus_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0218_harmonie_accords_4_notes_et_plus_1.mid">Télécharger le MIDI</a>
</div>

<p>On peut continuer d'empiler des tierces. Par exemple en ajoutant la septième à l'accord parfait :</p>

<img src="~/img/0249_harmonie_accords_4_notes_et_plus_2.png" />

<audio controls>
    <source src="~/audio/0219_harmonie_accords_4_notes_et_plus_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0219_harmonie_accords_4_notes_et_plus_2.mid">Télécharger le MIDI</a>
</div>

<p>On peut continuer et ajouter la neuvième :</p>

<img src="~/img/0251_harmonie_accords_4_notes_et_plus_4.png" />

<audio controls>
    <source src="~/audio/0220_harmonie_accords_4_notes_et_plus_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0220_harmonie_accords_4_notes_et_plus_3.mid">Télécharger le MIDI</a>
</div>

<p>On n'avait pas encore vu la <strong>neuvième</strong> jusqu'à présent. En réalité, la neuvième est la même note que la 
    seconde :</p>

<img src="~/img/0252_harmonie_accords_4_notes_et_plus_5.png" />

<p>On la nomme neuvième dans le cas où on construit un accord, pour désigner sa position par rapport à la note de base du 
    degré choisi.</p>

<p>On peut continuer à empiler des tierces de cette manière, en ajoutant la onzième, la treizième, etc.</p>

<img src="~/img/0253_harmonie_accords_4_notes_et_plus_6.png" />

<audio controls>
    <source src="~/audio/0221_harmonie_accords_4_notes_et_plus_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0221_harmonie_accords_4_notes_et_plus_4.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0254_harmonie_accords_4_notes_et_plus_7.png" />

<audio controls>
    <source src="~/audio/0222_harmonie_accords_4_notes_et_plus_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0222_harmonie_accords_4_notes_et_plus_5.mid">Télécharger le MIDI</a>
</div>

<p>On nomme ces accords avec la valeur de la dernière note. Un <strong>accord de septième</strong> contiendra les notes de 
    l'accord parfait + la septième. Un <strong>accord de neuvième</strong> contiendra les notes de l'accord de septième + la 
        neuvième. Etc.</p>
        
<p>Comme pour les accords parfaits, on peut les construire à partir de n'importe quel degré. Par exemple, imaginons que nous 
    sommes en gamme de FA sur mode de FA. Les degrés seront les suivants :</p>

<img src="~/img/0255_harmonie_accords_4_notes_et_plus_8.png" />

<audio controls>
    <source src="~/audio/0224_harmonie_accords_4_notes_et_plus_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0222_harmonie_accords_4_notes_et_plus_5.mid">Télécharger le MIDI</a>
</div>


<img src="~/img/0256_harmonie_accords_4_notes_et_plus_9.png" />

<audio controls>
    <source src="~/audio/0225_harmonie_accords_4_notes_et_plus_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0225_harmonie_accords_4_notes_et_plus_8.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0257_harmonie_accords_4_notes_et_plus_10.png" />

<audio controls>
    <source src="~/audio/0226_harmonie_accords_4_notes_et_plus_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0226_harmonie_accords_4_notes_et_plus_9.mid">Télécharger le MIDI</a>
</div>

<p>Etc.</p>

<p>On peut transformer tous ces accords parfaits par des accords de septième.</p>

<img src="~/img/0258_harmonie_accords_4_notes_et_plus_11.png" />

<audio controls>
    <source src="~/audio/0227_harmonie_accords_4_notes_et_plus_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0227_harmonie_accords_4_notes_et_plus_10.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0259_harmonie_accords_4_notes_et_plus_12.png" />

<audio controls>
    <source src="~/audio/0228_harmonie_accords_4_notes_et_plus_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0228_harmonie_accords_4_notes_et_plus_11.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0260_harmonie_accords_4_notes_et_plus_13.png" />

<audio controls>
    <source src="~/audio/0229_harmonie_accords_4_notes_et_plus_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0229_harmonie_accords_4_notes_et_plus_12.mid">Télécharger le MIDI</a>
</div>

<p>Tous les accords ainsi créés peuvent ensuite être renversés, de la même manière qu'on a renversé les accords parfaits, 
    c'est-à-dire en changeant l'ordre vertical des notes. Par exemple, les renversements possibles pour la septième sont :</p>

<img src="~/img/0261_harmonie_accords_4_notes_et_plus_14.png" />

<audio controls>
    <source src="~/audio/0230_harmonie_accords_4_notes_et_plus_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0230_harmonie_accords_4_notes_et_plus_13.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0262_harmonie_accords_4_notes_et_plus_15.png" />

<audio controls>
    <source src="~/audio/0231_harmonie_accords_4_notes_et_plus_14.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0231_harmonie_accords_4_notes_et_plus_14.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0263_harmonie_accords_4_notes_et_plus_16.png" />

<audio controls>
    <source src="~/audio/0232_harmonie_accords_4_notes_et_plus_15.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0232_harmonie_accords_4_notes_et_plus_15.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0264_harmonie_accords_4_notes_et_plus_17.png" />

<audio controls>
    <source src="~/audio/0233_harmonie_accords_4_notes_et_plus_16.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0233_harmonie_accords_4_notes_et_plus_16.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0265_harmonie_accords_4_notes_et_plus_18.png" />

<audio controls>
    <source src="~/audio/0234_harmonie_accords_4_notes_et_plus_17.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0234_harmonie_accords_4_notes_et_plus_17.mid">Télécharger le MIDI</a>
</div>

<p>Le même principe est possible avec des accords de neuvième, de onzième, etc. Remarquez que plus il y a de notes dans 
    l'accord, plus il y a de renversements possibles : l'accord parfait n'a que deux renversements comme on l'a vu précédemment, 
    l'accord de septième en a 3 comme on vient de le voir, l'accord de neuvième en aura 4, etc.
</p>

<p>Tous les enchaînements d'accords qu'on a vus dans la partie précédente fonctionnent de manière identique avec les accords 
    de quatre notes et plus. Par exemple, si je reprends l'enchaînement I - V en mode de LA :
</p>

<img src="~/img/0266_harmonie_accords_4_notes_et_plus_19.png" />

<audio controls>
    <source src="~/audio/0235_harmonie_accords_4_notes_et_plus_18.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0235_harmonie_accords_4_notes_et_plus_18.mid">Télécharger le MIDI</a>
</div>

<p>Ici c'est le même enchaînement qu'on a vu dans la partie précédente, mais on utilise des accords de septième au lieu 
    des accords parfaits.
</p>

<p>
    Encore une fois, il est préférable de garder une forme de souplesse. On n'est pas obligé, par exemple, d'utiliser toutes
    les notes d'un accord. On peut aussi ajouter des notes ici ou là pour l'agrémenter. Plus généralement, il faut garder en
    tête que <strong>la mélodie prime sur l'harmonie</strong>. Si, mélodiquement, il est plus logique d'avoir une note
    plutôt qu'une autre, alors on va utiliser cette note, même si elle sort de l'accord initialement prévu. Et si jamais ça
    sonne mal (ce qui est beaucoup plus rare qu'on ne le pense), il faut alors changer d'accord, plutôt que changer la 
    mélodie.
</p>