@{
    ViewData["Title"] = "Accueil";
}

<div class="display-1 text-center">Théorie de la musique</div>
<div class="display-2 text-center">dédiée à mes amis</div>
<div class="display-3 text-center">axée sur la composition</div>
<div class="display-4 text-center">la compréhension</div>
<div class="display-5 text-center">et ma subjectivité</div>
<br /><br />
<div class="text-center">Corn</div>
<br /><br />
<img src="~/img/0000_clavier.jpg" />