@{
    Layout = null;
}


<h1 class="display-4 text-center">Les ¤alterations</h1>


<p>Dans la partie sur les modes et intervalles, on a vu que chaque mode était composé d'une succession différente de tons et demi-tons.</p>

<p>Vous vous êtes sans doute demandé pourquoi, à chaque fois, je précisais "gamme de LA sur mode de LA", ou "mode de LA sur fondamentale LA". C'est parce que, 
    en réalité, on peut construire le mode de LA sur n'importe quelle autre note fondamentale. Il suffit, pour ça, de reproduire la même succession d'intervalles en 
    partant de la nouvelle note. Et donc, faire une transposition.</p>

<p>Pour rappel, les intervalles du mode de LA sont les suivants :</p>

<img src="~/img/0021_mode_la.png" />

<p>Imaginons maintenant qu'on veuille jouer en mode de LA, mais sur la fondamentale DO. On doit reproduire la même succession d'intervalles, en partant de DO. Procédons 
    étape par étape, note par note :</p>

<p>De DO à RE, on a bien un ton, comme c'est le cas de LA à SI.</p>

<img src="~/img/0276_transposition_alterations_1.png" />

<p>Par contre, on se retrouve coincé pour l'intervalle suivant. De SI à DO, il y a un demi-ton. Mais de RE à MI, il y a un ton :

<img src="~/img/0277_transposition_alterations_2.png" />

<p>MI est donc un demi-ton trop haut par rapport au mode qu'on vise, le mode de LA. Il nous faut un intervalle de 1/2 ton entre RE et MI. 
    <strong>Il faut donc baisser le MI d'un demi-ton, et pour ça, on utilise un bémol.</strong> On appelle ça une <strong>altération</strong>.</p>

<img src="~/img/0278_transposition_alterations_3.png" />

<p>MI bémol est donc un MI abaissé d'un demi-ton. Sur le clavier, le MI bémol correspond à la touche noire à gauche de MI.</p>

<p>Continuons le pas à pas pour construire le mode complet :</p>

<img src="~/img/0279_transposition_alterations_4.png" />

<br />

<img src="~/img/0280_transposition_alterations_5.png" />

<br />

<img src="~/img/0281_transposition_alterations_6.png" />

<br />

<img src="~/img/0282_transposition_alterations_7.png" />

<br />

<img src="~/img/0283_transposition_alterations_8.png" />

<p>On a donc construit une gamme de DO en mode de LA. La fondamentale est DO, et les intervalles correspondent à ceux du mode de LA.</p>

<img src="~/img/0284_transposition_alterations_9.png" />

<p>Les notes de cette gamme sont bien : DO RE MI FA SOL LA SI. Mais pour reproduire les intervalles du mode de LA, on a rendu bémols les notes MI, LA et SI. 
    Notre morceau aura donc, sauf exception, tous ses MI, tous ses LA et tous ses SI en bémols. Tout ce qu'on a vu dans les parties précédentes s'applique de la même 
    manière, avec simplement ces notes en bémols. Chaque note a toujours sont rôle de 1 à 7, chaque accord a bien son degré de I à VII, etc. Tout ce qui était valable 
    quand on l'utilisait avec les touches blanches est valable avec cette gamme qu'on vient de construire. Une fois qu'on sait quelles sont les notes altérées, il n'y a 
    pas de complexité supplémentaire à tout ce qu'on a vu précédemment. C'est pour cette raison que j'ai préféré aborder ce point beaucoup plus loin dans cette théorie.</p>

<p>Tous les DAWs comportent une fonctionnalité permettant d'automatiser ce qu'on vient de faire. Pour passer de LA à DO, il faut monter de 4 demi-tons. Sur les DAWs, on 
    peut transposer automatiquement des notes MIDI en nombre de demi-tons.
</p>

<img src="~/img/0285_transposition_alterations_10.png" />

<img src="~/img/0286_transposition_alterations_11.png" />

<br />

<p>On vient de voir des bémols. Et les dièses, alors ? Leur rôle est inverse : ils altèrent la note un demi-ton au-dessus. On va prendre un autre exemple où on va 
    construire un mode de DO basé sur la fondamentale RE. Comparons les intervalles du mode de DO basé sur DO, et du mode de DO basé sur RE, note après note : </p>

<img src="~/img/0287_transposition_alterations_12.png" />

<br />

<img src="~/img/0288_transposition_alterations_13.png" />

<p>Une nouvelle fois, on est coincé au deuxième intervalle : RE - MI constitue une tierce, mais MI - FA constitue un demi-ton. Si on est en fondamentale RE, le FA est 
    un demi-ton trop bas. On va donc l'altérer pour <strong>l'augmenter d'un demi-ton</strong>. Pour ça, on va utiliser un <strong>dièse</strong>. Sur le clavier, le FA dièse est la touche 
    noire juste à droite du FA.</p>

<img src="~/img/0289_transposition_alterations_14.png" />

<p>On peut continuer pas à pas à construire la gamme en reproduisant les intervalles du mode de DO :</p>

<img src="~/img/0290_transposition_alterations_15.png" />

<br />

<img src="~/img/0291_transposition_alterations_16.png" />

<br />

<img src="~/img/0292_transposition_alterations_17.png" />

<br />

<img src="~/img/0293_transposition_alterations_18.png" />

<br />

<img src="~/img/0294_transposition_alterations_19.png" />

<p>En résultat, on a donc une gamme comportant les notes suivantes : RE MI FA SOL LA SI DO</p>. Pour respecter les intervalles du mode de DO, on a mis les notes FA et 
DO en dièse. Dans notre morceau dans cette gamme, sauf exception, tous nos FA et nos DO seront dièses.</p>

<img src="~/img/0295_transposition_alterations_20.png" />

<p>Jusqu'ici, on a construit des gammes. Mais on peut également appliquer le même principe pour <strong>transposer des mélodies ou des accords</strong>. Il suffit de 
    reproduire, note après note, la succession d'intervalles de cette mélodie, ou les intervalles superposés de cet accord. En réalité, quand on travaille sur un 
    pianoroll, il n'y a rien de plus simple : il suffit de sélectionner toute la mélodie ou tout l'accord, et de le décaler en haut ou en bas du nombre de demi-tons 
voulu.</p>

<img src="~/img/0296_transposition_alterations_21.png" />
<audio controls>
    <source src="~/audio/0269_transposition_alterations_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0269_transposition_alterations_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0297_transposition_alterations_22.png" />
<audio controls>
    <source src="~/audio/0270_transposition_alterations_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0270_transposition_alterations_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0298_transposition_alterations_23.png" />
<audio controls>
    <source src="~/audio/0271_transposition_alterations_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0271_transposition_alterations_3.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0299_transposition_alterations_24.png" />
<audio controls>
    <source src="~/audio/0272_transposition_alterations_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0272_transposition_alterations_4.mid">Télécharger le MIDI</a>
</div>
