@{
    Layout = null;
}

<h1 class="display-4 text-center">Analyse sensible des ¤modes</h1>

<p>Comme chaque mode positionne les deux intervalles de demi-ton à différents endroits, on aboutit à 
    <strong>des relations différentes avec la note fondamentale</strong>. On a vu par exemple que certains 
    modes ont une tierce mineure et d’autres une tierce majeure par rapport à la note fondamentale. C’est ce 
    qui explique les différences de ressenti entre les modes : chaque note produit un intervalle entre 
    elle-même et la note fondamentale. Elle crée les différents moods que vous avez ressentis dans la partie 
    précédente.</p>

<p>Pour donner un exemple d’interprétation des modes, je vais donner le mien. Chacun peut ensuite se 
    différencier, et le fera nécessairement parce qu’on est tous différent, mais je pense que décrire mes 
    propres ressentis peut aider les autres à définir les leurs.</p>

<p>A mes yeux, on peut classer les 7 modes en allant du plus sombre au plus lumineux.</p>
<br />
<br />

<h4>Le mode de SI :</h4>

<p>Le mode de SI est le plus sombre. C’est le seul qui ne comporte pas de quinte avec la note fondamentale. 
    En effet, SI et FA ne forment pas une quinte, mais une quinte diminuée.</p>

<img src="~/img/0041_analyse_mode_de_si_1.png" />

<audio controls>
    <source src="~/audio/0012_mode_de_si.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0012_mode_de_si.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0042_analyse_mode_de_si_2.png" />

<audio controls>
    <source src="~/audio/0029_analyse_mode_si_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0029_analyse_mode_si_1.mid">Télécharger le MIDI</a>
</div>

<p>En fait, tous ses intervalles sont mineurs (sauf la quarte, qui ne peut de toute façon pas l’être). </p>

<img src="~/img/0043_analyse_mode_de_si_3.png" />

<audio controls>
    <source src="~/audio/0030_analyse_mode_si_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0031_analyse_mode_si_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0044_analyse_mode_de_si_4.png" />

<audio controls>
    <source src="~/audio/0031_analyse_mode_si_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0032_analyse_mode_si_3.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0045_analyse_mode_de_si_5.png" />

<audio controls>
    <source src="~/audio/0032_analyse_mode_si_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0032_analyse_mode_si_4.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0046_analyse_mode_de_si_6.png" />

<audio controls>
    <source src="~/audio/0033_analyse_mode_si_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0033_analyse_mode_si_5.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0047_analyse_mode_de_si_7.png" />

<audio controls>
    <source src="~/audio/0034_analyse_mode_si_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0034_analyse_mode_si_6.mid">Télécharger le MIDI</a>
</div>

<p>Tous ces intervalles mineurs aboutissent à une pesanteur vers le bas. </p>

<img src="~/img/0048_analyse_mode_de_si_8.png" />

<audio controls>
    <source src="~/audio/0035_analyse_mode_si_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0035_analyse_mode_si_7.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0049_analyse_mode_de_si_9.png" />

<audio controls>
    <source src="~/audio/0036_analyse_mode_si_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0036_analyse_mode_si_8.mid">Télécharger le MIDI</a>
</div>

<p>Ce mode a donc beaucoup plus de sens quand on le joue en descendant, et moins quand on le joue en montant.
    Les demi-tons se résolvent tous vers le bas. Ce mode, à mes yeux, a quelque chose de fataliste. Mais il 
    peut aussi sonner japonais, car il ressemble beaucoup aux modes utilisés dans la musique traditionnelle 
    japonaise.</p>
<br /><br />

<h4>Le mode de MI :</h4>

<p>Il est identique au mode de SI, à cela près qu’il comporte une quinte standard au lieu d’une quinte 
    diminuée. </p>

<img src="~/img/0050_analyse_mode_de_mi_1.png" />

<audio controls>
    <source src="~/audio/0008_mode_de_mi.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0008_mode_de_mi.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0051_analyse_mode_de_mi_2.png" />

<audio controls>
    <source src="~/audio/0037_analyse_mode_mi_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0037_analyse_mode_mi_1.mid">Télécharger le MIDI</a>
</div>

<p>Il peut être fataliste aussi, mais plus stable, plus affirmé, grâce à cette quinte qui amène une 
    stabilité. Il peut aussi sonner oriental, ou peut-être aussi espagnolisant, car il ressemble de très 
    loin aux modes orientaux et est très utilisé dans les musiques traditionnelles espagnoles comme le 
    flamenco.</p>
<br />
<br />

<p><strong>Le mode de LA :</strong></p>

<p>Il est identique au mode de MI, à cela près qu’il comporte une seconde majeure au lieu d’une seconde 
    mineure. </p>

<img src="~/img/0052_analyse_mode_de_la_1.png" />

<audio controls>
    <source src="~/audio/0011_mode_de_la.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0011_mode_de_la.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0053_analyse_mode_de_la_2.png" />

<audio controls>
    <source src="~/audio/0038_analyse_mode_la_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0038_analyse_mode_la_1.mid">Télécharger le MIDI</a>
</div>

<p>C’est en général à ce mode qu’on se réfère quand on parle simplement de « mode mineur ». Il est très 
    utilisé. Pour moi, c’est un mode solennel, grave, sérieux, et parfois, souvent même, triste. </p>
<br /><br />


<h4>Le mode de RE :</h4>

<p>Il est identique au mode de LA, à cela près qu’il comporte une sixte majeure au lieu d’une sixte mineure.</p>

<img src="~/img/0054_analyse_mode_de_re_1.png" />

<audio controls>
    <source src="~/audio/0007_mode_de_re.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0007_mode_de_re.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0055_analyse_mode_de_re_2.png" />

<audio controls>
    <source src="~/audio/0039_analyse_mode_re_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0039_analyse_mode_re_1.mid">Télécharger le MIDI</a>
</div>

<p>Cette sixte majeure a une forte incidence sur le ressenti : la quinte n’est plus entourée de tension, 
    il y a comme une ouverture. </p>

<img src="~/img/0056_analyse_mode_de_re_3.png" />

<audio controls>
    <source src="~/audio/0040_analyse_mode_re_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0040_analyse_mode_re_2.mid">Télécharger le MIDI</a>
</div>

<p>En dessous de la quinte, on reste dans le solennel, comme dans le mode de LA. Mais au-dessus de la quinte,
    une forme d’extase spirituelle se joue. C’est un mode grave, mais plein d’espoir et de tendresse. C’est 
    aussi un mode pratique à utiliser car de la fondamentale à la quinte, et de la quinte à la seconde 
    au-dessus, on a exactement la même configuration d’intervalles.</p>

<img src="~/img/0057_analyse_mode_de_re_4.png" />

<img src="~/img/0058_analyse_mode_de_re_5.png" />

<audio controls>
    <source src="~/audio/0041_analyse_mode_re_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0041_analyse_mode_re_3.mid">Télécharger le MIDI</a>
</div>

<p>Ce qui veut dire que toute mélodie construite entre la fondamentale et la quinte peut être intégralement 
    reproduite depuis la quinte. C’est très intéressant car la quinte est un repère quasiment aussi important
    que la fondamentale. On peut donc avoir une mélodie à l’état « stable » dans le premier cas, et la même 
    mélodie « en hauteur » dans le deuxième cas. A mes oreilles, la mélodie basée sur la fondamentale sera 
    grave et solennelle, et la mélodie basée sur la quinte sera éclairée, pleine d’espoir. Exactement la même 
    mélodie peut donc avoir une version sombre et une version lumineuse. </p>
<p>Vous l’aurez compris, j’adore le mode de RE.</p>
<br /><br />


<h4>Le mode de SOL :</h4>

<p>Une rupture se fait à partir du mode de SOL : on entre dans les modes majeurs. Le mode de SOL est 
    identique au mode de RE, à cela près qu’il comporte une tierce majeure. </p>

<img src="~/img/0059_analyse_mode_de_sol_1.png" />

<audio controls>
    <source src="~/audio/0010_mode_de_sol.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0010_mode_de_sol.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0060_analyse_mode_de_sol_2.png" />

<audio controls>
    <source src="~/audio/0042_analyse_mode_sol_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0042_analyse_mode_sol_1.mid">Télécharger le MIDI</a>
</div>

<p>On sort du solennel pour aller vers quelque chose de plus léger. C’est aussi un mode paisible, avec peu de 
    tension. Il peut parfois sonner américain car il est beaucoup utilisé dans les musiques de films 
    hollywoodiens.</p>
<br /><br />


<h4>Le mode de DO :</h4>

<p>Il est identique au mode de SOL, à cela près qu’il comporte une septième majeure. </p>

<img src="~/img/0061_analyse_mode_de_do_1.png" />

<audio controls>
    <source src="~/audio/0006_mode_de_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0006_mode_de_do.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0062_analyse_mode_de_do_2.png" />

<audio controls>
    <source src="~/audio/0043_analyse_mode_do_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0043_analyse_mode_do_1.mid">Télécharger le MIDI</a>
</div>

<p>C’est le mode auquel on se réfère généralement quand on parle simplement de « mode majeur ». Entre SI et 
    DO, il y a un demi-ton. Ça veut aussi dire que sous la fondamentale, on a un demi-ton. </p>

<img src="~/img/0063_analyse_mode_de_do_3.png" />

<p>C’est une tension très forte étant donnée la pesanteur de la fondamentale, qui appelle à une résolution 
    sur celle-ci, donc vers le haut. </p>

<img src="~/img/0064_analyse_mode_de_do_4.png" />

<audio controls>
    <source src="~/audio/0044_analyse_mode_do_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0044_analyse_mode_do_2.mid">Télécharger le MIDI</a>
</div>

<p>Cette tension est idéale pour terminer une phrase musicale ou même un morceau. C’est pourquoi ce mode 
    m’inspire l’ordre : il a quelque chose de conformiste, donne envie que les choses soient bien rangées. 
    C’est sans doute ce qui a fait que le classicisme a utilisé très majoritairement ce mode. C’est peut-être
    aussi pour ça qu’il est privilégié dans les musiques pour enfants : c’est, d’une certaine manière, un 
    mode bien élevé. Vous aurez compris que je ne l’aime pas trop. Je le ressens comme bourgeois, ou 
    aristocrate.</p>
<br />


<h4>Le mode de FA :</h4>

<p>Celui-là est très particulier. Pour moi, c’est un mode de DO bourré. Il inspire une sorte d’exultation, 
    d’hilarité, de folie. Il est identique au mode de DO, à cela près qu’il comporte une… <strong>quarte 
        augmentée</strong> ?? Un intervalle que je n’avais pas cité jusqu’ici. On va voir pourquoi.</p>

<img src="~/img/0065_analyse_mode_de_fa_1.png" />

<audio controls>
    <source src="~/audio/0009_mode_de_fa.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0009_mode_de_fa.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0066_analyse_mode_de_fa_2.png" />

<audio controls>
    <source src="~/audio/0045_analyse_mode_fa_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0045_analyse_mode_fa_1.mid">Télécharger le MIDI</a>
</div>

<p>Pris hors contexte, cet intervalle est identique à la quinte diminuée : il fait 3 tons, donc un demi-ton 
    de moins que la quinte, mais aussi un demi-ton de plus que la quarte. Pourquoi le nommer différemment ? 
    Parce que si on part de FA, SI est la 4ème note, donc la quarte. La quinte, ce serait DO. Pour mieux 
    comprendre la différence entre quarte augmenté et quinte diminuée :</p>

<img src="~/img/0067_analyse_mode_de_fa_3.png" />

<img src="~/img/0068_analyse_mode_de_fa_4.png" />

<p>Un nom différent, donc, pour le <strong>même intervalle à l’oreille</strong> (3 tons). On comprend mieux 
    pourquoi je parle de <strong>contexte grammatical</strong>. Comme dans la grammaire d’une langue, un même
    mot peut avoir un rôle grammatical différent selon son contexte. </p>

<p>Ici, dans le contexte du mode de FA, avec FA pour fondamentale, le SI est la 4ème note. La 4ème note se 
    nomme toujours la quarte. Cette quarte fait 3 tons, donc un demi-ton de plus que l’intervalle de quarte 
    standard (2,5 tons). On la nomme alors quarte augmentée.</p>

<p>Dans le mode de SI, la 5ème note est le FA. La 5ème note se nomme toujours la quinte. Cette quinte fait 
    3 tons, donc un demi-ton de moins que l’intervalle de quinte standard (3,5 tons). On la nomme alors 
    quinte diminuée.</p>

<p>On n’utilise pas les termes majeur et mineur dans ces deux cas pour cette raison. Le fait d’utiliser les 
    termes « augmentée » et « diminuée » permet de mettre en valeur cette particularité : un seul intervalle 
    à l’oreille, deux rôles différents dans la théorie.</p>