@{
    Layout = null;
}


<div id="Introduction" class="menu-item" data-page="0">Introduction</div>

<div class="menu">Les modes et les intervalles</div>
<div class="menu-content" style="display:none;">
    <div id="TonsEtDemitons" class="menu-item" data-page="1">Les tons et les demi-tons</div>
    <div id="ModesEtGammes" class="menu-item" data-page="2">Les modes et les gammes</div>
    <div id="GammesPentatoniques" class="menu-item" data-page="3">Les gammes pentatoniques</div>
    <div id="ModesDiatoniques" class="menu-item" data-page="4">Les modes diatoniques</div>
    <div id="RoleDesNotes" class="menu-item" data-page="5">Le rôle des notes</div>
    <div id="MajeurEtMineur" class="menu-item" data-page="6">Majeur et mineur</div>
    <div id="Intervalles" class="menu-item" data-page="7">Les intervalles</div>
    <div id="AnalyseSensibleDesModes" class="menu-item" data-page="8">Analyse sensible des modes</div>
</div>

<div class="menu">La mélodie</div>
<div class="menu-content" style="display:none;">
    <div id="MouvementsGeneraux" class="menu-item" data-page="9">Mouvements généraux</div>
    <div id="PolesDeGravite" class="menu-item" data-page="10">Pôles de gravité</div>
    <div id="ExemplesDeSchemas" class="menu-item" data-page="11">Exemples de schémas</div>
    <div id="UtiliserLesOctaves" class="menu-item" data-page="12">Utiliser les octaves</div>
    <div id="RepeterLesNotes" class="menu-item" data-page="13">Répéter les notes</div>
    <div id="RetardsEtAnticipations" class="menu-item" data-page="14">Les retards et les anticipations</div>
    <div id="Ornements" class="menu-item" data-page="15">Les ornements</div>
    <div id="UnPointSurLaFondamentale" class="menu-item" data-page="16">Un point sur la fondamentale</div>
    <div id="UnPointSurLaTierceMineure" class="menu-item" data-page="17">Un point sur la tierce mineure</div>
</div>

<div class="menu">Le rythme</div>
<div class="menu-content" style="display:none;">
    <div id="TempsEtDivisions" class="menu-item" data-page="18">Temps et divisions</div>
    <div id="MesuresEtSignaturesRythmiques" class="menu-item" data-page="19">Mesures et signatures rythmiques</div>
    <div id="NOlets" class="menu-item" data-page="20">Les n-olets</div>
    <div id="Syncope" class="menu-item" data-page="21">La syncope</div>
    <div id="AccentsEtModesDeJeu" class="menu-item" data-page="22">Accents et modes de jeu</div>
    <div id="Polyrythmie" class="menu-item" data-page="23">La polyrythmie</div>
    <div id="ChangerDeSignatureDeTempo" class="menu-item" data-page="24">Changer de signature / de tempo</div>
</div>

<div class="menu">Polyphonie et harmonie</div>
<div class="menu-content" style="display:none;">
    <div id="QuelquesDefinitions" class="menu-item" data-page="25">Quelques définitions</div>
    <div id="NotesParalleles" class="menu-item" data-page="26">Les notes parallèles</div>
    <div id="DeplacerLaFondamentale" class="menu-item" data-page="27">Déplacer la fondamentale</div>
    <div id="Contrepoint" class="menu-item" data-page="28">Le contrepoint</div>
    <div id="CanonEtDephasing" class="menu-item" data-page="29">Canon et dephasing</div>
    <div id="AccordParfait" class="menu-item" data-page="30">L'accord parfait</div>
    <div id="Renversements" class="menu-item" data-page="31">Les renversements</div>
    <div id="Degres" class="menu-item" data-page="32">Les degrés</div>
    <div id="EnchainementsAccords" class="menu-item" data-page="33">Les enchaînements d'accords</div>
    <div id="AccordsDe4NotesEtPlus" class="menu-item" data-page="34">Les accords de 4 notes et plus</div>
</div>

<div class="menu">La répétition modulaire</div>
<div class="menu-content" style="display:none;">
    <div id="Definition" class="menu-item" data-page="35">Définition</div>
    <div id="LaFinAppelleLeDebut" class="menu-item" data-page="36">La fin appelle le début</div>
    <div id="MelodiesEmergentes" class="menu-item" data-page="37">Les mélodies émergentes</div>
    <div id="RepetitionEtHarmonie" class="menu-item" data-page="38">Répétition et harmonie</div>
    <div id="ExtensionEtRegression" class="menu-item" data-page="39">Extension et régression</div>
    <div id="ConstructionProgressive" class="menu-item" data-page="40">La construction progressive</div>
</div>

<div class="menu">Transposition et altérations</div>
<div class="menu-content" style="display:none;">
    <div id="DefinitionEtHistoire" class="menu-item" data-page="41">Définition et histoire</div>
    <div id="Alterations" class="menu-item" data-page="42">Les altérations</div>
    <div id="QuandUtiliserDesDiesesDesBemols" class="menu-item" data-page="43">Quand utiliser des dieses ? Des bémols ?</div>
    <div id="CycleDesQuintes" class="menu-item" data-page="44">Le cycle des quintes</div>
    <div id="CrossTranspose" class="menu-item" data-page="45">Le cross-transpose</div>
</div>

<div class="menu">La musique tonale</div>
<div class="menu-content" style="display:none;">
    <div id="ModalTonalAtonal" class="menu-item" data-page="46">Modal, tonal, atonal</div>
    <div id="GrandsPrincipes" class="menu-item" data-page="47">Grands principes</div>
    <div id="UnApercuDesRegles" class="menu-item" data-page="48">Un aperçu des règles</div>
    <div id="TonalEnchainementsAccords" class="menu-item" data-page="49">Enchaînements d'accords</div>
    <div id="TonalEnchainementsTonalites" class="menu-item" data-page="50">Enchaînements de tonalités</div>
    <div id="CasDuModeMineur" class="menu-item" data-page="51">Le cas du mode mineur</div>
    <div id="ChiffrageDesAccordsDepuisLeJazz" class="menu-item" data-page="52">Chiffrage des accords depuis le jazz</div>
    <div id="ChiffrageClassiqueDesAccords" class="menu-item" data-page="53">Chiffrage classique des accords</div>
</div>

<div class="menu">Aperçu d'autres théories</div>
<div class="menu-content" style="display:none;">
    <div id="ModesDeMessiaen" class="menu-item" data-page="54">Les modes de Messiaen</div>
    <div id="Polytonalite" class="comingsoon" data-page="55">La polytonalité</div>
    <div id="VraiePolyrythmie" class="comingsoon" data-page="56">La "vraie" polyrythmie</div>
    <div id="ExemplesDeTheoriesNonOccidentales" class="comingsoon" data-page="57">Exemples de théories non-occidentales</div>
    <div id="MusiquesAtonalesEtSerielles" class="comingsoon" data-page="58">Les musiques atonales et sérielles</div>
    <div id="MusiquesDeMasse" class="comingsoon" data-page="59">Hasard, probabilités et musiques de masses</div>
    <div id="Microtonalite" class="comingsoon" data-page="60">La microtonalité</div>
    <div id="MusiqueConcrete" class="comingsoon" data-page="61">La musique concrète</div>
    <div id="MusiqueSpectrale" class="comingsoon" data-page="62">La musique spectrale</div>
    <div id="MusiqueAlgorithmique" class="comingsoon" data-page="63">La musique algorithmique</div>
</div>