@{
    Layout = null;
}

<h1 class="display-4 text-center">¤Canon et ¤dephasing</h1>


<p>On va voir encore une nouvelle manière de superposer des mélodies : <strong>superposer une mélodie avec elle-même, avec 
    un décalage dans le temps</strong>.</p>

<p>La terme classique pour désigner ce procédé est le <strong>canon</strong>. Prenons cette mélodie comme point de départ :</p>

<audio controls>
    <source src="~/audio/0173_harmonie_canon_et_dephasing_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0173_harmonie_canon_et_dephasing_1.mid">Télécharger le MIDI</a>
</div>


<p>A présent, superposons cette mélodie sur elle-même, mais en la décalant. Ici, la 2ème itération de la mélodie se lance 
    une mesure après la première :</p>

<audio controls>
    <source src="~/audio/0174_harmonie_canon_et_dephasing_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0174_harmonie_canon_et_dephasing_2.mid">Télécharger le MIDI</a>
</div>


<p>Une polyphonie nait de cette superposition en décalage puisque, même s'il s'agit bien de la même mélodie, les notes ne 
    sont pas jouées en même temps. On obtient donc des superpositions de notes différentes. </p>

<p>On trouve beaucoup de canons dans la musique ancienne et classique, et aussi dans les chansons traditionnelles. Mais ce 
    n'est pas vraiment les musiques qui nous intéressent ici. A l'inverse, le <strong>dephasing</strong> se trouve plus
    souvent dans les musiques d'aujourd'hui. J'utilise volontairement ce terme de Steve Reich car c'est le meilleur 
    exemple pour expliquer ce concept.</p>

<p>Concrètement, le dephasing est une forme rapprochée de <strong>canon</strong>. <p>Un dephasing, c'est la même chose, 
    mais la mélodie décalée est très proche de l'originale. Il est idéal pour harmoniser et complexifier des patterns 
    répétitifs. Exemple du pattern d'origine :</p>

<audio controls>
    <source src="~/audio/0175_harmonie_canon_et_dephasing_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0175_harmonie_canon_et_dephasing_3.mid">Télécharger le MIDI</a>
</div>

<p>Et maintenant le même pattern dephasé d'une noire :</p>

<audio controls>
    <source src="~/audio/0176_harmonie_canon_et_dephasing_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0176_harmonie_canon_et_dephasing_4.mid">Télécharger le MIDI</a>
</div>

<p></p>

<p>Le <strong>dephasing</strong> désigne, à l'origine, le décalage progressif de deux mélodies identiques. En jouant la
    même mélodie à deux tempo différents mais très proches, elles se décalent au fil des répétitions : c'est une 
    polyrythmie au vrai sens du terme. Au fil des décalages, on obtient des périodes avec des effets similaires à celui 
    ci-dessus. Steve Reich lui-même a fini par abandonner le dephasing progressif pour ne garder que ces périodes, en 
    faisant des décalages au même tempo : on décale d'une double-croche(16), ou d'une croche(8), ou d'une noire(4), par 
    exemple.</p>

<p>Dephasing du même pattern une croche(8) après :</p>

<audio controls>
    <source src="~/audio/0178_harmonie_canon_et_dephasing_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0178_harmonie_canon_et_dephasing_6.mid">Télécharger le MIDI</a>
</div>

<p>Dephasing du même pattern une croche pointée(8.) après (pour rappel, c'est une croche et demi, donc une croche + une 
    double-croche)) :</p>

<audio controls>
    <source src="~/audio/0179_harmonie_canon_et_dephasing_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0179_harmonie_canon_et_dephasing_7.mid">Télécharger le MIDI</a>
</div>


<p>Et, finalement, la pattern décalé d'une noire(4) qu'on a entendu plus haut : </p>

<audio controls>
    <source src="~/audio/0176_harmonie_canon_et_dephasing_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0176_harmonie_canon_et_dephasing_4.mid">Télécharger le MIDI</a>
</div>

<p>Voilà un bon exemple de toutes les possibilités qu'on a avec un seul et même pattern harmonisé en dephasing.</p>