@{
    Layout = null;
}



<h1 class="display-4 text-center">Le cas du ¤mode ¤mineur</h1>



<p>On a déjà dit que, dans la musique tonale, il n'existe que deux modes : majeur et mineur. Le mode majeur correspondrait 
    au mode de DO, et le mode mineur au mode de LA.
</p>

<p>En réalité, c'est un peu plus compliqué que ça, parce que le mode mineur a été, d'une certaine manière, défiguré pour 
    s'adapter au nouveau discours harmonique construit sur le tout puissant mode majeur. Lequel était considéré comme 
    masculin, à l'inverse du mode mineur qui était féminin - pardonnez-moi cette diversion terrifiante.</p>

<p>Le mode mineur est pensé comme relatif au majeur. Chaque gamme majeure dispose d'un relatif mineur. Par exemple, la 
    gamme de DO majeur : </p>

<img src="~/img/0373_musique_tonale_cas_du_mode_mineur_1.png" />

<p>A pour relatif mineur la gamme de LA mineur : </p>

<img src="~/img/0374_musique_tonale_cas_du_mode_mineur_2.png" />

<p>Qu'est-ce qu'on entend par "relatif" ? Ça veut dire que les deux gammes partagent la même échelle de notes : 
    pour les deux, on n'a ni dièse ni bémol.</p>

<p>SAUF QUE. En réalité, on va mettre plein de dièses quand même sur la gamme de LA, tout en considérant que ces 
    altérations sont accidentelles. C'est un point très particulier de la théorie tonale. On différencie 3 versions du 
    mode mineur :</p>

    <br />

<h3>Le mineur descendant (aussi nommé "mineur naturel")</h3>

<img src="~/img/0375_musique_tonale_cas_du_mode_mineur_3.png" />

<p>Le mode mineur descendant est le mode mineur sans altération, c'est-à-dire le mode de LA. C'est son état "naturel". Il 
    s'appelle comme ça car il sera utilisé dans le cas de mélodies conjointes descendantes.</p>
<br />
<h3>Le mineur ascendant</h3>

<img src="~/img/0376_musique_tonale_cas_du_mode_mineur_4.png" />

<p>Il est utilisé quand la mélodie monte. Si on analyse ce mode, on remarque qu'il est une combinaison du mode mineur et 
    du mode majeur. La moitié du bas correspond au mode mineur, avec la tierce mineure caractéristique. La moitié du haut 
    correspond au mode majeur, ce qui explique tous ces dièses. Ce sera peut-être plus clair avec un comparatif :</p>

<img src="~/img/0377_musique_tonale_cas_du_mode_mineur_5.png" />
<img src="~/img/0378_musique_tonale_cas_du_mode_mineur_6.png" />
<br />
<h3>Le mineur harmonique</h3>

<img src="~/img/0379_musique_tonale_cas_du_mode_mineur_7.png" />

<p>Il est, quant à lui, une combinaison du mode mineur ascendant et du mode mineur descendant. On ne l'utilise a priori 
    jamais pour la mélodie, mais on l'utilise pour construire les accords des différents degrés.</p>

<br />

<p>Tout ça, c'est bien compliqué, mais l'important est de savoir comment ça sonne. Pour écouter ce que ça donne 
    mélodiquement, le mieux est d'écouter la gamme ascendante, puis descendante :</p>

<img src="~/img/0380_musique_tonale_cas_du_mode_mineur_8.png" />

<audio controls>
    <source src="~/audio/0325_musique_tonale_cas_mode_mineur_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0325_musique_tonale_cas_mode_mineur_1.mid">Télécharger le MIDI</a>
</div>

<p>L'échelle de notes a changé entre la montée et la descente, pourtant on ressent ça comme plutôt naturel. C'est en 
    réalité, à mon avis, très particulier et très typique de la musique occidentale, car un cas similaire de mode aussi variable 
    ne se trouve pas ailleurs, en tout cas pas à ma connaissance. Mais on l'a intériorisé, donc ça passe sans problème à nos oreilles.</p>

<p>Maintenant, voyons comme ça sonne harmoniquement :</p>

<img src="~/img/0381_musique_tonale_cas_du_mode_mineur_9.png" />

<audio controls>
    <source src="~/audio/0326_musique_tonale_cas_mode_mineur_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0326_musique_tonale_cas_mode_mineur_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0382_musique_tonale_cas_du_mode_mineur_10.png" />

<audio controls>
    <source src="~/audio/0327_musique_tonale_cas_mode_mineur_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0327_musique_tonale_cas_mode_mineur_3.mid">Télécharger le MIDI</a>
</div>

<p>Le mineur harmonique, celui qui est spécifiquement utilisé pour l'harmonie tonale, est très courant dans des styles 
    comme le métal, le rock indé, ou encore la chanson à texte. Il a cet aspect un peu romantique, bohème, ou baroque.</p>

<p>Un effet spécifique est lié au mode mineur : la <strong>tierce picarde.</strong> Le principe est de terminer un morceau 
    mineur par un accord de 1er degré, mais en majeur. L'idée est de finir un morceau sombre, car mineur, sur une ouverture 
    lumineuse, en majeur :</p>

<img src="~/img/0385_musique_tonale_cas_du_mode_mineur_13.png" />

<audio controls>
    <source src="~/audio/0328_musique_tonale_cas_mode_mineur_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0328_musique_tonale_cas_mode_mineur_4.mid">Télécharger le MIDI</a>
</div>

<p>On trouve cet effet très régulièrement dans les chorals de Bach, mais aussi, bizarrement, dans la j-pop et musiques 
    assimilées (jeux vidéo, animes, etc.).</p>

<p>Autre possibilité intéressante : moduler de majeur à mineur, et inversement. C'est ce que fait Schubert à foison, par 
    exemple. En effet, si je prends par exemple DO, les gammes de DO majeur et DO mineur ont toutes les deux le même Vème degré : 
    SOL - SI - RE. Le SI bémol de la gamme de DO mineur devient SI dans les modes mineurs mélodiques et harmoniques. On peut 
    donc passer facilement de majeur à mineur, et inversement, en modulant à partir du même accord de 5ème degré.
    
    </p>

<img src="~/img/0383_musique_tonale_cas_du_mode_mineur_11.png" />

<audio controls>
    <source src="~/audio/0329_musique_tonale_cas_mode_mineur_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0329_musique_tonale_cas_mode_mineur_5.mid">Télécharger le MIDI</a>
</div>