@{
    Layout = null;
}

<h1 class="display-4 text-center">Changer de ¤signature / de ¤tempo</h1>



<p>On n'est pas obligé de conserver la même signature rythmique pendant tout le long d'un morceau, ni même de 
    garder le même tempo. </p>

<p>Changer de tempo est peut-être une mauvaise idée dans la dance music, si on souhaite qu'elle soit ensuite 
    mixable par un DJ. Dans les autres cas, c'est un outil puissant qui permet d'éviter l'effet robotique 
    d'un séquenceur et de créer toutes sortes d'effets dans un morceau.</p>

<p>Changer de signature rythmique est un exercice difficile pour un instrumentiste. Une partition avec de 
    nombreux changements de signature rythmique est dure à lire, et dure à interpréter. Mais quand on est 
    sur un DAW, rien de plus simple... Il suffit de changer la signature, et l'ordinateur fera la transition 
    sans difficulté.</p>

<p>Un exemple de passage en 4/4 qui transite vers du 6/8 :</p>

<audio controls>
    <source src="~/audio/0140_rythme_changer_signature_tempo_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0139_rythme_changer_signature_tempo_1.mid">Télécharger le MIDI</a>
</div>

<p>Le mouvement général change. On passe de binaire à ternaire. Il y a d'autres façons de penser le passage 
    de 4/4 en 6/8. Ici, j'ai conservé la même durée pour les croches, du coup les temps s'allongent quand on 
    passe de noires(4) à noires pointées(4.). Mais on pourrait aussi décider de conserver la même pulsation 
    pour les noires et noires pointées, ce qui aboutirait à des croches plus rapides (car trois par temps au 
    lieu de deux).</p>

<p>Un autre exemple : passage de 4/4 à 7/8 :</p>

<audio controls>
    <source src="~/audio/0141_rythme_changer_signature_tempo_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0140_rythme_changer_signature_tempo_2.mid">Télécharger le MIDI</a>
</div>

<p>Ici, j'ai décidé de vraiment considérer le 7/8 comme un 4/4 tronqué. C'est donc exactement le même motif 
    dans les deux, mais le deuxième a juste la dernière croche(8) en moins.</p>

<p>Concernant le changement de tempo, il y a deux manières différentes de le faire :</p>

<ul>

    <li>En accélérant ou décélérant progressivement :<br />

        <audio controls>
            <source src="~/audio/0142_rythme_changer_signature_tempo_3.mp3" type="audio/mpeg">
        </audio>
        <div class="midi">
            <a class="btn" href="~/midi/0141_rythme_changer_signature_tempo_3.mid">Télécharger le MIDI</a>
        </div>
        <audio controls>
            <source src="~/audio/0143_rythme_changer_signature_tempo_4.mp3" type="audio/mpeg">
        </audio>
        <div class="midi">
            <a class="btn" href="~/midi/0142_rythme_changer_signature_tempo_4.mid">Télécharger le MIDI</a>
        </div>

    </li>

    <li>

        En changeant le tempo d'un coup :<br />

        <audio controls>
            <source src="~/audio/0144_rythme_changer_signature_tempo_5.mp3" type="audio/mpeg">
        </audio>
        <div class="midi">
            <a class="btn" href="~/midi/0143_rythme_changer_signature_tempo_5.mid">Télécharger le MIDI</a>
        </div>

    </li>

</ul>

<p>Vous pouvez entendre que le résultat ne choque pas particulièrement. La MAO est basée sur des grids et a 
    tendance à nous faire croire qu'une variation de tempo serait une totale déconstruction d'un morceau. En 
    fait, c'est très naturel et très utile pour créer des variations.</p>

<p>Parfois, on a une idée de développement pour un morceau. Mais quand on écrit la mélodie qu'on a en tête, 
    et qu'on l'applique au morceau, le tempo du morceau la défigure. Elle est soit trop lente, soit trop 
    rapide. Alors que dans notre tête, ça s'enchaînerait pourtant bien. Dans des cas comme ça, la solution 
    est de changer de tempo. Parfois, quelques bpm de variation seulement suffisent. Parfois c'est une 
    variation subtile que l'auditeur ne percevra pas consciemment, mais qui change tout. Et, parfois, c'est 
    un changement extrême de tempo qui fait une rupture nette. </p>