@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Chiffrage classique des ¤accords</h1>




<p>Vous avez peut-être remarqué un élément manquant dans le chiffrage des accords jazz. Quid des renversements ? 
    Effectivement, si on prend l'accord Am7 par exemple, rien ne nous dit si on joue cet accord à l'état fondamental, 
    au 1er renversement, au 2ème, etc. Et c'est voulu : le jazz et les musiques qui en découlent considèrent que le 
    renversement d'un accord est libre, à la discrétion de l'interprète. C'est un choix personnel, donc absent de la 
    notation.</p>

<p>Le chiffrage classique des accords, au contraire, est pensé de manière à préciser le renversement d'un accord. En 
    réalité, il est même pensé pour décrire les relations d'intervalles entre les notes qui constituent cet accord.</p>

<p>Prenons par exemple l'accord de DO majeur, qui en notation jazz serait simplement noté C :</p>

<img src="~/img/0357_musique_tonale_chiffrage_classique_1.png" />

<audio controls>
    <source src="~/audio/0318_musique_tonale_chiffrage_classique_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0318_musique_tonale_chiffrage_classique_1.mid">Télécharger le MIDI</a>
</div>

<p>Ici, il est à l'état fondamental. Le même accord renversé serait noté de la même manière en notation jazz :</p>

<img src="~/img/0358_musique_tonale_chiffrage_classique_2.png" />

<audio controls>
    <source src="~/audio/0319_musique_tonale_chiffrage_classique_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0319_musique_tonale_chiffrage_classique_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0359_musique_tonale_chiffrage_classique_3.png" />

<audio controls>
    <source src="~/audio/0320_musique_tonale_chiffrage_classique_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0320_musique_tonale_chiffrage_classique_3.mid">Télécharger le MIDI</a>
</div>

<p>La notation classique notait très différemment ces trois accords :</p>

<img src="~/img/0360_musique_tonale_chiffrage_classique_4.png" />

<audio controls>
    <source src="~/audio/0318_musique_tonale_chiffrage_classique_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0318_musique_tonale_chiffrage_classique_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0361_musique_tonale_chiffrage_classique_5.png" />

<audio controls>
    <source src="~/audio/0319_musique_tonale_chiffrage_classique_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0319_musique_tonale_chiffrage_classique_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0362_musique_tonale_chiffrage_classique_6.png" />

<audio controls>
    <source src="~/audio/0320_musique_tonale_chiffrage_classique_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0320_musique_tonale_chiffrage_classique_3.mid">Télécharger le MIDI</a>
</div>


<p>Ces chiffres représentent les intervalles par rapport à la note la plus grave, de bas en haut :</p>

<img src="~/img/0367_musique_tonale_chiffrage_classique_7.png" />

<audio controls>
    <source src="~/audio/0318_musique_tonale_chiffrage_classique_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0318_musique_tonale_chiffrage_classique_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0368_musique_tonale_chiffrage_classique_8.png" />

<audio controls>
    <source src="~/audio/0319_musique_tonale_chiffrage_classique_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0319_musique_tonale_chiffrage_classique_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0369_musique_tonale_chiffrage_classique_9.png" />

<audio controls>
    <source src="~/audio/0320_musique_tonale_chiffrage_classique_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0320_musique_tonale_chiffrage_classique_3.mid">Télécharger le MIDI</a>
</div>

<p>On voit bien que les accords sont pensés de manière radicalement différente. On a 3 chiffrages pour des accords
    qui seraient considérés comme identiques en jazz, et en plus, aucun de ces chiffrages n'explicite qu'il s'agit d'un 
    accord de DO !
</p>

<p>L'accord à l'état fondamental étant très courant, il est généralement abrégé en simplement 5. C'est le cas pour 
    toutes les variantes de l'accord à l'état fondamental. Par exemple, si on lui ajoute une septième, il sera 
    simplement noté 7 :</p>

<img src="~/img/0370_musique_tonale_chiffrage_classique_10.png" />

<audio controls>
    <source src="~/audio/0322_musique_tonale_chiffrage_classique_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0322_musique_tonale_chiffrage_classique_5.mid">Télécharger le MIDI</a>
</div>

<p>Si on est dans le cas d'une septième de dominante, c'est-à-dire l'accord de septième sur le Vème degré, dans ce 
    cas on ajoute un + qui représente la note sensible :</p>

<img src="~/img/0371_musique_tonale_chiffrage_classique_11.png" />

<audio controls>
    <source src="~/audio/0323_musique_tonale_chiffrage_classique_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0323_musique_tonale_chiffrage_classique_6.mid">Télécharger le MIDI</a>
</div>

<p>Comme on l'a vu dans les parties précédentes, cette note sensible doit obligatoirement être résolue à la note 
    supérieure, d'où l'importance de la différencier dans le chiffrage de l'accord.</p>

<p>L'accord diminué, c'est-à-dire avec une quinte diminuée, est noté comme un accord parfait à l'état fondamental, 
    mais barré :</p>

<img src="~/img/0372_musique_tonale_chiffrage_classique_12.png" />

<audio controls>
    <source src="~/audio/0324_musique_tonale_chiffrage_classique_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0324_musique_tonale_chiffrage_classique_7.mid">Télécharger le MIDI</a>
</div>

<p>Etc. On ne va pas ici voir l'étendue de cette notation, ce n'est pas l'objet et ça ne vous servira probablement 
    jamais à rien. C'est juste un exemple d'une manière différente de penser des accords de celle qui provient du 
    jazz. Elle apporte d'autres précisions, pense les accords différemment. S'il y a bien une conclusion à tirer de 
    tout ce chapitre, c'est que la musique tonale et sa théorie, présentées comme universelles depuis plus de trois 
    siècles maintenant, est en réalité très spécifique à certaines musiques, et elle-même pensée différemment en 
    fonction des époques et des styles. Ce n'est pas "la théorie de la musique", mais "une théorie de la musique". 
    Elle ne décrit pas toutes les musiques mais seulement certaines, dont la majorité est de plus en plus incertaine. 
    La présente théorie, décrite dans les chapitres précédents, propose une alternative.</p>
