@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Chiffrage des ¤accords depuis le jazz</h1>

<p>
    Les règles qu'on a vues jusqu'ici concernent les musiques des XVIIIème et XIXème siècle, ainsi que toutes musiques
    du XXème siècle qui s'en inspirent, notamment les musiques de film. Un style en particulier a considérablement enrichi
    (et, dieu merci, assouplit) la musique tonale : c'est le jazz. Aujourd'hui, pour un apprenti musicien, il y a
    deux écoles : d'un côté le Conservatoire qui se focalise quasi exclusivement sur les musiques des XVIII et XIXème
    siècles, et de l'autre les écoles privées plus axés sur le jazz. En fait, le jazz est considéré comme le père de
    tout autre style moderne - à raison jusqu'aux divers sous-genres du rock et du métal, mais à tort quand on commence
    à entrer dans le rap, la dance music, l'ambient ou encore la noise, qui n'ont pas grand chose à voir avec le jazz.
    C'est aussi le fondement théorique de ce qu'on nomme la "variété" à défaut d'autre nom, et ça le restera probablement
    pour longtemps encore, car il s'est crystalisé dans l'enseignement de la même manière que la théorie classique.
</p>

<p>On a vu plusieurs accords jusqu'ici en empilant des tierces : accord parfait, accord de septième, de neuvième... 
    Pour revoir comment obtenir ces accords, vous pouvez vous reporter à la partie "Accords de 4 notes et plus" du 
    chapitre "Polyphonie et harmonie".</p>

<p>La musique tonale a intégralement rationalisé la manière de construire des accords pour permettre de tous les nommer, 
    du moins ceux qui entrent dans le cadre de sa théorie. On nomme "chiffrage" cette manière de décrire, nommer et 
    classifier les accords. Pour la majorité des musiques d'aujourd'hui, on utilise le chiffrage des accords issu du jazz : 
    c'est pour ça qu'on verra ceux-là dans un premier temps. Dans la partie suivante, on verra le chiffrage classique, 
    qui suit une logique différente pour décrire les mêmes accords. On ne verra pas le chiffrage baroque, 
    qui est encore autre chose. L'important est de se rappeler qu'il n'existe pas une seule manière de décrire des 
    accords, de les penser et de les nommer.</p>

    <br />
    <hr />
<br />

<p>La première chose à connaître pour lire le chiffrage jazz, c'est le nom anglais des notes. DO RE MI FA SOL LA SI 
    deviennent, en anglais, C D E F G A B. Le chiffrage d'un accord commencera toujours par sa note fondamentale, 
    écrite ainsi, en lettre. Un accord construit sur la fondamentale DO, quel qu'il soit, commencera donc toujours par C.
    On précise si cette note est bémol ou dièse avec "b" ou "#", par exemple : Ab ou C# pour LA bémol ou DO dièse.
</p>

<p>Après avoir précisé la fondamentale, on précise si l'accord est majeur ou mineur, c'est-à-dire si sa tierce est 
    majeure ou mineure. Il y a plusieurs écoles concernant la manière d'écrire cette différence. Par exemple, certains écrivent 
    EM pour un accord de MI majeur, et Em pour un accord de MI mineur. La convention la plus partagée est cependant 
    d'écrire E tout seul pour majeur, et Em pour mineur.</p>

<p>Après la précision majeur/mineur, on ajoute si nécessaire la valeur de la dernière note. Par exemple, si on ajoute 7, 
    c'est un accord de septième. Si on ajoute 9, c'est un accord de neuvième.</p>

<img src="~/img/0334_musique_tonale_chiffrage_jazz_1.png" />

<audio controls>
    <source src="~/audio/0295_musique_tonale_chiffrage_jazz_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0295_musique_tonale_chiffrage_jazz_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0335_musique_tonale_chiffrage_jazz_2.png" />

<audio controls>
    <source src="~/audio/0296_musique_tonale_chiffrage_jazz_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0296_musique_tonale_chiffrage_jazz_2.mid">Télécharger le MIDI</a>
</div>

<p>On peut également préciser, pour un accord de septième, si cette septième est majeure ou mineure. Sans indication, 
    comme ci-dessus, la septième est mineure par défaut. Si on remplace le "7" par "maj7", la septième sera majeure, donc 
    un demi-ton au-dessus.
</p>

<p>Avec ces 3 éléments de notation, on note la majorité des accords. C'est en quelque sorte la notation standard. 
    Ensuite, on peut modifier cet accord standard par une série de notations codifiées. On va en voir quelque exemples.</p>

<p>On peut finalement décider de remplacer la tierce par la seconde ou la quarte. Dans ce cas, on dit que c'est un 
    accord suspendu. Pourquoi ? Car remplacer la tierce par la seconde ou la quarte, c'est en réalité créer un retard. 
    C'est une tension, et la résolution est le retour à la tierce. Mais, dans le jazz et les musiques qui en découlent, 
    rien n'est très strict. On peut ne pas résoudre cette tension, a fortiori dans le jazz qui est un style à tension 
    permanente.</p>

<p>Comme il s'agit d'accords suspendus, on va noter ça avec l'abréviation "sus". On précise ensuite si on remplace la 
    tierce par la seconde, ou par la quarte.</p>

<img src="~/img/0336_musique_tonale_chiffrage_jazz_3.png" />

<audio controls>
    <source src="~/audio/0297_musique_tonale_chiffrage_jazz_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0297_musique_tonale_chiffrage_jazz_3.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0337_musique_tonale_chiffrage_jazz_4.png" />

<audio controls>
    <source src="~/audio/0298_musique_tonale_chiffrage_jazz_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0298_musique_tonale_chiffrage_jazz_4.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0338_musique_tonale_chiffrage_jazz_5.png" />

<audio controls>
    <source src="~/audio/0299_musique_tonale_chiffrage_jazz_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0299_musique_tonale_chiffrage_jazz_5.mid">Télécharger le MIDI</a>
</div>

<p>On peut aussi décider de rajouter une note. Par exemple, on prend un accord de septième et on y ajoute une quarte : </p>

<img src="~/img/0339_musique_tonale_chiffrage_jazz_6.png" />

<audio controls>
    <source src="~/audio/0300_musique_tonale_chiffrage_jazz_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0300_musique_tonale_chiffrage_jazz_6.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0340_musique_tonale_chiffrage_jazz_7.png" />

<audio controls>
    <source src="~/audio/0301_musique_tonale_chiffrage_jazz_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0301_musique_tonale_chiffrage_jazz_7.mid">Télécharger le MIDI</a>
</div>

<p>Enfin, on peut citer les accords diminués. Remarquez que jusqu'ici, on a précisé quasiment toutes les notes de chaque 
    accord, à l'exception de la quinte. C'est parce que, dans l'immense majorité des cas, la quinte ne change pas. La 
    seule exception sont les accords diminués. On utilise l'abréviation "dim" :</p>

<img src="~/img/0341_musique_tonale_chiffrage_jazz_8.png" />

<audio controls>
    <source src="~/audio/0302_musique_tonale_chiffrage_jazz_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0302_musique_tonale_chiffrage_jazz_8.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0342_musique_tonale_chiffrage_jazz_9.png" />

<audio controls>
    <source src="~/audio/0303_musique_tonale_chiffrage_jazz_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0303_musique_tonale_chiffrage_jazz_9.mid">Télécharger le MIDI</a>
</div>

<p>Remarquez que quand un accord est diminué, on ne précise pas sa tierce, car elle sera toujours mineure. On pourrait 
    techniquement faire un accord avec une tierce majeure et une quinte diminuée, mais cet accord "n'existe pas" : 
    il n'a pas de chiffrage et ne sera jamais joué, tant qu'on reste dans une musique strictement tonale.</p>

<p>Pour finir, je pense que le mieux est de voir dans la pratique plusieurs accords avec leur chiffrage, pour mieux 
    comprendre le fonctionnement. Accessoirement, ça permet d'en entendre plein, et de peut-être vous permettre d'en 
    noter certains que vous apprécierez plus que d'autres. Je vais les construire chaque fois en plusieurs étapes, 
    complexifiant à chaque fois l'accord de départ avec de nouvelles précisions.</p>

<br />

<h3>Construction par étapes de l'accord : Cmaj7sus4</h3>
<br />
<img src="~/img/0343_musique_tonale_chiffrage_jazz_10.png" />

<audio controls>
    <source src="~/audio/0304_musique_tonale_chiffrage_jazz_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0304_musique_tonale_chiffrage_jazz_10.mid">Télécharger le MIDI</a>
</div>

<p><i>Rappel : "maj7" signifie : septième majeure. On a donc un SI. En revanche, pour un accord 
    "C7", on aurait une septième mineure, c'est-à-dire diminuée d'un demi-ton. On aurait donc un 
    SI bémol.
</i></p>

<img src="~/img/0344_musique_tonale_chiffrage_jazz_11.png" />

<audio controls>
    <source src="~/audio/0305_musique_tonale_chiffrage_jazz_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0305_musique_tonale_chiffrage_jazz_11.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0345_musique_tonale_chiffrage_jazz_12.png" />

<audio controls>
    <source src="~/audio/0306_musique_tonale_chiffrage_jazz_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0306_musique_tonale_chiffrage_jazz_12.mid">Télécharger le MIDI</a>
</div>

<br />

<h3>Construction par étapes de l'accord : Am7add2</h3>
<br />
<img src="~/img/0346_musique_tonale_chiffrage_jazz_13.png" />

<audio controls>
    <source src="~/audio/0307_musique_tonale_chiffrage_jazz_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0307_musique_tonale_chiffrage_jazz_13.mid">Télécharger le MIDI</a>
</div>

<p><i>Rappel : L'accord majeur contient une tierce majeure, qui vaut 2 tons. En partant de LA, si on compte deux tons,
     on obtient DO dièse.
</i></p>

<img src="~/img/0347_musique_tonale_chiffrage_jazz_14.png" />

<audio controls>
    <source src="~/audio/0308_musique_tonale_chiffrage_jazz_14.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0308_musique_tonale_chiffrage_jazz_14.mid">Télécharger le MIDI</a>
</div>

<p>
    <i>
        Rappel : L'accord mineur contient une tierce mineure, qui vaut 1,5 tons. Ici, on diminue donc la tierce d'un demi-ton. 
    </i>
</p>

<img src="~/img/0348_musique_tonale_chiffrage_jazz_15.png" />

<audio controls>
    <source src="~/audio/0309_musique_tonale_chiffrage_jazz_15.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0309_musique_tonale_chiffrage_jazz_15.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0349_musique_tonale_chiffrage_jazz_16.png" />

<audio controls>
    <source src="~/audio/0310_musique_tonale_chiffrage_jazz_16.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0310_musique_tonale_chiffrage_jazz_16.mid">Télécharger le MIDI</a>
</div>

<br />

<h3>Construction par étapes de l'accord : Bdim7</h3>
<br />
<p>
    <i>
        Rappel : La quinte vaut 3,5 tons. En partant de SI, pour obtenir la quinte, on a donc un FA dièse.
    </i>
</p>

<img src="~/img/0350_musique_tonale_chiffrage_jazz_17.png" />

<audio controls>
    <source src="~/audio/0311_musique_tonale_chiffrage_jazz_17.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0311_musique_tonale_chiffrage_jazz_17.mid">Télécharger le MIDI</a>
</div>

<p>
    <i>
        Rappel : l'élément "dim" veut dire qu'on diminue la quinte d'un demi-ton, mais aussi qu'on rend 
        mineure la tierce si elle ne l'était pas déjà.
    </i>
</p>

<img src="~/img/0351_musique_tonale_chiffrage_jazz_18.png" />

<audio controls>
    <source src="~/audio/0312_musique_tonale_chiffrage_jazz_18.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0312_musique_tonale_chiffrage_jazz_18.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0352_musique_tonale_chiffrage_jazz_19.png" />

<audio controls>
    <source src="~/audio/0313_musique_tonale_chiffrage_jazz_19.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0313_musique_tonale_chiffrage_jazz_19.mid">Télécharger le MIDI</a>
</div>

<br />

<h3>Construction par étapes de l'accord : D9add2</h3>
<br />

<img src="~/img/0354_musique_tonale_chiffrage_jazz_21.png" />

<audio controls>
    <source src="~/audio/0315_musique_tonale_chiffrage_jazz_21.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0315_musique_tonale_chiffrage_jazz_21.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0355_musique_tonale_chiffrage_jazz_22.png" />

<audio controls>
    <source src="~/audio/0316_musique_tonale_chiffrage_jazz_22.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0316_musique_tonale_chiffrage_jazz_22.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0356_musique_tonale_chiffrage_jazz_23.png" />

<audio controls>
    <source src="~/audio/0317_musique_tonale_chiffrage_jazz_23.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0317_musique_tonale_chiffrage_jazz_23.mid">Télécharger le MIDI</a>
</div>

<p>
    Les chiffrages jazz des accords ont souvent tendance à faire peur. Effectivement, quand on lit "Cmaj7sus4", on
    peut se dire que c'est ultra complexe. En réalité, on a vu que si on fonctionne étape par étape, c'est finalement 
    assez simple. Maintenant que vous connaissez ces quelques signes, vous pouvez sur un clavier essayer de construire 
    des accords et voir ce qui vous plaît ou non. En manipulant les seuls signes de cette page, vous pouvez construire 
    la majorité des accords existants.</p>

