@{
    Layout = null;
}


<h1 class="display-4 text-center">La construction progressive</h1>


<p>Encore une technique beaucoup utilisée par Steve Reich : la construction progressive d'un pattern, en ajoutant les notes 
    (ou les accords) au fur et à mesure au fil des répétitions. </p>

<p>Le procédé est très simple : on remplit petit à petit le même espace de temps (une mesure par exemple) avec les éléments d'un 
    pattern, jusqu'à ce qu'il soit entièrement constitué.
</p>

<audio controls>
    <source src="~/audio/0260_repetition_construction_progressive_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0260_repetition_construction_progressive_1.mid">Télécharger le MIDI</a>
</div>

<p>Ici, on construit le pattern progressivement en ajoutant les éléments un par un, toutes les 4 répétitions.</p>

<p>On peut aussi le construire en ajoutant éléments dans le désordre :</p>

<audio controls>
    <source src="~/audio/0261_repetition_construction_progressive_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0261_repetition_construction_progressive_2.mid">Télécharger le MIDI</a>
</div>

<p>Ça permet de faire ressortir les mélodies émergentes qu'on veut en les proposant d'abord "à nu". </p>

<p>La construction progressive est d'autant plus intéressante quand on la superpose au pattern complet. Dans le prochain 
    exemple, le piano va jouer un pattern à deux mélodies superposées. La flûte va jouer à terme la mélodie du haut au 
    complet. Mais elle va arriver en construction progressive :</p>

<audio controls>
    <source src="~/audio/0262_repetition_construction_progressive_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0262_repetition_construction_progressive_3.mid">Télécharger le MIDI</a>
</div>

<p>Comme on connaît le pattern complet, on perçoit vraiment les notes de la flûte comme des mélodies émergentes. Chaque 
    nouvelle note de la flûte met en valeur une note du pattern. Puis, progressivement, la flûte se fond dans le pattern, et 
    l'auditeur est laissé à sa liberté d'écouter les mélodies qu'il préfère : celles que jouaient la flûte, ou d'autres.</p>

<p>Le piano utilise des accords. Il y a donc bien plus de notes que la seule mélodie du dessus. On peut décider, avec 
    la flûte, de jouer des notes prises au sein des accords, plutôt que celles du haut. On peut aussi jouer ces notes 
    à différents octaves, toujours en ne jouant strictement que des notes du pattern d'origine.
</p>

<audio controls>
    <source src="~/audio/0263_repetition_construction_progressive_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0263_repetition_construction_progressive_4.mid">Télécharger le MIDI</a>
</div>

<br />

<p>Le procédé inverse est évidemment possible et idéal pour faire disparaître progressivement un instrument :</p>

<audio controls>
    <source src="~/audio/0264_repetition_construction_progressive_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0264_repetition_construction_progressive_5.mid">Télécharger le MIDI</a>
</div>

<p>Un autre procédé très intéressant serait de continuellement modifier les notes du pattern jouées par la flûte, faisant 
    apparaître plein de variations alors qu'en réalité, il n'y a jamais une note différente du pattern qui tourne au piano : </p>

<audio controls>
    <source src="~/audio/0265_repetition_construction_progressive_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0265_repetition_construction_progressive_6.mid">Télécharger le MIDI</a>
</div>

<p>C'est une manière de faire ressortir des mélodies émergentes, cette fois-ci dont la durée dépasse celle du pattern.</p>