@{
    Layout = null;
}

<h1 class="display-4 text-center">Le ¤contrepoint</h1>



<p>Le <strong>contrepoint</strong> est une autre manière de superposer des mélodies. Au lieu d'avoir deux mélodies 
    parallèles, c'est-à-dire qui suivent le même mouvement, on a deux mélodies réellement distinctes qui n'ont pas le 
    même mouvement.</p>

<p>Une première forme de contrepoint serait l'exacte inverse des mélodies parallèles : la deuxième mélodie aurait un 
    <strong>mouvement contraire</strong> à la première. Le procédé est très clair visuellement sur un pianoroll. Voilà la 
    mélodie initiale :</p>

<img src="~/img/0177_harmonie_contrepoint_1.png" />

<audio controls>
    <source src="~/audio/0167_harmonie_contrepoint_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0167_harmonie_contrepoint_1.mid">Télécharger le MIDI</a>
</div>

<p>Et maintenant la même mélodie harmonisée avec une mélodie en mouvement contraire en dessous : </p>

<img src="~/img/0178_harmonie_contrepoint_2.png" />

<audio controls>
    <source src="~/audio/0168_harmonie_contrepoint_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0168_harmonie_contrepoint_2.mid">Télécharger le MIDI</a>
</div>


<p>Les mouvements contraires sont très puissants. Ils permettent à la fois d'harmoniser une mélodie, mais aussi d'en créer 
    une nouvelle radicalement différente. On peut ensuite se servir de cette nouvelle mélodie seule, ailleurs dans le morceau,
    avec la certitude qu'elle fonctionnera aussi bien que la mélodie d'origine. Voilà la nouvelle mélodie créée en mouvement 
contraire de la première, et maintenant isolée :</p>

<img src="~/img/0179_harmonie_contrepoint_3.png" />

<audio controls>
    <source src="~/audio/0169_harmonie_contrepoint_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0169_harmonie_contrepoint_3.mid">Télécharger le MIDI</a>
</div>


<p>Pour créer un mouvement contraire sur un pianoroll, on peut se fier directement à ses yeux. Il faut inverser le mouvement 
    de l'autre mélodie. Par contre, il ne faut utiliser que les notes de la gamme. Pour l'instant, toutes les gammes qu'on 
    utilise sont constituées des touches blanches uniquement. Donc on cherchera à inverser le mouvement d'une mélodie tout en 
    restant strictement sur les touches blanches :</p>

<img src="~/img/0180_harmonie_contrepoint_4.png" />
<img src="~/img/0181_harmonie_contrepoint_5.png" />
<img src="~/img/0182_harmonie_contrepoint_6.png" />
<img src="~/img/0183_harmonie_contrepoint_7.png" />
<img src="~/img/0184_harmonie_contrepoint_8.png" />

<p>Etc.</p>

<p>Pour que ça fonctionne bien, il faut respecter les consonnances et dissonances qu'on a pu définir. On va donc privilégier, 
    dans notre cas, les accords de tierce, de sixte, de quarte et de quinte, entre la mélodie de base et sa version contraire. 
    Aussi, il est généralement préférable de <strong>placer les consonnances sur les temps forts de la signature 
        rythmique</strong>, c'est-à-dire les pulsations, et les autres intervalles sur les contre-temps. La note avec laquelle 
        on va démarrer le mouvement contraire est donc déterminante : mieux vaut choisir une note qui créera une consonnance 
        avec la 1ère note de la mélodie de base.
</p>

<p>Mais, jusqu'ici, on est un peu trop scolaire. En réalité, c'est préférable de varier un peu. On peut avoir des passages 
    en mouvement contraire et d'autres en notes parallèles. On peut aussi ne pas suivre strictement le même rythme. Voilà 
    une nouvelle mélodie de base :</p>

<img src="~/img/0186_harmonie_contrepoint_11.png" />

<audio controls>
    <source src="~/audio/0172_harmonie_contrepoint_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0172_harmonie_contrepoint_6.mid">Télécharger le MIDI</a>
</div>

<p>Et maintenant, on l'harmonise avec une seconde mélodie en dessous, en alternant mouvements contraires et notes parallèles, 
    ainsi qu'en variant le rythme des deux mélodies : </p>

<img src="~/img/0185_harmonie_contrepoint_9.png" />

<audio controls>
    <source src="~/audio/0170_harmonie_contrepoint_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0170_harmonie_contrepoint_4.mid">Télécharger le MIDI</a>
</div>

<p>D'ailleurs, puisqu'on parle de varier le rythme : vous vous souvenez de la syncope ? Créer des syncopes entre deux 
    mélodies peut être intéressant. Pour ça, on donne le même rythme aux deux mélodies, mais on décale certains passages 
    (et donc, on crée donc des syncopes). </p>

<img src="~/img/0186_harmonie_contrepoint_10.png" />

<audio controls>
    <source src="~/audio/0171_harmonie_contrepoint_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0171_harmonie_contrepoint_5.mid">Télécharger le MIDI</a>
</div>
