@{
    Layout = null;
}

<h1 class="display-4 text-center">Le ¤cross-transpose</h1>



<p>Je me fais plaisir pour finir ce chapitre avec un procédé que j'ai nommé le cross-transpose. Il n'a rien de révolutionnaire, 
    son principe est très simple et utilisé par bien d'autres compositeurs que moi, mais je ne l'ai trouvé mentionné ni 
    nommé nulle part. C'est pourtant un outil extrêmement puissant.
</p>

<p>Pourquoi "cross-transpose" ? On a vu que pour transposer à la quinte supérieure, par exemple, on monte de 7 demi-tons. 
    Mais si on a un morceau fourni, avec plusieurs instruments, tout monter de 7 demi-tons est trop brusque. Voilà un 
    exemple pour comprendre l'effet que ça fait :
</p>

<audio controls>
    <source src="~/audio/0275_transposition_cross_transpose_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0275_transposition_cross_transpose_1.mid">Télécharger le MIDI</a>
</div>

<p>Pourquoi pas. Mais voyons maintenant ce que ça donne en utilisant, à la place, le cross-transpose : </p>

<audio controls>
    <source src="~/audio/0276_transposition_cross_transpose_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0276_transposition_cross_transpose_2.mid">Télécharger le MIDI</a>
</div>

<p>Quelle différence entre les deux ? C'est simple, dans le premier exemple, on a monté tous les instruments à la quinte supérieure. 
    Dans le second, on a monté certains instruments à la quinte supérieure, mais on a baissé d'autres à la quarte inférieure. Pourtant, 
    sont bien sur la nouvelle gamme. Rappelez-vous, quinte supérieure et quarte inférieure aboutissent à la même note :
</p>

<img src="~/img/0306_transposition_cycle_des_quintes_3.png" />

<p>Ici, on passe de DO à SOL dans les deux cas. Simplement, certains passent à SOL dans les aigus, d'autres à SOL dans les graves.</p>

<p>Si je schématise les deux exemples audio ci-dessus, ça donnerait ça : </p>

<img src="~/img/0311_transposition_crosstranspose_1.png" />

<img src="~/img/0312_transposition_crosstranspose_2.png" />

<p>On remarque deux caractéristiques du cross-transpose :</p>
<ul>
    <li>Le morceau reste sensiblement à la même hauteur. On n'a plus ce mouvement général vers les aigus du premier exemple.</li>
    <li>Les instruments peuvent parfois leur place dans l'arrangement. L'effet peut être génial comme désastreux selon les cas.</li>
</ul>

<p>Ce n'est donc pas une recette magique : parfois, ça ne fonctionnera pas, simplement parce que l'état du morceau au moment de 
    la transposition n'est pas propice. Il faut donc tester pour voir le résultat. Ensuite, on peut ajuster, ou abandonner. A noter 
    que sur le schéma ci-dessus, on a croisé respectivement les instruments 1 & 2 et les instruments 3 & 4. D'autres croisements 
    sont possibles et sonneront mieux selon les situations. Et, évidemment, en fonction du nombre d'instruments, on aura plus ou 
    moins de possibilités.
</p>