@{
    Layout = null;
}

<h1 class="display-4 text-center">La ¤transposition : Définition et histoire</h1>

<p>Ce chapitre sera le plus technique. En réalité, la transposition est responsable d'une grande 
    partie de la complexité de la théorie musicale.</p>

<p>Jusqu'ici, j'ai utilisé uniquement les touches blanches du piano, et donc que des notes à l'état 
    "normal", qui ne sont ni dièses ni bémols. J'ai fait ce choix pour expliquer ce qui me paraît le plus essentiel 
    en l'isolant de toute autre complexité supplémentaire. Aborder la transposition <i>après</i> avoir compris tout 
    le reste me paraît beaucoup plus intuitif. Sinon, on se retrouve à passer son temps à se demander quelles sont 
    les notes de la gamme, où sont les dièses et les bémols, et donc à oublier tout le reste, qui est pourtant 
    beaucoup plus important et beaucoup plus simple. Une bonne part de musiciens est intimidée par la théorie de la 
    musique à cause de cet aspect.</p>

<p>On a vu qu'en réalité, construire une gamme, un mode ou des accords repose sur des principes très 
    simples, qui ne va pas beaucoup plus loin que de compter jusqu'à 7. Maintenant, on va pouvoir aborder 
    pourquoi ça peut paraître si complexe une fois qu'on utilise des dièses et des bémols, et pourquoi c'est 
    en fait tout aussi simple une fois qu'on a compris le principe.</p>

<p><b>La transposition</b> est le fait de reproduire un élement musical (mélodie, accord...) en le 
déplaçant plus haut ou plus bas. Je peux jouer une mélodie en commençant par DO, mais je peux aussi 
le jouer en commençant par FA : 
</p>

<audio controls>
    <source src="~/audio/0267_transposition_definition_et_histoire_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0267_transposition_definition_et_histoire_1.mid">Télécharger le MIDI</a>
</div>

<audio controls>
    <source src="~/audio/0268_transposition_definition_et_histoire_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0268_transposition_definition_et_histoire_2.mid">Télécharger le MIDI</a>
</div>

<p>C'est la même mélodie dans les deux exemples : on la reconnaît bien. La première fois, elle commence par DO, et la 
    seconde fois, elle commence par SOL. <b>Une mélodie est donc indépendante des notes qui la composent.</b> 
    Nous allons voir dans ce chapitre qu'<b>une mélodie est en réalité une succession d'intervalles.</b> Cela vaut 
    aussi pour les accords.
</p>

<p>Mais avant, je pense qu'il est intéressant de savoir <i>pourquoi</i>. <b>Ceux qui préfèrent passer directement à la 
    pratique peuvent passer à la page suivante, car ce qui suit n'est qu'une explication historique, idéale pour
        comprendre le pourquoi, mais facultative si on souhaite seulement savoir utiliser la transposition.
    </b>
</p>

<br />
<hr />
<br />

<p>Au Moyen-Âge, la question de la transposition ne se posait pas. Les deux exemples ci-dessus seraient notés 
    de manière strictement identiques. Ce qui est logique : il s'agit de la même mélodie. Selon les chanteurs 
    ou les instruments utilisés, la mélodie est jouée plus aigue ou plus grave, mais c'est toujours la même 
    mélodie et elle est toujours écrite de la même manière. Quand la polyphonie s'est développée au XIIème siècle, 
    les chanteurs se donnaient un point de repère pour que les intervalles sonnent tels qu'ils étaient prévus. 
    Ce point de repère était à la discrétion des musiciens et en aucun cas précisé sur la partition (qui, de toute 
    façon, n'était pas vraiment utilisée pour la pratique musicale, laquelle se faisant par mémorisation orale plutôt 
    qu'à la lecture). Cela ne posait aucun problème car la musique était pensée pour la voix, les instruments étant 
    facultatifs et ne faisant que jouer sensiblement la même chose que les voix.
</p>

<p>
    A partir de la période baroque, la <strong>musique instrumentale</strong>, c'est-à-dire la musique
    écrite spécifiquement pour des instruments et non pour des 
    voix, prend de plus en plus d'ampleur. C'est aussi à cette époque qu'apparaissent les premiers orchestres, donc 
    des ensembles d'instruments plus volumineux et variés. Le problème, c'est que contrairement aux voix, les instruments 
    ne peuvent pas jouer n'importe quelle fréquence, ou du moins pas avec la même aisance. Un clavecin, par exemple, ne 
    peut pas jouer une fréquence se situant entre son MI et son FA, alors qu'une voix n'a aucune contrainte à 
    le faire. Il est limité par son clavier. Un luth a des frettes comme la guitare actuelle : il peut tordre les  
    fréquences prévues avec des bends par exemple, mais son jeu standard, le plus confortable, est d'utiliser les 
    frettes pour séparer ses notes. Pareil pour une flûte qui est prévue pour être jouée en bouchant les trous au 
    complet, même si les boucher partiellement permet de jouer d'autres fréquences. Seuls quelques instruments ont 
    la même liberté que la voix dans les fréquences jouées : les instruments à cordes frottées comme le violon, par 
    exemple, ou le trombone, ou encore une basse fretless.
</p>

<p>Bref : contrairement à la voix, à l'exception de quelques-uns, les instruments ont des notes prédéfinies dont ils 
    ne peuvent que difficilement sortir, sinon pas du tout. Ils ont aussi chacun une "gamme naturelle", celle avec 
    laquelle il sera le plus facile de jouer. Par exemple, sur un instrument à vent, ce sont les trous principaux 
    en dehors de tout mécanisme et avec le souffle le plus détendu. Pour une guitare, ce sont les positions les plus 
    confortables pour la main gauche qui sont privilégiées. Donc, pour une mélodie donnée, un instrument aura 
    tendance à privilégier une note de référence plutôt qu'une autre, et ces références diffèrent entre les instruments, 
    ce qui posent évidemment des problèmes quand on veut les faire jouer ensemble.
</p>

<p>Un bon exemple pour mieux comprendre tout ça, c'est les instruments à vent qui ont plusieurs versions possibles. 
    Par exemple, il existe des saxophones allant du plus grave au plus aigu : basse, ténor, alto, soprano. Le même 
    doigté sur ces saxophones fera sonner une note différente selon la version. Donc, si on joue la même mélodie, 
    en utilisant exactement le même doigté, sur ces quatres saxophones, on n'aura pas les mêmes notes à l'oreille, mais 
    bien la même mélodie. Pourtant, un saxophoniste aura la sensation de jouer les mêmes notes, et sa partition sera 
    écrite de la même manière, par convention et par praticité. Donc : un DO joué sur ces 4 saxophones ne sera pas le 
    même DO à l'oreille.
</p>

<p>
    Imaginons maintenant qu'on veuille jouer un morceau pour saxophone et piano, et que ce morceau est en DO. Si on 
    a un saxophone ténor, son DO à lui sonnera comme un SI bémol. Il faut donc que le piano s'adapte. C'est à ce 
    moment qu'il va faire une <strong>transposition</strong> : il va faire en sorte de reproduire la même chose en 
    partant de SI bémol au lieu de DO. C'est donc un décalage de toutes les notes vers le bas. On verra qu'entre DO 
    et SI bémol, il y a un intervalle d'un ton. Le piano doit donc décaler <i>toutes</i> ses notes d'un ton en dessous 
    pour être en phase avec le saxophone ténor. Il fera la même chose s'il doit s'adapter à la zone de confort d'un 
    chanteur ou d'une chanteuse. Et, pour ça, il doit utiliser les touches noires. On verra pourquoi.
</p>

<p>
    Au fil de l'époque baroque, la <strong>musique tonale</strong> se construit, et ses bases seront fixées à la toute 
    fin avec la musique de Bach, qui a été prise comme référence pour construire toute la théorie musicale des deux 
    siècles suivants, et qui est encore aujourd'hui enseignée dans ce qu'on appelle le <strong>solfège</strong>. La 
    musique tonale a cela de particulier qu'elle utilise la transposition dans le discours musical lui-même, et non 
    plus seulement comme un outil pratique. On change de référentiel de notes au cours d'un même morceau, et donc 
    on change de gamme. C'est là que la transposition devient vraiment intéressante pour un compositeur, car elle 
    devient un outil directement incorporé au discours musical.
</p>

<p>Autour de la même période, les fréquences utilisées sont elles-même standardisées. A l'époque baroque, il 
    existait plusieurs références très variables selon les régions. A partir de la période classique, tout converge 
    vers le même standard. Le LA du milieu du clavier, par exemple, a pour fréquence 440hz, avec de très faibles 
    différences à quelques Hz près selon l'époque et la région. Ce n'était pas le cas auparavant, et c'est maintenant 
    le cas encore aujourd'hui. Ce qui fait que, pour un morceau donné, on peut choisir une hauteur objective pour la 
    mélodie (et le reste), plutôt qu'une hauteur relative comme c'était le cas dans le passé. On peut décider que 
    tout un morceau sera invariablement en gamme de MI bémol, simplement parce qu'on trouve que ça sonne mieux à 
    cette hauteur que si on était en DO. Les musiciens peuvent transposer s'ils le souhaitent ou si c'est 
nécessaire, mais c'est au dépens d'une version "canon" donnée par le compositeur. Pour la majorité de la musique 
d'aujourd'hui, qui n'est plus divisée entre compositeurs et interprètes, un morceau sera toujours à la même 
hauteur et, le plus souvent, n'aura qu'une seule et unique version, fixée sur un disque ou de manière dématérialisée.</p>

<p>Dans ce chapitre, nous verrons surtout les fondements techniques de la transposition, et un exemple pratique 
    d'utilisation de celle-ci dans le discours musical à travers le <strong>cycle des quintes</strong>, qui est 
    ce que, personnellement, j'utilise à foison. Pour le reste, on le verra dans le chapitre sur la musique tonale.
</p>