@{
    Layout = null;
}



<h1 class="display-4 text-center">La ¤répétition modulaire : définition</h1>




<p>La <strong>répétition modulaire</strong> est un type de répétition qui se distingue par la courte durée de ses occurrences. 
    On nomme ces occurences des <strong>patterns</strong>.</p>

<p>En réalité, la répétition est fondamentale en musique et se retrouve partout. La plupart des structures musicales sont 
    basées sur des répétitions : c'est par exemple le cas traditionnel des chansons en couplets-refrains. La répétition se 
    trouve aussi à un niveau plus micro, au sein même des mélodies et des accords.</p>

<p>La répétition modulaire se distingue des autres parce qu'elle se compose de courtes séquences répétées qui sont considérées 
    comme des briques à assembler. Les patterns sont, en un sens, la plus petite division d'un morceau. Plutôt que construire 
    un morceau en assemblant des notes, on construit le morceau en répétant des patterns.</p>

<p>Les exemples les plus évidents de musiques construites de cette manière sont : la dance music dans son ensemble, le 
    minimalisme répétitif de compositeurs comme Steve Reich ou Simeon Ten Holt, le reggae et ses dérivés, une bonne part des 
    musiques traditionnelles d'Afrique et d'Amérique du Sud, une part du krautrock et du post-rock, et les instrus de rap. Ce 
    qui fait énormément de musiques, in fine, alors que la répétition modulaire n'a quasiment jamais existé avant le XXème 
    siècle en Europe. Aujourd'hui, on l'entend partout autour de nous.</p>

<p>Et pourtant, la répétition modulaire ne figure nulle part dans les théories de la musique. C'est pourquoi, ici, j'ai décidé 
    d'y consacrer un chapitre.</p>