@{
    Layout = null;
}

<h1 class="display-4 text-center">Les ¤degrés</h1>



<p>Les sept notes d'une gamme ont un nom qui provient la plupart du temps de leur place dans cette gamme : on parle de 
    tierce pour la 3ème note, quarte pour la 4ème, quinte pour la 5ème, etc. Pour les accords, on part du même principe. Mais 
    pour faire la différence, on change les termes.</p>

<p>L'avantage des noms des 7 accords parfaits d'une gamme (un par note), c'est que leur nomination est beaucoup plus simple :</p>

<ul>
    <li>Ier degré</li>
    <li>IIème degré</li>
    <li>IIIème degré</li>
    <li>IVème degré</li>
    <li>Vème degré</li>
    <li>VIème degré</li>
    <li>VIIème degré</li>
</ul>

<p>Pourquoi des chiffres romains ? Je ne sais pas. C'était classe à l'époque, sans doute.</p>

<p>L'avantage de parler avec des degrés, comme de parler avec des tierces ou des quintes pour les notes, c'est qu'on 
    classifie les accords par leur rôle grammatical, et non par les notes qui les constituent. Ca veut dire que selon la 
    gamme utilisée, le même degré ne sera pas constitué des mêmes notes. Tout comme, dans une gamme sur LA, on aura la 
    fondamentale sur LA, mais dans une gamme sur MI, on aura la fondamentale sur MI.</p>

<p>Prenons un exemple où nous sommes dans une gamme de MI, en mode de MI, on a vu qu'on peut construire des accords sur 
    chacune des notes. Ils seront nommés Ier, IIème, IIIème degrés, etc.</p>

<img src="~/img/0215_harmonie_degres_1.png" />
<img src="~/img/0216_harmonie_degres_2.png" />
<img src="~/img/0217_harmonie_degres_3.png" />
<img src="~/img/0218_harmonie_degres_4.png" />
<img src="~/img/0219_harmonie_degres_5.png" />
<img src="~/img/0220_harmonie_degres_6.png" />
<img src="~/img/0221_harmonie_degres_7.png" />

<p>Rappel : l'accord construit sur SI n'est pas parfait, car SI - FA ne forment pas une quinte mais une quinte diminuée. 
    Cependant, un degré n'est pas forcément un accord parfait, donc on le compte dans les 7 degrés.</p>

<p>Mais si on prend un autre exemple, où on est en gamme de SOL sur mode de SOL, les degrés seront les suivants :</p>

<img src="~/img/0222_harmonie_degres_8.png" />
<img src="~/img/0223_harmonie_degres_9.png" />
<img src="~/img/0224_harmonie_degres_10.png" />
<img src="~/img/0225_harmonie_degres_11.png" />
<img src="~/img/0226_harmonie_degres_12.png" />
<img src="~/img/0227_harmonie_degres_13.png" />
<img src="~/img/0228_harmonie_degres_14.png" />

<p>L'accord MI - SOL - SI était le Ier degré en gamme de MI, alors qu'exactement le même accord est le VIème degré en 
     gamme de RE. Il n'a donc pas le même rôle grammatical en fonction des modes.</p>

<p>Comme chacune des notes a un rôle pour la mélodie, chacun des degrés a un rôle pour l'harmonie. Ces rôles dépendent 
    évidemment du style, mais on peut noter quand même des généralités. C'est ce qu'on va voir dans la partie 
    suivante sur les <strong>enchaînements d'accords</strong>.</p>