@{
    Layout = null;
}

<h1 class="display-4 text-center">Déplacer la ¤fondamentale</h1>


<p>Vous vous souvenez du <strong>bourdon</strong> ? Cette note fondamentale maintenue dans les graves pour soutenir une
    mélodie dans une gamme donnée ? Qu'est-ce qu'il se passe si on joue une autre note que la fondamentale ?</p>

<p>On a vu le bourdon dans le chapitre sur les modes et intervalles, et on l'a aussi entendu dans la partie sur la mélodie. 
    En soi, le bourdon crée déjà une polyphonie : c'est une note différente de la mélodie, jouée en même temps que celle-ci. 
    On a donc deux notes simultanées tout le long de la mélodie.</p>

<p>J'ai aussi précisé la nature "universelle" du bourdon, le fait qu'on le retrouve a priori dans toutes les cultures, et le 
    fait qu'on l'a tellement intériorisé qu'il est ressenti même si on ne le joue pas. Jouer le bourdon, c'est simplement 
    matérialiser la fondamentale d'une gamme. Sans bourdon, cette fondamentale existe toujours.</p>

<p>Avec tous ces rappels, on peut donc comprendre pourquoi <strong>changer le bourdon, c'est changer la fondamentale</strong>.</p>

<audio controls>
    <source src="~/audio/0161_harmonie_deplacer_la_fondamentale_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0161_harmonie_deplacer_la_fondamentale_1.mid">Télécharger le MIDI</a>
</div>

<p>Dans cet exemple, on est en mode de LA, basé sur la fondamentale LA. Le bourdon est donc au départ sur LA. Puis il passe 
    à la note du dessous, SOL. Subitement, c'est comme si on changeait d'univers. C'est parce que l'oreille perçoit SOL 
    comme une nouvelle fondamentale et change de contexte en conséquence : les rôles de chaque note ont changé, puisque ces 
    rôles dépendent de la fondamentale. Par exemple, avec la fondamentale LA, MI était la quinte. Avec la fondamentale SOL,
    la quinte est désormais RE. On était en mode de LA, et on est passé en mode de SOL. D'ailleurs, ce faisant, on est passé 
    de mineur à majeur, car le mode de LA est mineur et le mode de SOL est majeur. C'est pour ça que, si vous le ressentez 
    comme moi, il y a subitement une éclaircie, quelque chose de plus léger et lumineux.</p>

<p>Mais en réécoutant l'exemple, est-ce que vous imaginez le morceau se terminer comme ça ? C'est possible, mais ce serait
    surprenant. En réalité, l'oreille a envie de revenir sur la fondamentale LA. On a envie de quelque chose comme ça :</p>

<audio controls>
    <source src="~/audio/0162_harmonie_deplacer_la_fondamentale_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0162_harmonie_deplacer_la_fondamentale_2.mid">Télécharger le MIDI</a>
</div>

<p>Les choses sont revenues au point de départ. Le moment en SOL était une déviation du chemin, mais pour mieux
    revenir ensuite.</p>

<p>En fait, la plupart du temps, quand l'oreille a perçu le contexte initial d'un morceau, elle le conserve en tâche de fond. 
    Donc, même si temporairement la fondamentale est SOL, l'oreille "sait" que la "vraie" fondamentale est LA. S'éloigner de
    la fondamentale LA crée une <strong>tension harmonique</strong> appelant une <strong>résolution</strong>, de la même 
    manière que les tensions et résolutions qu'on a vues dans le cadre de la mélodie, et celles qu'on a vues dans le cadre 
    du rythme. On crée une situation anormale faisant désirer le retour à la normale.</p>

<p>On a déplacé la note fondamentale à la note du dessous. Mais on peut la déplacer sur n'importe quelle note de la gamme. A 
    chaque fois, le ressenti sera différent. Quelques exemples où la fondamentale est d'abord LA, puis une autre note de la 
    gamme, puis revient sur LA (sachant que tous ces enchaînements peuvent être utilisés sur l'importe quelle gamme : on les 
    retrouve en convertissant les notes par leur rôle dans la gamme) :</p>

<br />

<h3>Fondamentale LA - FA - LA (1 - 6 - 1)</h3>

<audio controls>
    <source src="~/audio/0163_harmonie_deplacer_la_fondamentale_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0163_harmonie_deplacer_la_fondamentale_3.mid">Télécharger le MIDI</a>
</div>

<h3>Fondamentale LA - DO - LA (1 - 3 - 1)</h3>

<audio controls>
    <source src="~/audio/0164_harmonie_deplacer_la_fondamentale_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0164_harmonie_deplacer_la_fondamentale_4.mid">Télécharger le MIDI</a>
</div>

<h3>Fondamentale LA - RE - LA (1 - 4 - 1)</h3>

<audio controls>
    <source src="~/audio/0165_harmonie_deplacer_la_fondamentale_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0165_harmonie_deplacer_la_fondamentale_5.mid">Télécharger le MIDI</a>
</div>

<p>Chaque note de la gamme aura un effet différent une fois utilisée comme nouvelle fondamentale. Testez les toutes pour 
    définir celles qui vous parlent. Je sais que, personnellement, je ne les aime pas toutes.</p>

<p>On peut aussi passer par plusieurs changements de fondamentale avant de revenir sur l'originale :</p>

<h3>Fondamentale LA - FA - SOL - LA (1 - 6 - 7 - 1)</h3>

<audio controls>
    <source src="~/audio/0166_harmonie_deplacer_la_fondamentale_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0166_harmonie_deplacer_la_fondamentale_6.mid">Télécharger le MIDI</a>
</div>