@{
    Layout = null;
}


<h1 class="display-4 text-center">Les enchaînements de tonalités</h1>



<p>Les enchaînements d'accords se font au sein d'une même tonalité. Mais on a précisé qu'en musique tonale, on 
    change aussi parfois de tonalité au sein d'un même morceau. Quand c'est le cas, cela veut dire que 
    <strong>tous les accords changent de rôle</strong>, et toutes les notes également. On a changé de 
    gamme, d'échelle de notes. On a changé de contexte grammatical. Et ce, au milieu du morceau !</p>

<p>Prenons un exemple en DO majeur. Les notes et degrés sont les suivants :</p> 

@**@

<p>Le début de notre morceau 
    utilisera les accords des différents degrés de cette gamme. Par exemple, on va faire un enchaînement 
    I - IV - V - I :</p>

@**@

<p><i>Si vous avez oublié comment on trouve les degrés et comment on construit les accords, c'est décrit 
    dans le chapitre "Polyphonie et harmonie", partie "Les degrés".</i></p>

<p>Jusqu'ici, rien de particulier : on est bien en DO majeur. On va maintenant poursuivre ce morceau en 
    changeant de tonalité. On va passer en SOL majeur. Les notes et degrés de la gamme sont les suivants :</p>

@*clavier avec les notes + les degrés*@

<p>Pour changer de tonalité, la technique la plus utilisée est de passer par une cadence, donc un 
    enchaînement V - I, dans la nouvelle tonalité : </p>

@**@

<p>On appelle <strong>modulation</strong> un changement de tonalité qui survient au milieu du 
    morceau. Dans notre exemple, la modulation se fait de manière fluide car on utilise la forte 
    tension provoquée par une cadence. En utilisant l'accord de dominante (Vème degré) de la nouvelle 
    gamme, on prépare l'oreille à cette nouvelle gamme, car on crée une tension dont la résolution sera le 
    Ier degré de la nouvelle gamme.</p>

@**@

<p>C'est d'autant plus vrai quand on fait une septième de dominante, avec deux tensions à résoudre.</p>

@**@

<p>On est donc passé de DO majeur à SOL majeur. A présent, on peut continuer le morceau en SOL majeur, en 
    utilisant les nouveaux degrés de la même manière que d'habitude. On suit le cycle vu dans la partie 
    précédente.</p>

@*suite du morceau avec des cycles en SOL majeur*@

<p>Après une ou plusieurs modulations, on finit par retourner à la tonalité d'origine. On va donc 
    repasser en DO majeur. Pour ça, on va encore utiliser un enchaînement V - I :</p>

@**@

<br />

<p>Ce n'est pas pour rien qu'on est passé de DO majeur à SOL majeur. C'est parce que SOL, c'est le Vème 
    degré de DO. C'est la modulation la plus évidente : le passage à la quinte supérieure. Entre les notes de la gamme de DO majeur 
    et les notes de la gamme de SOL majeur, il n'y a qu'une note de différence : le FA, qui devient dièse en 
    gamme de SOL. De manière générale, plus la gamme vers laquelle on module est proche de la gamme 
    d'origine, plus la modulation se fait "naturellement", sans perturber le fil du discours. A l'inverse, 
    plus la gamme est éloignée, plus on crée de surprise.</p>

<p>Exemple d'une modulation plus surprenante, car deux gammes très différentes : </p>

@**@

<p>C'est une modulation très utilisée par Bartok, qui la considérait comme toute aussi naturelle et fluide 
    qu'une modulation sur le Vème degré. Un bon exemple de combien ces choses sont subjectives
    car, selon la théorie classique, cette modulation serait au contraire la plus extrême.
</p>

<p>Enfin, on fait la différence entre modulation et <strong>emprunt</strong>. Une modulation est un réel 
    changement de tonalité touchant un passage complet d'un morceau. Un emprunt est une simple parenthèse, 
    sur un ou deux accords seulement, utilisant une autre tonalité mais sans s'attarder dessus. De manière 
plus simple, on peut dire qu'un emprunt est une modulation très courte.</p>

<p>Si je mentionne les emprunts, c'est parce qu'ils seront très employés dans l'harmonie jazz qu'on va voir dans 
    la partie "Chiffrage des accords depuirs le jazz".
</p>