@{
    Layout = null;
}


<h1 class="display-4 text-center">Les enchaînements d'accords</h1>



<p>N'importe quelle succession des degrés d'une gamme est possible. Il y a toutefois, comme pour la mélodie, de fortes 
    tendances. C'est la raison pour laquelle des centaines de milliers de morceaux peuvent utiliser le même enchaînement.</p>

<p>Je vais faire une petite entorse à l'introduction et commencer par des enchaînements qui, je pense, ne sont pas ceux que 
    vous cherchez. On y viendra un peu plus bas.</p>

<p>Les enchaînements d'accords suivent généralement un cycle dont la forme la plus basique est :</p>
<p>I - V - I</p>

<img src="~/img/0229_harmonie_enchainements_accords_1.png"/>


<p>Le 1er degré est évidemment un état initial et une conclusion, puisqu'il est construit sur la fondamentale. Le Vème degré 
    est construit sur la quinte, et se résout la plupart du temps sur le 1er degré. Je vais faire les exemples en gamme de 
    DO sur mode de DO, on verra juste après pourquoi :</p>

<img src="~/img/0230_harmonie_enchainements_accords_2.png" />

<img src="~/img/0231_harmonie_enchainements_accords_3.png" />

<img src="~/img/0233_harmonie_enchainements_accords_4.png" />

<audio controls>
    <source src="~/audio/0205_harmonie_enchainements_accords_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0205_harmonie_enchainements_accords_1.mid">Télécharger le MIDI</a>
</div>

<p>On obtient une succession d'accords plus fluide si on utilise les notes les plus rapprochées possibles : on privilégie 
    les notes conjointes et, quand il y a des notes utilisées dans les deux accords, on les conserve à leur place. Pour ça, 
    on utilise les renversements :</p>

    
<img src="~/img/0234_harmonie_enchainements_accords_5.png" />

<audio controls>
    <source src="~/audio/0206_harmonie_enchainements_accords_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0206_harmonie_enchainements_accords_2.mid">Télécharger le MIDI</a>
</div>

<p>Rappelons nous aussi qu'une succession d'accords est, en réalité, une superposition de mélodies. Donc, la plupart du 
    temps, <strong>s'il y a des notes créant des tensions dans un accord, on va résoudre cette tension dans l'accord 
        suivant</strong> :</p>

<img src="~/img/0235_harmonie_enchainements_accords_6.png" />

<audio controls>
    <source src="~/audio/0206_harmonie_enchainements_accords_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0206_harmonie_enchainements_accords_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0236_harmonie_enchainements_accords_7.png" />

<audio controls>
    <source src="~/audio/0207_harmonie_enchainements_accords_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0207_harmonie_enchainements_accords_3.mid">Télécharger le MIDI</a>
</div>

<p>Maintenant qu'on a notre squelette I - V - I, un enchaînement d'accord suivra généralement le mouvement suivant :</p>

<img src="~/img/0237_harmonie_enchainements_accords_8.png" />

<p>Grosso modo, on aura un court voyage harmonique d'un ou plusieurs accords entre Ier et Vème degré, et une fois enfin 
    arrivé au Vème degré, on conclut sur Ier degré.</p>

<p>Le VIème degré est parfois utilisé pour remplacer le 1er degré.</p>

<img src="~/img/0238_harmonie_enchainements_accords_9.png" />

<p>Et voilà, le schéma est complet.</p>

<p>Voilà deux exemples d'enchaînements suivant cette logique :</p>

<h2>I - IV - V - I</h2>

<img src="~/img/0239_harmonie_enchainements_accords_10.png" />

<audio controls>
    <source src="~/audio/0208_harmonie_enchainements_accords_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0208_harmonie_enchainements_accords_4.mid">Télécharger le MIDI</a>
</div>

<br />

<h2>VI - II - IV - V - I</h2>

<img src="~/img/0240_harmonie_enchainements_accords_11.png" />

<audio controls>
    <source src="~/audio/0209_harmonie_enchainements_accords_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0209_harmonie_enchainements_accords_5.mid">Télécharger le MIDI</a>
</div>

<p>Ici j'ai élargi les deux derniers accords pour créer une conclusion plus marquée. Les notes de ces accords sont bien les 
    notes de l'accord parfait, simplement disposées autrement. N'hésitez pas à élargir vos accords plutôt que resserer les 
    notes.
</p>

<br />

<p>Ce type de cycle harmonique est omniprésent dans ce qu'on appelle musique classique, dans la chanson, dans la variété, 
    dans le jazz, dans les musiques de film. On le verra plus en détail dans la partie sur la <strong>musique tonale</strong>. 
    J'ai utilisé uniquement le mode de DO dans les exemples pour ces raisons. La musique tonale n'utilise que deux modes, 
    et le mode de DO est le plus utilisé.</p>
<p>
    C'est important de connaître ce cycle car il peut être utile même en dehors de ces contextes, et aussi parce que c'est la 
    manière dont l'harmonie est traditionnellement enseignée. <strong>Cependant, pour les musiques qui nous intéressent, 
        listées dans l'introduction, ce n'est pas toujours pertinent</strong>. Tout n'est pas à jeter, mais on aura beaucoup 
        plus de souplesse sur certains points, et des nouvelles règles plus strictes sur d'autres. Je vais les appeler des 
        <strong>règles modales</strong>, mais sachez que c'est bien mon invention, et qu'elles se basent sur ma propre 
        sensibilité.</p>

<br />
<br />

<h4><strong>Règle modale n°1</strong> : On n'est pas toujours obligé d'arriver vers le Vème degré</h4>

<p>On peut même ne pas l'utiliser du tout. Il reste un des degrés qu'on utilisera le plus souvent, mais il n'est pas 
    obligatoire comme dans la musique tonale. Il ne crée pas une véritable tension appelant une résolution sur le 1er degré, 
    sauf peut-être dans les modes de DO et FA.</p>
<br />

<h4><strong>Règle modale n°2</strong> : La plupart du temps, deux accords suffisent.</h4>

<p>Parfois même, un seul. On ira très rarement au-dessus de quatre. Quelques exemples avec deux accords en gamme de LA sur 
    mode de LA (chacun répété quatre fois):</p>

<p><strong>Enchaînement I - IV</strong></p>

<img src="~/img/0241_harmonie_enchainements_accords_12.png" />

<audio controls>
    <source src="~/audio/0210_harmonie_enchainements_accords_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0210_harmonie_enchainements_accords_6.mid">Télécharger le MIDI</a>
</div>

<p><strong>Enchaînement I - V</strong></p>

<img src="~/img/0242_harmonie_enchainements_accords_13.png" />

<audio controls>
    <source src="~/audio/0211_harmonie_enchainements_accords_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0211_harmonie_enchainements_accords_7.mid">Télécharger le MIDI</a>
</div>

<p><strong>Enchaînement I - VII</strong></p>

<img src="~/img/0243_harmonie_enchainements_accords_14.png" />

<audio controls>
    <source src="~/audio/0212_harmonie_enchainements_accords_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0212_harmonie_enchainements_accords_8.mid">Télécharger le MIDI</a>
</div>

<p>Et un exemple très utilisé avec trois accords : VI - VII - I</p>

<img src="~/img/0244_harmonie_enchainements_accords_15.png" />

<audio controls>
    <source src="~/audio/0213_harmonie_enchainements_accords_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0213_harmonie_enchainements_accords_9.mid">Télécharger le MIDI</a>
</div>

<p>Gardez en tête que l'ordre des notes que j'utilise dans ces exemples n'en est qu'un parmi des centaines d'autres. Essayez 
    de déplacer certaines note à une octave au-dessus ou en dessous, essayez les renversements, etc. Il y a mille manières 
    d'enchaîner les mêmes accords. <strong>Concentrez-vous sur la mélodie de chaque partie de l'accord</strong> : les notes 
    du dessous, les notes du milieu, les notes du dessus forment trois mélodies superposées. Dans les exemples ci-dessus, les 
    mélodies sont plates et les accords pensés comme des blocs à assembler. Pourquoi pas, mais on peut faire 
    autrement. Voilà un exemple de l'enchaînement I - V répété quatre fois, mais avec des mélodies un peu plus 
    variées, créant des variations de renversement des accords :
</p>

<img src="~/img/0245_harmonie_enchainements_accords_16.png" />

<audio controls>
    <source src="~/audio/0214_harmonie_enchainements_accords_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0214_harmonie_enchainements_accords_10.mid">Télécharger le MIDI</a>
</div>

<p>Et maintenant, la même chose avec plus de liberté dans les mélodies, en jouant majoritairement les notes des accords 
    mais pas que, car souplesse : j'utilise notamment notes de passage, retards et anticipations (cf. chapitres sur les modes 
    et intervalles et sur la mélodie)
</p>

<img src="~/img/0247_harmonie_enchainements_accords_19.png" />

<audio controls>
    <source src="~/audio/0215_harmonie_enchainements_accords_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0215_harmonie_enchainements_accords_11.mid">Télécharger le MIDI</a>
</div>

<br />

<h4><strong>Règle modale n°3</strong> : Le VIIème degré est très utilisé et crée une tension appelant une résolution 
    vers le Ier degré.</h4>

<img src="~/img/0247_harmonie_enchainements_accords_18.png" />

<audio controls>
    <source src="~/audio/0217_harmonie_enchainements_accords_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0217_harmonie_enchainements_accords_13.mid">Télécharger le MIDI</a>
</div>

<br />

<h4><strong>Règle modale n°4</strong> : Les enchaînements les plus évidents sur un mode ne le sont peut-être pas sur un 
    autre.</h4>

<p>Les enchaînements de 2 accords fonctionnent dans tous les modes, mais ce n'est pas forcément le cas quand on en utilise plus. 
    Chaque mode a ses propres tensions / résolutions, ses propres pesanteurs, donc les chemins les plus pertinants diffèrent. 
    Par exemple, en mode de MI, l'enchaînement III - II - I est très naturel et beaucoup utilisé :
</p>

<img src="~/img/0246_harmonie_enchainements_accords_17.png" />

<audio controls>
    <source src="~/audio/0216_harmonie_enchainements_accords_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0217_harmonie_enchainements_accords_13.mid">Télécharger le MIDI</a>
</div>

<p>C'est parce que, comme on l'a vu dans le chapitre sur les modes et intervalles, le mode de MI a une forte pesanteur vers le 
    bas. On a trois accords qui descendent pour arriver sur l'accord du 1er degré. Le même enchaînement est tout à fait 
    possible dans d'autres modes mais n'aura pas le même impact. 
</p>

<p>Une bonne chose à faire est de passer quelques temps sur chaque mode à enchaîner les accords des différents degrés pour 
    définir ceux qu'on préfère. Personnellement, je n'utilise quasiment que les modes de LA et RE, et je n'utilise quasiment 
    que les enchaînements suivants pour les deux : 
</p>
<ul>
    <li>I - V</li>
    <li>I - VII</li>
    <li>VI - VII - I</li>
</ul>