@{
    Layout = null;
}

<h1 class="display-4 text-center">Exemples de théories non-occidentales</h1>

<p>Cette partie est à prendre avec beaucoup de pincettes car je ne suis pas du tout spécialiste des musiques dont je 
    vais parler. Je ne vais faire qu'évoquer quelques exemples qui m'ont inspiré, tels que je les ai compris, et dans 
    tous les cas ça n'est pas du tout représentatif de l'immensité de choses à dire sur des musiques issues d'autres 
    cultures que la nôtre, qui ont très probablement le même niveau de complexité accumulé au fil des siècles.</p>

<br />

<h3>Les modes mélodiques et rythmiques indiens</h3>

<p>Commençons par les modes mélodiques. On a vu que la théorie occidentale compte aujourd'hui soit 2 modes (musique 
    tonale), soit 7 modes (musique modale), plus rarement 14 modes si on inclut les modes de Messiaen. Dans la musique 
    traditionnelle indienne du Sud, par exemple, on dénombre pas moins de 72 modes, nommés les râga, classés en 10 
    catégories, les thâts. Les thâts sont différentes configurations de 7 notes, et correspondent donc à ce qu'on 
    appellerait nous des modes. Les râga n'ont pas d'équivalent chez nous et sont des précisions plus fines : le nombre 
    de notes permettant de définir si le mode sera joué en version pentatonique (5 notes uniquement sur les 7), 
    sextatonique (6 notes uniquement dans les 7), ou complète, ainsi que la définition d'une une note principale et une 
    note secondaire. Et, surtout, un râga s'interprête : c'est un peu comme si c'était un morceau. On dit qu'on joue un 
    râga. C'est à dire improviser avec de nombreuses contraintes définies par le râga, généralement dans des durées bien 
    plus longues que celles usuelles chez nous, jusqu'à plusieurs heures. Cette improvisation se fait en 4 parties 
    distinctes, dont la première est la lente révélation du râga dans lequel joue le musicien : en quelque sorte, un 
    déploiement progressif des notes du thât, des relations entre ces notes, etc.</p>

<p>Les modes rythmiques sont nommés les tâla. C'est un système correspondant à ce qu'on avait vu dans la partie sur les 
    signatures rythmiques, quand on pensait une signature en le divisant en plusieurs blocs. Par exemple, 7/8 pensé 
    comme un assemblage d'un bloc de 4 croches(8) et d'un bloc de 3 croches(8). De la même manière ici on va par exemple 
    avoir un tâla constitué de 16 temps divisés en quatre groupes de quatre. Une spécificité est que les tâla comportent 
    généralement bien plus de temps que nos signatures rythmiques usuelles. Il peut y avoir des signatures à plus de 20 
    temps, par exemple.</p>



<br />

<h3>La musique traditionnelle japonaise</h3>

<p>La musique traditionnelle japonaise a cela d'intéressant que ses fondements sont presque opposés aux nôtres. Là où 
    l'Occident recherche des notes stables, le Japon recherche les sons variables et glissés ; là où l'Occident cherche 
    une régularité rythmique (le tempo), le Japon enchaîne systématiquement des accélérations et des décélérations ; là 
    où l'Occident fait évoluer ses instruments vers toujours plus d'étouffement de ce qu'il considère comme des bruits 
    parasites (en fait vers une forme de pureté, christianisme oblige), le Japon développe une lutherie qui met en 
    premier plan les attaques, les gestes du musicien et les craquements des instruments.</p>

<!-- Résumé ici de divers trucs de mes fiches de lecture du Japon (ou les articles braisn) -->
<!--extraits vidéo-->

<br />

<h3>Musiques très éloignées des nôtres</h3>

<p>J'aime bien citer l'exemple des chants de femmes Inuit pour montrer à quel point ce qui est considéré comme musique 
    peut différer d'une culture à l'autre. Et aussi, malheureusement, combien ces différences ont été réduites à quasi 
    néant depuis la mondialisation de la culture musicale occidentale, jusqu'à dissoudre les autres cultures dans de
    vagues copies occidentalisées avec pour unique but d'évoquer l'exotisme.</p>

<p>Je ne peux rien vous apprendre sur cette musique, car je ne la connais pas. C'est juste une belle représentation de 
    la diversité qu'on a bientôt intégralement perdue :</p>

<!--extrait vidéo-->

<p>Autre exemple : la cithare goemungo dans la musique traditionnelle coréenne. Musique dont je ne connais rien non plus, 
    qui est a priori très raffinée, parfois même utilisée pour représenter la grandeur du pouvoir en place, et qui 
    pourtant pourrait sonner à nos oreilles comme la musique expérimentale la plus extrême : </p>

<!--extrait vidéo ou audio-->