@{
    Layout = null;
}


<h1 class="display-4 text-center">Exemples de schémas</h1>


<p>Une mélodie ne vient jamais de nulle part. Elle n'est, en fait, qu'un assemblage de différentes choses 
    entendues par le compositeur.</p>

<p>Il existe des schémas et motifs particulièrement utilisés. On pourrait les considérer comme des clichés, 
    mais ils sont tellement utilisés que ça va au-delà de ça. Ils font partie désormais d'un langage 
    mélodique commun, que tout le monde connaît sans avoir même à y réfléchir. Pourtant, pour un compositeur, 
    savoir comment les construire est très utile.</p>

<p>Ce qu'on va voir ici, c'est différents schémas permettant de faire monter ou descendre la mélodie de
    différentes manières. C'est aussi des schémas très utilisés en improvisation, ou pour écrire des solos.</p>

<br />

<h4>Schéma n°1 : Montées ou descentes successives</h4>

<p>L'idée des montées successives est d'enchaîner un certain nombre de notes, redescendre, puis enchaîner le 
    même nombre de notes, etc. Par exemple, si on part sur des montées de 3 notes, on aura :</p>

<p>1 2 3 <br />2 3 4 <br />4 5 6 <br />Etc.</p>

<img src="~/img/0080_melodie_schemas_1.png" />

<audio controls>
    <source src="~/audio/0054_melodie_schemas_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0054_melodie_schemas_1.mid">Télécharger le MIDI</a>
</div>

<p>La même logique inversée :</p>

<img src="~/img/0081_melodie_schemas_2.png" />

<audio controls>
    <source src="~/audio/0055_melodie_schemas_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0055_melodie_schemas_2.mid">Télécharger le MIDI</a>
</div>

<p>Ce motif aura des effets très différents selon la vitesse. Utilisé très vite, il est idéal au milieu de 
    solos :</p>

<img src="~/img/0082_melodie_schemas_3.png" />

<audio controls>
    <source src="~/audio/0056_melodie_schemas_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0056_melodie_schemas_3.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0083_melodie_schemas_4.png" />

<audio controls>
    <source src="~/audio/0057_melodie_schemas_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0057_melodie_schemas_4.mid">Télécharger le MIDI</a>
</div>

<p>Pour cette raison, je vais alterner entre différentes vitesses quand je présenterai les schémas suivants. 
    Il faut garder en tête que ces schémas ont du sens quelle que soit la vitesse à laquelle ils sont joués. 
    Leur rigueur logique fait que l'oreille les comprend instantanément. L'effet, en revanche, sera très 
    différent.</p>

<p>On peut garder une logique similaire, mais avec des montées plus ou moins longues de notes.</p>

<p>Par exemple, montées de 4 :</p>

<img src="~/img/0084_melodie_schemas_5.png" />

<audio controls>
    <source src="~/audio/0058_melodie_schemas_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0058_melodie_schemas_5.mid">Télécharger le MIDI</a>
</div>

<p>La même logique inversée :</p>

<img src="~/img/0085_melodie_schemas_6.png" />

<audio controls>
    <source src="~/audio/0059_melodie_schemas_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0059_melodie_schemas_9.mid">Télécharger le MIDI</a>
</div>

<p>Montées de 5 :</p>

<img src="~/img/0086_melodie_schemas_7.png" />

<audio controls>
    <source src="~/audio/0060_melodie_schemas_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0060_melodie_schemas_10.mid">Télécharger le MIDI</a>
</div>

<p>La même logique inversée :</p>

<img src="~/img/0087_melodie_schemas_8.png" />

<audio controls>
    <source src="~/audio/0061_melodie_schemas_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0061_melodie_schemas_11.mid">Télécharger le MIDI</a>
</div>

<br />
<h4>Schéma n°2 : Montées ou descentes par intervalles</h4>

<p>L'idée des montées par intervalles est d'enchaîner un même intervalle en montant la gamme progressivement.</p>

<p>Par exemple, pour des tierces, on va faire :</p>

<p>1 vers 3</p>
<p>2 vers 4</p>
<p>3 vers 5</p>
<p>Etc.</p>

<p>Visuellement, sur le clavier, une tierce est toujours la même position de doigts. On enfonce une note, on 
    en saute une, et on enfonce celle d'après. Entre les deux d'une tierce, il y a une seule note. Entre 1 et
    3, il y a 2, entre 2 et 4, il y a 3, etc. Ce sera sans doute plus parlant avec un pianoroll :</p>

<img src="~/img/0088_melodie_schemas_9.png" />

<audio controls>
    <source src="~/audio/0062_melodie_schemas_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0062_melodie_schemas_12.mid">Télécharger le MIDI</a>
</div>

<p>La même chose inversée pour les descentes de tierces :</p>

<img src="~/img/0089_melodie_schemas_10.png" />

<audio controls>
    <source src="~/audio/0063_melodie_schemas_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0063_melodie_schemas_13.mid">Télécharger le MIDI</a>
</div>

<p>On peut appliquer ce principe sur tous les intervalles.</p>
<p>Montées de quartes :</p>

<img src="~/img/0090_melodie_schemas_11.png" />

<audio controls>
    <source src="~/audio/0064_melodie_schemas_14.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0064_melodie_schemas_14.mid">Télécharger le MIDI</a>
</div>

<p>Descentes de quartes : </p>

<img src="~/img/0091_melodie_schemas_12.png" />

<audio controls>
    <source src="~/audio/0065_melodie_schemas_15.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0065_melodie_schemas_15.mid">Télécharger le MIDI</a>
</div>

<p>On peut aussi enchaîner les intervalles avec toujours la même note de base, en montant et descendant :</p>

<img src="~/img/0092_melodie_schemas_13.png" />

<audio controls>
    <source src="~/audio/0066_melodie_schemas_16.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0066_melodie_schemas_16.mid">Télécharger le MIDI</a>
</div>

<p>Et l'inverse, on gardant la même nom en haut cette fois :</p>

<img src="~/img/0093_melodie_schemas_14.png" />

<audio controls>
    <source src="~/audio/0067_melodie_schemas_17.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0067_melodie_schemas_17.mid">Télécharger le MIDI</a>
</div>

<p>Tous ces schémas sont autant de manières de mettre en valeur une gamme. C'est un peu comme des variantes 
    de ce qui consisterait en simplement jouer la gammes vers le haut ou vers le bas. C'est extrêmement 
    utilisé en impro parce que c'est très facile à utiliser, et ça peut avoir un gros effet sur un public. 
    On entend plein de notes, mais elles restent intelligibles grâce à la simplicité arithmétique de leur 
    construction. </p>