@{
    Layout = null;
}



<h1 class="display-4 text-center">¤Extension et ¤régression</h1>



<p>En appliquant des variations infimes d'un pattern, on obtient une <strong>extension</strong> de la séquence répétitive. 
    Par exemple, on peut modifier une seule note d'un pattern toutes les 2 répétitions, aboutissant donc à des plus larges 
    répétitions de 2 mesures. Prenons ce pattern initial :</p>

<audio controls>
    <source src="~/audio/0254_repetition_extension_regression_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0254_repetition_extension_regression_1.mid">Télécharger le MIDI</a>
</div>

<p>Maintenant, toutes les 2 répétitions, on fait une légère varition :</p>

<audio controls>
    <source src="~/audio/0255_repetition_extension_regression_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0255_repetition_extension_regression_2.mid">Télécharger le MIDI</a>
</div>

<p>On a changé que 2 notes, mais la perception change. Les répétitions de 2 patterns sont maintenant perçues comme une plus 
    large cellule, elle-même répétée. On peut poursuivre sur la même logique et faire une légère variation toutes les 4 mesures :
</p>

<audio controls>
    <source src="~/audio/0256_repetition_extension_regression_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0256_repetition_extension_regression_3.mid">Télécharger le MIDI</a>
</div>

<p>Maintenant, on a encore une cellule plus large de 4 mesures, elle-même répétée.</p>

<p>On peut aussi ne pas toucher au pattern initial, mais utiliser d'autres pistes pour créer cette sensation d'allongement. 
    Par exemple, on garde le même pattern d'une mesure, mais on lui superpose un autre pattern de deux mesures :</p>

<audio controls>
    <source src="~/audio/0257_repetition_extension_regression_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0257_repetition_extension_regression_4.mid">Télécharger le MIDI</a>
</div>

<p>Là aussi, on aboutit à une extension de la séquence répétitive.</p>

<p><i>Encore un petit aparté sur le rythme : ces exemples sont en 5/4, voyez une nouvelle fois comme ça peut sonner naturellement et sans 
    paraître plus complexe qu'une autre signature rythmique.</i></p>

<br />

<p>Les <strong>régressions</strong> suivent la logique inverse. On va diminuer le pattern pour resserrer les répétitions. 
    Par exemple, prenons un pattern, qu'on va diviser par deux toutes les 4 répétitions : </p>

<audio controls>
    <source src="~/audio/0258_repetition_extension_regression_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0258_repetition_extension_regression_5.mid">Télécharger le MIDI</a>
</div>

<p>Petit à petit, la cellule de répétition rétrécit. C'est un procédé qu'on trouve beaucoup dans les (mauvais) tubes des années 90 
    pour mener vers un drop. Concrètement, c'est encore une nouvelle forme de tension, et la résolution est le retour au 
    pattern complet.</p>

<p><i>Un dernier aparté sur le rythme : cet exemple est en 4/4, alors que le rythme paraît plus alambiqué qu'au dessus. 
    Bref, les signatures rythmiques quelles qu'elles soient ne créent pas intrinsèquement de complexité ou de simplicié.
</i></p>

<br />

<p>Une autre régression que j'aime bien, c'est de ne supprimer progressivement que la dernière note. Petit à petit, le 
    pattern rétrécit, et la signature rythmique aussi :
</p>

<audio controls>
    <source src="~/audio/0259_repetition_extension_regression_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0259_repetition_extension_regression_6.mid">Télécharger le MIDI</a>
</div>