@{
    Layout = null;
}



<h1 class="display-4 text-center">Les ¤gammes ¤pentatoniques</h1>



<p>Le principe des gammes pentatoniques généralement utilisé, c’est de choisir 5 notes dans une octave de 
    telle sorte à qu’il n’y ait jamais un demi-ton entre deux notes. Donc, si on prend uniquement les touches
    blanches, on n’aura jamais un MI et un FA dans la même gamme, ni un SI et un DO. </p>

<p>On peut construire un grand nombre de gammes pentatoniques. On choisit d’abord une note de départ, appelée
    la <strong>fondamentale</strong>. Puis on choisit une combinaison de notes qui ne contiendrait pas de 
    demi-ton. Sur les touches blanches, tant qu’on n’a pas MI + FA, ni SI + DO, c’est ok.</p>

<p>Si on part de DO, on peut avoir :</p>

<p><strong>DO</strong> – RE – MI – SOL – LA</p>

<img src="~/img/0005_pentatonique_do_1.png" />

<img src="~/img/0006_pentatonique_do_1_full.png" />

<p>Extrait sonore avec la fondamentale DO tenue dans les graves, et une mélodie utilisant cette gamme 
    par-dessus :</p>

<audio controls>
    <source src="~/audio/0002_melodie_en_mode_pentatonique_sur_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0002_melodie_en_mode_pentatonique_sur_do.mid">Télécharger le MIDI</a>
</div>

<p>Mais on peut aussi avoir :</p>

<p><strong>DO</strong> – RE – FA – SOL – LA</p>

<img src="~/img/0007_pentatonique_do_2.png" />

<img src="~/img/0008_pentatonique_do_2_full.png" />

<audio controls>
    <source src="~/audio/0003_melodie_dans_un_autre_mode_pentatonique_sur_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0003_melodie_dans_un_autre_mode_pentatonique_sur_do.mid">Télécharger le MIDI</a>
</div>

<p>Si on part de RE, on peut avoir :</p>

<p><strong>RE</strong> – MI – SOL – LA – SI</p>

<img src="~/img/0009_pentatonique_re_1.png" />

<img src="~/img/0010_pentatonique_re_1_full.png" />

<audio controls>
    <source src="~/audio/0004_melodie_en_mode_pentatonique_sur_re.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0004_melodie_en_mode_pentatonique_sur_re.mid">Télécharger le MIDI</a>
</div>

<p>Mais on peut aussi avoir :</p>

<p><strong>RE</strong> – MI – SOL – LA – DO</p>

<img src="~/img/0011_pentatonique_re_2.png" />

<img src="~/img/0012_pentatonique_re_2_full.png" />

<audio controls>
    <source src="~/audio/0005_melodie_dans_un_autre_mode_pentatonique_sur_re.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0005_melodie_dans_un_autre_mode_pentatonique_sur_re.mid">Télécharger le MIDI</a>
</div>

<p>Etc.</p>

<p>Pourquoi maintenir comme ça la note fondamentale dans les graves ? </p>

<p>Parce que tout l’intérêt d’une gamme, c’est le rapport qu’entretiennent les autres notes par rapport à 
    cette note fondamentale. C’est la note de référence, celle vers laquelle on aura tendance à terminer. 
    Elle représente un état stable, neutre, et autour d’elle les autres notes construisent un discours 
    musical, chacune ayant un rôle grammatical différent. Et donc, la meilleure manière de ressentir le mood 
    d’un mode, de ressentir les différents rôles des autres notes, puis de les intérioriser, c’est de 
    maintenir en fond cette note fondamentale.</p>

<p>Maintenir dans les graves la note fondamentale d’une gamme est une pratique qui se retrouve à un niveau 
    anthropologique. On appelle ça un <strong>bourdon</strong>. Le bourdon existe dans toutes les cultures 
    musicales qu’on connaît, à partir du moment où la musique contient des notes.</p>