@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Musique tonale : grands principes</h1>



<p>Avec la musique tonale naît le concept de <strong>tonalité</strong>. Une tonalité est l'assemblage d'un mode et d'une 
    note fondamentale.</p>

<p><strong>En musique tonale, il n'existe plus que deux modes : majeur et mineur</strong>. Le mode majeur correspond au 
    mode de DO, et le mode mineur correspond au mode de LA (avec des variations qu'on verra plus loin). Une tonalité est 
    donc le choix d'une note fondamentale et de son mode majeur ou mineur. Par exemple : "Mi bémol majeur" est une 
    tonalité. A partir de la fin du XIXème siècle, la musique tonale s'inspire parfois des musiques modales (par exemple 
    via l'orientalisme, ou via une certaine relecture fantasmée du Moyen-Âge), mais en apparence seulement, sans 
    bousculer les fondements de la théorie tonale.</p>

<p>La musique tonale regroupe de <strong>nombreuses règles très strictes</strong>, au point que la théorie peut définir 
    des "fautes d'harmonie", par exemple, semblables à des fautes de grammaire ou de conjugaison. Il y a des choses qu'on 
    ne fait pas, qui ne sont pas autorisées. Au conservatoire, on fait des exercices d'harmonie jusqu'à des très hauts 
    niveaux de complexité, en apprenant des règles qui permettent de faire de la musique qui "fonctionne" (c'est-à-dire 
    qui s'entend comme une musique bien faite et bien construite - même si pas forcément intéressante). La musique tonale 
    est extrêmement logique et se veut objective, sans doute parce qu'elle s'est construite autour de la période classique. 
    Elle avait pour vocation d'être une musique universelle, voire "naturelle". Ce n'est pas pour rien que, de tous les 
    arts, le premier à avoir été produit de manière procédurale dans les années 50, c'est de la musique tonale dans le 
    style de Bach. Toute la logique existait déjà : il suffisait de la transcrire en algorithmes, et un ordinateur pouvait 
    alors composer des partitions à l'infini dans le style de Bach. C'était possible 70 ans avant l'arrivée des IA car la 
    théorie tonale, construite autour de la musique de Bach, est extrêmement précise, stricte et rationnelle.</p>

<p>La musique tonale utilise <strong>plusieurs tonalités</strong> : un même morceau peut ainsi changer plusieurs fois de 
    contexte grammatical (de gamme). Ces enchaînements de tonalités sont eux-mêmes régis par des règles semblables aux 
    enchaînements d'accords.</p>

<p>La musique tonale est verticale, c'est-à-dire <strong>construite sur l'harmonie</strong> : dire qu'un accord est avant 
    tout une superposition de mélodies reste vrai en partie, mais bien moins que dans le cas de la musique modale. Ici, 
    les mélodies vont s'adapter à l'harmonie plutôt que l'inverse. Et, bien souvent, l'enchaînement d'accords est 
    déterminé avant même de penser aux mélodies. En jazz, certains morceaux du Real Book (répertoire de classiques) se 
    reconnaissent instantanément via leur grille d'accord, sans avoir besoin de jouer la mélodie. Beaucoup de musiciens 
    de rock également, quand ils lancent la création d'un nouveau morceau, cherchent en premier lieu une grille 
    d'accords. Cette manière de procéder, encore très présente aujourd'hui bien qu'en déclin, est caractéristique de la 
    musique tonale, une musique pensée comme discours harmonique avant toute autre chose.</p>