@{
    Layout = null;
}


<h1 class="display-4 text-center">Les ¤intervalles</h1>



<p>Chaque intervalle entre deux notes produit un effet différent. C’est un effet différent pour la mélodie, 
    et un effet différent pour l’harmonie. On verra plus en détail l’harmonie plus tard, mais on peut dès 
    maintenant s’imprégner du son.</p>

<p>Pour chaque intervalle, vous allez entendre plusieurs fois les deux notes jouées l’une après l’autre 
    (= mélodie), puis les deux joués ensembles longuement (= harmonie), pour voir quel est le résultat sonore.
    Je vais aussi donner mon ressenti personnel vis-à-vis de ces intervalles, à prendre ou à laisser.</p>
<br />


<h4>La seconde mineure : 1/2 ton</h4>

<p>On la trouve par exemple entre MI et FA :</p>

<img src="~/img/0031_seconde_mineure.png" />

<audio controls>
    <source src="~/audio/0017_seconde_mineure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0017_seconde_mineure.mid">Télécharger le MIDI</a>
</div>

<p>La seconde mineure est dissonante. Elle est très expressive et crée une tension.</p>
<br />

<h4>La seconde majeure : 1 ton</h4>

<p>On la trouve par exemple entre DO et RE :</p>

<img src="~/img/0032_seconde_majeure.png" />

<audio controls>
    <source src="~/audio/0018_seconde_majeure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0018_seconde_majeure.mid">Télécharger le MIDI</a>
</div>

<p>Mélodiquement, la seconde majeure est relativement neutre, quoiqu’un peu naïve, enfantine. Harmoniquement, 
    la seconde majeure est un parfait équilibre entre consonnance et dissonance. Elle crée une faible tension,
    dans un climat finalement apaisé, onirique.</p>
<br />


<h4>La tierce mineure : 1,5 ton</h4>

<p>On la trouve par exemple entre RE et FA :</p>

<img src="~/img/0033_tierce_mineure.png"/>

<audio controls>
    <source src="~/audio/0019_tierce_mineure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0019_tierce_mineure.mid">Télécharger le MIDI</a>
</div>

<p>La tierce mineure est instable, sombre et fragile, très expressive sans forcément créer de tension.</p>
<br />


<h4>La tierce majeure : 2 tons</h4>

<p>On la trouve par exemple entre SOL et SI :</p>

<img src="~/img/00331_tierce_majeure.png" />

<audio controls>
    <source src="~/audio/0020_tierce_majeure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0020_tierce_majeure.mid">Télécharger le MIDI</a>
</div>

<p>La tierce majeure est stable, douce et lumineuse. Elle crée un fort apaisement.</p>
<br />


<h4>La quarte : 2,5 tons</h4>

<p>On la trouve par exemple entre MI et LA. Il n’existe pas de quarte mineure, car ce serait exactement le 
    même intervalle que la tierce majeure (2 tons).</p>

<img src="~/img/0034_quarte.png" />

<audio controls>
    <source src="~/audio/0021_quarte.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0021_quarte.mid">Télécharger le MIDI</a>
</div>

<p>La quarte est une sorte de pilier. Elle soutient avec une certaine force. Elle peut sonner un peu ancien. 
    Utilisée en mélodie, elle peut facilement rendre pompier. Pin pon.</p>
<br />


<h4>La quinte diminuée : 3 tons (aussi nommé parfois le triton)</h4>

<p>On la trouve par exemple entre SI et FA. On la nomme « diminuée » plutôt que « mineure » pour une raison 
    que j’ignore. C’est la même chose, en tout cas : un demi-ton en moins par rapport à la quinte.</p>

<img src="~/img/0035_quinte_diminuee.png" />

<audio controls>
    <source src="~/audio/0022_quinte_diminuee.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0022_quinte_diminuee.mid">Télécharger le MIDI</a>
</div>

<p>La légende urbaine dit que c’était un intervalle interdit au Moyen-Âge car il serait diabolique, mais c’est
    faux. C’est en tout cas l’intervalle le plus instable, souvent utilisé pour inspirer la peur, ou pour 
    créer des tensions à résoudre. Mais c’est aussi un intervalle utilisé constamment dans le jazz et le funk.
    En fait, c’est un intervalle perçu comme plutôt cool au XXème siècle. </p>
<br />


<h4>La quinte : 3,5 tons</h4>

<p>On la trouve par exemple entre DO et SOL :</p>

<img src="~/img/0036_quinte.png" />

<audio controls>
    <source src="~/audio/0023_quinte.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0023_quinte.mid">Télécharger le MIDI</a>
</div>

<p>La célèbre, la fameuse, l’indétrônable. Extrêmement stable, elle évoque la force et la puissance. Elle peut
    aussi sonner ancien si on l’utilise à foison, car elle était très utilisée au Moyen-Âge. </p>
<br />


<h4>La sixte mineure : 4 tons</h4>

<p>On la trouve par exemple entre MI et DO :</p>

<img src="~/img/0037_sixte_mineure.png" />

<audio controls>
    <source src="~/audio/0024_sixte_mineure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0024_sixte_mineure.mid">Télécharger le MIDI</a>
</div>

<p>Un bon exemple de l’ambiguïté entre majeur et mineur... MI-DO, c’est l’inverse de DO-MI. Le premier est une
    tierce majeure, mais le deuxième est une sixte mineure. Enjoy your brainfuck.</p>

<p>C’est un intervalle doux et ample, léger.</p>
<br />


<h4>La sixte majeure : 4,5 tons</h4>

<p>On la trouve par exemple entre RE et SI :</p>

<img src="~/img/0038_sixte_majeure.png" />

<audio controls>
    <source src="~/audio/0025_sixte_majeure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0025_sixte_majeure.mid">Télécharger le MIDI</a>
</div>

<p>C’est un intervalle doux et ample lui aussi, mais plus sombre. Honnêtement, la différence de ressenti entre
    sixte mineure et sixte majeure est difficile à percevoir en dehors d'un contexte.</p>
<br />


<h4>La septième mineure : 5 tons</h4>

<p>On la trouve par exemple entre SOL et FA :</p>

<img src="~/img/0039_septieme_mineure.png" />

<audio controls>
    <source src="~/audio/0026_septieme_mineure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0026_septieme_mineure.mid">Télécharger le MIDI</a>
</div>

<p>C’est un intervalle que je trouve magnifique, mais difficile à utiliser. Il est très empreint de clichés : 
    soit dans le classique, où il est utilisé comme tension appelant à une résolution, soit dans le jazz, où 
    il est utilisé pour colorer énormément d’accords et en brouiller légèrement l’harmonie.</p>
<br />


<h4>La septième majeure : 5,5 tons</h4>

<p>On la retrouve par exemple entre DO et SI :</p>

<img src="~/img/0039_septieme_majeure.png" />

<audio controls>
    <source src="~/audio/0027_septieme_majeure.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0027_septieme_majeure.mid">Télécharger le MIDI</a>
</div>

<p>C’est un intervalle assez magique, qui crée une forte tension sans pour autant être particulièrement 
    dissonant. Il est expressif et onirique.</p>
<br />


<h4>L’octave : 6 tons</h4>

<p>On la retrouve entre DO et DO, entre RE et RE, etc.</p>

<img src="~/img/0040_octave.png" />

<audio controls>
    <source src="~/audio/0028_octave.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0028_octave.mid">Télécharger le MIDI</a>
</div>

<p>C’est un intervalle stable, tellement stable que les deux notes sont en réalité considérées comme les même.
    Il permet de déplacer la mélodie loin dans les aigus ou les graves alors qu’on joue la même note. En tant 
    qu’accord, il permet de renforcer une même note.</p>
