@{
    Layout = null;
}


<h1 class="display-4 text-center">Introduction</h1>



<p>La théorie que je vais élaborer ici est teintée de mon expérience et de mon style. Elle n'est pas neutre. 
    Chacun peut prendre ce qu'il veut prendre, laisser ce qu'il veut laisser, ou même partir dans une 
    direction opposée. Mais ça permet de partir de quelque part, et que ce quelque part soit incarné plutôt 
    qu'intellectualisé. </p>

<p>Ce n’est pas non plus un cours centré sur moi. C’est aussi une théorie complète de la musique. Elle est 
    simplement pensée autrement, en mettant les priorités à d'autres endroits. Mon constat est que, pour la 
    plupart des musiciens d'aujourd'hui, la théorie de la musique est abstraite, très éloignée des pratiques 
    actuelles, et implique le travail colossal qu'est l'apprentissage de la lecture et de l'écriture sur 
    partition. Elle est aussi très froide, présentée comme un ensemble de règles purement logiques, comme si 
    elle essayait de nier l'expérience sensorielle, comme si elle faisait tout pour être austère et difficile
    d'accès. Elle ne répond quasiment jamais aux pourquoi, ce qui est frustrant pour les débutants. Elle fixe
    des règles comme absolues, alors que tout est une question de contexte.</p>

<p>J'ai donc pris les décisions suivantes :</p>

<ul>

    <li>J'utiliserai des descriptions objectives et une bonne partie du vocabulaire académique, mais je les 
        accompagnerai toujours d'une expérience sensorielle et de ma subjectivité. Je prends le parti 
        d'évoquer des images, des émotions, pour accompagner les descriptions techniques et leur donner du 
        sens.</li>

    <li>Pour permettre l'expérience sensorielle, j'utiliserai énormément d'exemples à écouter. Plutôt que 
        donner des partitions qu'il faudrait savoir lire et qui sont de moins en moins utiles pour les 
        musiciens d'aujourd'hui, je donnerai des exemples audio. Cela implique d'utiliser des instruments, 
        donc de les choisir, ce qui a forcément une incidence sur le ressenti, mais on ne peut pas y échapper.
        J'ai décidé d'utiliser : le piano pour les mélodies "rapides" et les accords plaqués ; un ensemble à 
        cordes semi-réaliste pour les notes longues et les accords tenus ; une flûte pour la mélodie ; une 909
        pour le rythme. Je considère les quatre comme relativement neutres, aisément remplaçables par d'autres
        sons : keys/plucks pour le piano, strings/pads pour l'ensemble à cordes, leads pour la flûte, 
        n'importe quel set de percus pour la 909.</li>

    <li>J'accompagnerai également mes explications de visualisation sur un clavier de piano. Je pense que tous
        ceux ici qui composent utilisent des pianorolls pour écrire des notes. C'est donc utile de visualiser 
        sur le clavier les différents points que je vais aborder. Au-delà du côté pratique, le clavier de 
        piano, plus que tout autre instrument, est idéal pour "voir" la musique d'une manière simple et 
        précise.</li>

    <li>Dans les parties sur la mélodie, le rythme et l'harmonie, j'utiliserai aussi des screenshots de 
        pianorolls en plus de la visualisation clavier.</li>

    <li>Tous les exemples audio seront téléchargeables en version MIDI.</li>

    <li>Je privilégierai la pratique par rapport au conceptuel. L'idée n'est pas de faire un travail de 
        musicologie pointu, mais de donner des outils immédiatement utilisables, et des repères pour l'écoute.
        C'est à la fois une théorie de la musique et un cours de composition. J'espère aussi qu'elle parlera 
        aux non-musiciens qui souhaitent simplement comprendre de quoi est constituée la musique.</li>

    <li>Je mettrai d'abord de côté les musiques suivantes, que je ne traiterai que bien plus tard : les 
        musiques écrites allant du XVIème au début du XXème siècle, le jazz, la variété, la "musique de film" 
        (et par là j'entends en fait les musiques de film orchestrales, genre John Williams), une bonne partie 
        du rock et du métal, la musique contemporaine (sauf le minimalisme, on verra pourquoi), et un certain 
        nombre de musiques non-occidentales. Toutes ces musiques feront l'objet des deux derniers chapitres.</li>

    <li>Les musiques sur lesquelles je base cette théorie sont plutôt : la musique médiévale occidentale 
        (on verra pourquoi aussi), les musiques et chansons traditionnelles (par là j'entends : les musiques 
        anonymes, séculaires, partagées par tous), la majorité de la dance music et du rap, l'ambient, 
        le minimalisme, et une certaine part des musiques de jeux vidéo (jeux heroic fantasy, JRPGs, jeux 
        d'arcade).</li>

    <li>En décidant de partir d'abord des secondes musiques avant d'aborder les premières, je prends la 
        direction inverse de la théorie traditionnelle. Celle-ci a été construite en prenant pour base la 
        musique de Bach, et on ne voit les éléments de la musique moderne qu'à la fin des cours d'harmonie, 
        et encore, car souvent on ne les voit simplement pas. La théorie classique a été pertinente pendant 
        deux siècles. Elle ne l'est plus aujourd'hui que pour des musiques qui sont désormais minoritaires, 
        réservées à des styles et publics restreints. Je cherche à donner une théorie qui parle immédiatement 
        aux gens d'aujourd'hui et à ce qu'ils ont l'habitude d'écouter. Ironiquement, la musique médiévale est
        beaucoup plus proche des musiques d'aujourd'hui que ne l'est celle de Bach. Et, malheureusement, ce 
        qu'on nomme "musique contemporaine" ne désigne qu'une minuscule niche au sein de la musique 
        d'aujourd'hui, radicalement séparée théoriquement.</li>

    <li>Je ferai peu de théorie sur le rythme car j'estime d'une part que la plupart d'entre vous maîtrise 
        déjà bien le sujet, et d'autre part que moi-même je ne le maîtrise pas très bien, en tout cas pour les
        musiques concernées. J'en dirai tout de même deux-trois mots dans un chapitre dédié, pour poser les 
        bases théoriques les plus simples, et proposer quelques éléments que je trouve intéressants et 
        inspirants.</li>

    <li>C'est une théorie axée sur la mélodie avant l'harmonie. Pour ceux à qui ces notions parlent : c'est 
        par conséquent une théorie de la musique d'abord modale, avec une ouverture bien plus tard sur le 
        tonal, au lieu de l'inverse comme on le trouve dans les cours et livres de théorie musicale 
        classiques.</li>

</ul>
