@{
    Layout = null;
}



<h1 class="display-4 text-center">La fin appelle le début</h1>



<p>Un des premiers principes d'un pattern est, évidemment, qu'il soit dédié à tourner en boucle. La plupart du temps, si on 
    répète un bout de musique pris au hasard, sa répétition sera lourde, lassante, voire agaçante. Tout ne peut pas devenir 
    un pattern. Pour qu'un pattern boucle de manière fluide et ne crée pas de lassitude, <strong>il faut que sa fin fasse 
        désirer son début</strong>.</p>

<p>Pour ça, on peut utiliser tout ce qu'on a pu voir dans les chapitres sur la mélodie, le rythme et l'harmonie. Et ce qui 
    va surtout nous intéresser, c'est les relations de <strong>tensions et résolutions</strong> qui existent dans les trois 
    domaines. Une tension fait désirer sa résolution : c'est donc idéal pour avoir une fin de pattern qui appelle son début. </p>

<h3>Tension / résolution mélodique :</h3>

<p>On a vu qu'en général les tensions / résolutions se situent au niveau des intervalles de demi-tons d'une gamme. Selon le 
    mode utilisé, certaines notes créent une tension se résolvant sur le demi-ton inférieur, et d'autres sur le demi-ton 
    supérieur. Par exemple, en gamme de LA basée sur mode de LA, la sixte (FA) se résout sur la quinte (MI) :</p>

<img src="~/img/0025_tension_exemple_la3.png" />

<p>Si on crée un pattern mélodique dans cette gamme, on peut utiliser cette tension / résolution. Voilà un pattern en gamme 
    de LA sur mode de LA, qui commence par MI et termine par FA (sur la mélodie supérieure)</p>

<img src="~/img/0266_repetition_la_fin_appelle_le_debut_1.png" />

<p>La fin de ce pattern est une tension sur FA, qui appelle à une résolution sur MI. Comme MI est la 1ère de notre du 
    pattern, sa répétition sera aussi une résolution, donc sera bienvenue à l'oreille. Voilà le pattern répété 8 fois :</p>

<audio controls>
    <source src="~/audio/0238_repetition_la_fin_appelle_le_debut_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0237_repetition_la_fin_appelle_le_debut_2.mid">Télécharger le MIDI</a>
</div>


<p>Remarquez que, même si on est en gamme de LA, la note LA n'est jouée que trois fois au milieu du pattern.</p>

<img src="~/img/0267_repetition_la_fin_appelle_le_debut_2.png" />

<p>
    C'est le conseil mentionné dans la partie "Un point sur la fondamentale" du chapitre sur la mélodie : si on travaille avec
    des patterns, il faut éviter de l'utiliser l'utiliser en début ou en fin de pattern, car elle a un rôle conclusif. Si on
    sent une conclusion en fin de pattern, sa répétition a des chances de paraître lourde.
</p>

<p>On peut utiliser ce principe avec toutes les tensions / résolutions qu'on a pu voir dans le chapitre sur la mélodie.</p>

<br />

<h3>Tension / résolution rythmique</h3>

<p>On a vu dans le chapitre sur le rythme que les notes jouées en contre-temps créent une tension appelant à une résolution, 
    qui se concrétise par un retour sur les temps. C'est ce qui se passe dans un des rythmes les plus utilisés pour les 
    lignes de basse en dance music (désolé pour l'exemple tout naze, c'est pas mon fort et ça prend du temps, mais je pense que vous 
    voyez l'idée) : </p>

<img src="~/img/0268_repetition_la_fin_appelle_le_debut_3.png" />

<audio controls>
    <source src="~/audio/0239_repetition_la_fin_appelle_le_debut_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0240_repetition_la_fin_appelle_le_debut_5.mid">Télécharger le MIDI</a>
</div>

<p>En utilisant des valeurs pointées, on obtient un décalage progressif des notes. La résolution se fait au moment où on se 
    recale sur les temps. La même chose peut se faire sur une ligne mélodique :</p>

<img src="~/img/0269_repetition_la_fin_appelle_le_debut_4.png" />

<audio controls>
    <source src="~/audio/0240_repetition_la_fin_appelle_le_debut_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0239_repetition_la_fin_appelle_le_debut_4.mid">Télécharger le MIDI</a>
</div>

<p>Ici, on utilise la syncope, ce qui revient un peu au même : un décalage qui fait qu'on joue temporairement en 
    contre-temps. On revient sur le temps quand le pattern est répété, puis on se décale à nouveau, etc.</p>

<br />

<h3>Tension / résolution harmonique</h3>

<p>Les enchaînements d'accords sont eux aussi régis par des relations de tension / résolution. On a vu dans le chapitre sur 
    l'harmonie que le 1er degré est toujours perçu par l'oreille en tâche de fond, même quand on change de degré. Donc, dès 
    qu'on joue un autre degré que le 1er, on attend qu'à un moment où un autre on revienne dessus. On peut donc faire un 
    pattern avec un accord de 1er degré, puis un autre accord. En répétant le pattern, on retombe sur le 1er degré, et donc 
    la boucle fonctionne :</p>

<img src="~/img/0270_repetition_la_fin_appelle_le_debut_5.png" />

<audio controls>
    <source src="~/audio/0241_repetition_la_fin_appelle_le_debut_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0240_repetition_la_fin_appelle_le_debut_5.mid">Télécharger le MIDI</a>
</div>

<p>Ici j'ai utilisé les accords en blocs, en dessous de la mélodie. On peut aussi faire la même succession d'accords avec des 
    mélodies plus libres sur les autres voies que la mélodie :</p>

<img src="~/img/0271_repetition_la_fin_appelle_le_debut_6.png" />

<audio controls>
    <source src="~/audio/0242_repetition_la_fin_appelle_le_debut_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0241_repetition_la_fin_appelle_le_debut_6.mid">Télécharger le MIDI</a>
</div>


<p>La même chose vaut pour des répétitions comportant plus de deux accords. Je tiens quand même à préciser que, à mes yeux, 
    un pattern constitué de plus de 3 accords (et même, je pourrais dire 2) est très souvent plan-plan et sonnera plus 
    variété qu'autre chose. Dans une musique qui se destine à être répétitive, c'est trop de variation. On risque fort de 
    perdre l'effet de transe.</p>

