@{
    Layout = null;
}



<h1 class="display-4 text-center">¤Majeur et ¤mineur</h1>


<p>Pour donner une définition générale : on considère comme mineur quelque chose qui est un demi-ton 
    en-dessous du majeur.</p>

<p>Par exemple, si nous sommes sur une note fondamentale de DO, la note MI est alors la tierce (3ème note). 
    Entre DO et RE, il y a un ton. Entre RE et MI, il y a un ton. Nous avons donc deux tons complets entre 
    DO et MI. C’est une tierce majeure.</p>

<img src="~/img/0029_majeurmineur_tierce1.png" />

<p>Mais dans un autre exemple, prenons RE comme note fondamentale. FA est la 3ème note, donc la tierce. Entre
    RE et MI, il y a un ton. Mais entre MI et FA, il y a un demi-ton. Entre RE et FA, on a donc un ton et 
    demi. C’est une tierce mineure.</p>

<img src="~/img/0030_majeurmineur_tierce2.png" />

<p>Cette différenciation entre majeur et mineur vaut pour tous les intervalles (ou presque : on verra des 
    exceptions). A chaque fois, il y a une version majeure, et une version mineure qui contient un demi-ton 
    de moins. Nous verrons ça juste après dans la partie sur les intervalles.</p>

<p>J’ai pris pour exemple des tierces parce que la tierce a un rôle particulier dans la musique occidentale. 
    Dans un mode, si la tierce est majeure, et si la tierce est mineure, nous percevons le mood général comme
    très différent. Le cliché généralement admis est que les modes majeurs (ceux qui possèdent une tierce 
    majeure) sont joyeux, et les modes mineurs tristes. C’est n’est en réalité pas systématique et plus 
    complexe et profond, du coup je préfère personnellement dire que le majeur est lumineux et le mineur 
    sombre.</p>

<p>Dans la liste des 7 modes, les modes suivants sont majeurs (leur tierce est majeure) :</p>

<p>DO, FA, SOL</p>

<p>Les modes suivants sont mineurs (leur tierce est mineure) :</p>

<p>RE, MI, LA, SI</p>

<p>Je vous invite à réécouter les modes dans cet ordre : d’abord les modes majeurs, puis les modes mineurs. 
    Vous comprendrez très vite la différence fondamentale entre les deux.</p>
<br />


<h4>Modes majeurs : DO, FA et SOL :</h4>

<img src="~/img/0016_mode_do.png" />

<audio controls>
    <source src="~/audio/0006_mode_de_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0009_mode_de_fa.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0019_mode_fa.png" />

<audio controls>
    <source src="~/audio/0009_mode_de_fa.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0009_mode_de_fa.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0020_mode_sol.png" />

<audio controls>
    <source src="~/audio/0010_mode_de_sol.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0010_mode_de_sol.mid">Télécharger le MIDI</a>
</div>
<br />


<h4>Modes mineurs : RE, MI, LA et SI :</h4>

<img src="~/img/0017_mode_re.png" />

<audio controls>
<source src="~/audio/0007_mode_de_re.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0007_mode_de_re.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0021_mode_la.png" />

<audio controls>
    <source src="~/audio/0008_mode_de_mi.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0008_mode_de_mi.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0018_mode_mi.png" />

<audio controls>
    <source src="~/audio/0011_mode_de_la.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0011_mode_de_la.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0022_mode_si.png" />

<audio controls>
    <source src="~/audio/0012_mode_de_si.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0012_mode_de_si.mid">Télécharger le MIDI</a>
</div>
<br />

<p>Personnellement, je n’utilise quasiment que les modes mineurs. Et, en fait, je n’utilise qu’à peu près 
    uniquement les modes de RE et de LA. C’est important, je pense, de réussir à trouver les modes qui vous 
    plaisent le plus. Il n’est pas nécessaire de tous les utiliser, et c’est normal d’avoir des préférences.</p>
