@{
    Layout = null;
}



<h1 class="display-4 text-center">Les ¤mélodies émergentes</h1>



<p>C'est sans doute un des aspects les plus fascinants de la musique à base patterns : la répétition forme des 
    <strong>mélodies émergentes</strong>, c'est-à-dire des mélodies qu'on n'avait pas forcément prévues au départ, mais qui 
    ressortent du pattern au fil de sa répétition. Ce sont des mélodies fantômes, inconscientes, et chacun en entendra des 
    différentes. On peut soit décider de laisser le pattern tel quel et de laisser les auditeurs percevoir leurs propres 
    mélodies émergentes, soit proposer celles qu'on souhaite faire ressortir.</p>

<p>Pour donner un bon exemple de pattern avec des mélodies émergentes, je vais prendre un pattern tiré du Canto Ostinato de 
    Simeon Ten Holt :</p>

<img src="~/img/0272_repetition_melodies_emergentes_1.png" />

<audio controls>
    <source src="~/audio/0243_repetition_melodies_emergentes_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0243_repetition_melodies_emergentes_1.mid">Télécharger le MIDI</a>
</div>

<p>Est-ce que vous entendez des mélodies émergentes ? Voilà, pour moi, les différentes mélodies qui peuvent ressortir de ce 
    pattern, en n'utilisant strictement que ses notes initiales (je les mets en valeur en rouge sur les images):</p>

<img src="~/img/0273_repetition_melodies_emergentes_2.png" />

<audio controls>
    <source src="~/audio/0244_repetition_melodies_emergentes_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0244_repetition_melodies_emergentes_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0274_repetition_melodies_emergentes_3.png" />

<audio controls>
    <source src="~/audio/0245_repetition_melodies_emergentes_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0245_repetition_melodies_emergentes_3.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0275_repetition_melodies_emergentes_4.png" />

<audio controls>
    <source src="~/audio/0246_repetition_melodies_emergentes_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0246_repetition_melodies_emergentes_4.mid">Télécharger le MIDI</a>
</div>

<p>On a donc toutes ces mélodies contenues dans ce pattern, en n'utilisant aucune note supplémentaire. Essayez de réécouter 
    le pattern maintenant que vous avez écouté les mélodies isolés, et vous percevrez sans doute ces mélodies au sein du 
    pattern.
</p>

<audio controls>
    <source src="~/audio/0243_repetition_melodies_emergentes_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0243_repetition_melodies_emergentes_1.mid">Télécharger le MIDI</a>
</div>

<p>On peut récupérer ces mélodies et les faire jouer par d'autres instruments. Je vais enchaîner les différentes mélodies 
    qu'on a écoutées, jouées cette fois-ci par une flûte au dessus du pattern complet au piano.
</p>

<audio controls>
    <source src="~/audio/0247_repetition_melodies_emergentes_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0247_repetition_melodies_emergentes_5.mid">Télécharger le MIDI</a>
</div>

<p>Il peut aussi exister des mélodies émergentes avec des notes autres que celles utilisées dans le pattern initial, toujours 
    sans en écrire une seule de plus. Comment est-ce possible ? C'est que ces mélodies-là proviennent des <strong>harmoniques</strong>. </p>

<p>Les harmoniques feraient l'objet d'un chapitre complet dans une théorie du son, ce qui n'est pas notre cas. La seule 
    chose à retenir, c'est que n'importe quel son de n'importe quel instrument est en réalité constitué de plusieurs notes 
    superposées, que l'oreille considère comme un tout (et donc, elle croit n'entendre qu'une note), et qui participent 
    au <strong>timbre</strong> de l'instrument, donc en quelque sorte sa personnalité sonore. Selon l'instrument, la salle 
    dans laquelle il joue, ou encore le traitement sonore appliqué sur une piste, les harmoniques peuvent plus ou moins 
    ressortir. À partir d'un certain point, elles deviennent véritablement audibles comme si elles étaient distinctes de leur
    note d'origine. C'est ce qui permet, par exemple, les diphoniques : une voix humaine ou une flûte peuvent alors, contre 
    toute vraisemblance, jouer des accords de deux notes. C'est aussi ce qui permet aux guitaristes d'obtenir des sons 
    cristallins en touchant une corde à son exacte moitié, ou à ses deux tiers, etc.</p>

<p>Revenons aux mélodies émergentes. Outre des notes émergentes qui proviendraient des harmoniques des sons utilisés 
    eux-mêmes, il y a au contraire des harmoniques qui émergent de la répétition, surtout quand les patterns sont très brefs et 
    joués rapidement. La répétition modulaire crée une nouvelle forme de son continu, un peu comme un bourdon. Au fil des 
    répétitions, les notes se mélangent à l'oreille. C'est un effet psychologique plutôt que physique, qui génère des notes 
    fantômes variables en fonction des personnes. C'est ce qui explique que, souvent, les personnes qui aiment la musique à 
    base de patterns aiment aussi les musiques à base de drones (notes extrêmement longues avec variations de timbre). L'un 
    est fondamentalement pulsé rythmiquement, et l'autre pas du tout, mais les deux aboutissent à un résultat similaire, 
    qu'on pourrait apparenter à un bourdon et qui provoque un état de transe. C'est pourquoi les musiques répétitives de 
    Steve Reich sont considérées dans le même mouvement musical, le minimalisme, que les oeuvres de La Monte Young dans 
    lesquelles une seule note peut être jouée pendant plusieurs heures.<p>

<p>La musique de Charlemagne Palestine est principalement axée autour de ce type de mélodies émergentes. On en entend plein 
    dans Strumming Music, une oeuvre pour piano où le pianiste répète très rapidement deux accords, jusqu'à un point où 
    l'oreille les oublie et n'entend plus qu'un festival d'harmoniques et de mélodies fantômes (mais, pour ça, il faut 
    écouter longuement) :</p>

<br />

<div class="text-center">
    <iframe width="420" height="315" src="https://www.youtube.com//embed/bulibjyaQ0s"></iframe>
</div>

<br />

<p>Ce qu'il faut retenir de tout ça, c'est que pour la musique à base de pattern, c'est important de passer beaucoup de temps 
    à écouter ce pattern seul répété, ou encore mieux, si on peut, le jouer longtemps. Toute la richesse d'un pattern se 
    découvre avec la répétition, et ce n'est d'ailleurs pas pour rien que les musiques répétitives ont tendance à durer 
    plus longtemps que les autres. Il faut du temps pour qu'une première mélodie émergente se manifeste, puis une autre, 
    puis encore une autre. On ne perçoit tout le potentiel d'un pattern qu'après l'avoir réellement écouté longtemps.</p>

<p>Je termine en vous invitant à écouter Drumming de Steve Reich, qui a précisé qu'il a ajouté les parties de voix et 
    flûtes à partir des mélodies émergentes qu'il a entendues au fil des répétitions du motif de base (à tel point 
    qu'il a cru que des musiciens chantaient pendant les répétitions, alors que ce n'était pas le cas) :</p>

<br />

<div class="text-center">
    <iframe width="420" height="315" src="https://www.youtube.com//embed/u9DbqNlUNqc"></iframe>
</div>

<br />