@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Mesures et ¤signatures rythmiques</h1>

<p>On ne se contente pas de définir une pulsation. On organise aussi ces pulsations en groupes. Par exemple, 
    quand on dit "une musique à quatre temps", c'est que cette musique utilise des groupements de quatre 
    pulsations. On compte : 1, 2, 3, 4, 1, 2, 3, 4, etc.</p>

<p>Chaque groupement de pulsation est nommé une <strong>mesure</strong> (en anglais : <strong>bar</strong>). 
    Les mesures d'une musique à quatre temps sont composées chacune de quatre pulsations. Si la pulsation est
    à la noire(4), une mesure contiendra quatre noires(4). Si la pulsation est à la croche(8), une mesure 
    contiendra quatre croches(8). En assemblant des mesures, on construit le morceau.</p>

<p>La plupart du temps, on n'a pas une mesure isolée. On enchaîne plusieurs mesures qui auront toutes le même
    groupement de pulsations. Dans ce cas, on utilise une <strong>signature rythmique</strong>. Une signature
    rythmique décrit quels seront les groupements de pulsations pour toutes les mesures qui la suivent. La 
    plupart du temps, une seule signature rythmique est décidée pour un morceau complet.</p>

<p>La notation des signatures rythmiques suit ce schéma :</p>

<img src="~/img/0130_rythme_mesures_signatures_1.png" />

<p>A gauche, on a le nombre de pulsations dans la mesure. On mettra par exemple 4 pour une mesure à 4 temps.</p>

<p>A droite, on précise quelle division sera considérée comme un temps (une pulsation). On mettra par exemple
    4 si on fixe la pulsation sur des noires(4), ou 8 si on fixe la pulsation sur des croches(8).</p>

<p>N'importe quelle combinaison est possible. Il y a toutefois une petite poignée de signatures rythmiques 
    qui sont très largement utilisées. Je vais les citer en donnant, en commentaire, mon ressenti subjectif.</p>

<p>Les exemples audio seront constitués ainsi : d'abord quatre mesures avec un closed hihat par temps. Puis 
    les mêmes quatre mesures en ajoutant deux rims par division du temps. Chacune des 4 mesures sera démarrée
    par une note de piano sur le premier temps. Je changerai à chaque fois le bpm pour permettre d'avoir une 
    oreille "neuve" à chaque extrait.</p>
<br />

<h4>4/4</h4>
<p>= 4 noires(4)</p>

<audio controls>
    <source src="~/audio/0103_rythme_mesure_signatures_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0102_rythme_mesure_signatures_1.mid">Télécharger le MIDI</a>
</div>

<p>C'est de loin la signature rythmique la plus utilisée. Elle est, d'une certaine manière, évidente. Nous 
    l'avons tous intérieurisée à un tel point que toute autre signature rythmique paraît plus fantaisiste, 
    voire qu'elles n'en sont finalement qu'une variante. </p>

<p>C'est une signature parfaitement symétrique, qui invite à un rythme binaire. Elle est stable, puissante, 
    entraînante et permet de structurer efficacement les mélodies. On peut par exemple créer une mélodie 
    symétrique qui irait en montant lors des deux premiers temps, puis en descendant les deux temps suivants.</p>
<br />

<h4>2/4</h4>
<p>= 2 noires(4)</p>

<audio controls>
    <source src="~/audio/0104_rythme_mesure_signatures_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0103_rythme_mesure_signatures_2.mid">Télécharger le MIDI</a>
</div>

<p>De moins en moins utilisée, c'était une signature fréquente à l'époque baroque. Aujourd'hui, il est 
    difficile de ne pas l'entendre comme du 4/4, puisque deux mesures de 2/4 équivalent à une mesure de 4/4. 
    Pourtant, en tentant de se focaliser sur le décompte : 1, 2   ||   1, 2   etc., on peut avoir en tête un
    groove différent, plus entêtant. </p>

<p>C'est la signature idéale pour quelque chose d'extrêmement répétitif, avec un feeling évoquant un disque 
    rayé. Pour moi, le 2/4 rend un peu fou, il a quelque chose d'aliénant, et ça peut être soit une qualité,
    soit un défaut, selon comment on l'utilise.</p>
<br />


<h4>3/4</h4>
<p>= 3 noires(4)</p>

<audio controls>
    <source src="~/audio/0105_rythme_mesure_signatures_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0104_rythme_mesure_signatures_3.mid">Télécharger le MIDI</a>
</div>

<p>Cette signature rythmique est souvent confondue avec un rythme ternaire, car on compte : 
    1, 2, 3   ||   1, 2, 3  etc. C'est pourtant un rythme binaire, car chaque temps se divise bien en deux. 
    C'est un rythme binaire à 3 temps.</p> 

<p>Pour moi, le 3/4 est à la fois stable et moins rigide que le 4/4. Il crée une sorte de hâte, fait avancer
    constamment le morceau vers l'avant, ne laisse pas le temps de se reposer. On le trouve beaucoup dans les
    marches militaires lui aussi. C'est peut-être parce qu'il a quelque chose de motivant, qui donne envie 
    d'avancer, d'aller sans arrêt vers l'étape suivante.</p>
<br />


<h4>6/8</h4>

<p>= 6 croches(8), mais pas vraiment, on va voir pourquoi.</p>

<audio controls>
    <source src="~/audio/0106_rythme_mesure_signatures_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0105_rythme_mesure_signatures_4.mid">Télécharger le MIDI</a>
</div>

<p>C'est la signature <strong>ternaire</strong> la plus utilisée. Encore une fois, puisque c'est du ternaire,
    on fait du bricolage... La pulsation n'est pas à la croche(8) comme le laisserait penser la signature, 
    mais à la <strong>noire pointée(4.)</strong>. C'est une mesure ternaire à deux temps : 
    <strong>deux noires pointées(4.) se divisant chacune en trois croches(8)</strong>. On aboutit donc à 6 
    croches(8). Désolé pour le mind fuck.</p>

<p>Si on était un peu logique, la signature devrait être 2/4. = deux noires pointées(4.). Malheureusement, la
    convention n'est pas logique, et il y a une règle absurde mais partagée partout : on ne met pas de 
    valeurs pointées dans une signature rythmique. Voilà, c'est comme ça. Je trouve ça dommage car ça 
    embrouille énormément la théorie pour les débutants, mais c'est l'usage. Il vaut mieux s'y plier puisque 
    dans tous les DAWs, et sur toutes les partitions, cette signature rythmique sera notée 6/8.</p>

<p>Le 6/8 est très utilisé dans les valses. Le ternaire donne souvent cette impression de tourner en rond, 
    ce qui inspire des danses où on tourne. Il peut aussi sonner médiéval car la musique médiévale a été 
    exclusivement ternaire pendant des siècles (la trinité, tout ça... si si, c'est vraiment la raison, 
    d'après les livres théoriques de l'époque). Le 6/8 est très fluide, martèle beaucoup moins que le 4/4 ou 
    le 3/4, et permet des musiques plus souples. Elle invite à des mélodies alambiquées, moins cadrées, en un
    sens plus libres.</p>
<br />


<h4>12/8</h4>

<p>= 12 croches(8), pensées plutôt comme quatre noires pointées(4.)</p>

<audio controls>
    <source src="~/audio/0109_rythme_mesure_signatures_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0108_rythme_mesure_signatures_7.mid">Télécharger le MIDI</a>
</div>

<p>C'est une signature rare mais je la cite car, sans que ce soit forcément conscientisé, elle est très 
    utilisée dans la psytrance. C'est une mesure ternaire à 4 temps : 4 noires pointées(4.) se divisant 
    chacune en 3 croches(8). La basse en psytrance joue généralement les croches, et le kick marque les 
    noires pointées. On peut aussi penser ça différemment en utilisant des triolets : on verra ça dans la 
    partie sur les n-olets.<p>


<br />
<br />

<p>Pour le moment, on n'a vu qu'une signature rythmique impaire : le 3/4. Les signatures rythmiques impaires 
    sont très intéressantes car très inhabituelles, à l'exception du 3/4. Elles créent des grooves 
    particulièrement instables pour nos oreilles formatées au 4/4. Je trouve qu'elles se ressentent toutes 
    comme un genre de 4/4 défaillant, auquel on ajouterait ou ôterait des temps pour le destructurer. </p>
<br />


<h4>5/4</h4>

<p>= 5 noires(4)</p>

<audio controls>
    <source src="~/audio/0110_rythme_mesure_signatures_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0109_rythme_mesure_signatures_8.mid">Télécharger le MIDI</a>
</div>

<p>Le 5/4 donne un effet de 4/4 allongé, lourd, piétinant. </p>
<br />


<h4>7/8</h4>

<p>= 7 croches(8)</p>

<p>En suivant la logique (tordue) du 6/8, on peut considérer que le 7/8 est une succession de regroupement de
    croches(8). Le 6/8 est constitué de deux groupements de 3 croches(8). Il est donc symétrique. Mais avec 
    le 7/8, il est impossible de diviser la mesure en deux. On doit donc faire un choix, et on a donc plein 
    de possibilités de combinaison à notre portée. </p>

<p>On peut penser le 7/8 comme : 2 + 2 + 2 + 1</p>

<audio controls>
    <source src="~/audio/0111_rythme_mesure_signatures_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0110_rythme_mesure_signatures_9.mid">Télécharger le MIDI</a>
</div>

<p>Dans ce cas, on a un effet de 4/4 tronqué. Le dernier temps est cassé. On boîte.</p>

<p>On peut aussi penser le 7/8 comme : 4 + 3</p>

<audio controls>
    <source src="~/audio/0112_rythme_mesure_signatures_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0111_r">Télécharger le MIDI</a>
</div>

<p>Dans ce cas, on a un effet de 6/8 instable. On dirait du ternaire, mais cassé. Pareil si on fait l'inverse
    : 3 + 4</p>

<audio controls>
    <source src="~/audio/0113_rythme_mesure_signatures_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0112_rythme_mesure_signatures_11.mid">Télécharger le MIDI</a>
</div>

<p>Enfin, le 7/8 pensé comme un 6/8 avec une croche de trop : 3 + 3 + 1</p>

<audio controls>
    <source src="~/audio/0114_rythme_mesure_signatures_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0113_rythme_mesure_signatures_12.mid">Télécharger le MIDI</a>
</div>

<br />

<p>Ce qu'il faut retenir des signatures asymétriques comme le 7/8, c'est que la pulsation régulière n'est pas
    forcément espacée d'intervalles de temps égaux. Les exemples ci-dessus montrent plusieurs manières de 
    taper le tempo. Chaque hihat est à considérer comme un temps, et ces temps ont des durées différentes.</p>

<p>C'est plutôt rare chez nous, quoi que ça prend de l'ampleur ces 30 dernières années avec l'arrivée 
    successive du rock indé, du breakcore, et du math rock. On retrouve cependant le 7/8 dans de nombreuses 
    chansons traditionnelles, par exemple en Hongrie où c'est une signature rythmique standard, pleinement 
    intériorisée. Ce n'est donc pas forcément un rythme "intellectuel", ni complexe, ni plus "mathématique" 
    qu'une autre signature (désolé le math rock... je t'aime quand même).</p>

<p>Il peut être difficile pour un occidental moderne de ne pas fondamentalement penser le 7/8 en le mettant 
    en relation avec le 4/4. Ce n'est pas un mal non plus. Dans ce cas, on peut imaginer taper le tempo à la 
    noire tout le long d'un morceau, et les mesures en 7/8 ne feraient que se décaler et recaler sur ce tempo
    au fil des répétitions. La musique de Magma, par exemple, est pleine de ce genre de 
    <strong>polyrythmie</strong>. Nous verrons tout ça dans la partie dédiée.</p>

<p>Pour finir, gardez en tête que tout est possible, et au final facile à manipuler ; tout dépend simplement 
    de ce qu'on veut faire. C'est un immense terrain d'expérimentation qui ne demande rien de plus que des 
    additions basiques. Par exemple :</p>


<h4>15/16</h4>

<p>= 15 double-croches(16), avec une pulsation à la doucle-croche.</p>

<p>Comment pourrait-on diviser cette mesure ? 4 + 4 + 4 + 3 ? Dans ce cas, on aurait sans doute une illusion 
    de stabilité, perturbée au dernier moment. Ca peut être intéressant. Ou alors, 4 + 5 + 4 + 2 ? Ca risque 
    d'être très surprenant. Rien que de l'écrire, j'ai envie de savoir ce que ça donne. Par contre, tout 
    écrire en double-croches(16), c'est un peu chiant... Alors je pourrais plutôt faire du 15/8, ce qui 
    revient au même si la pulsation garde le même bpm.</p>

<p>Plus on est curieux, plus on prendra plaisir à tester toutes ces possibilités. Il y a des choses géniales 
    à faire. Gardons cependant en tête que, comme pour la mélodie, less is more, et qu'en réalité les 
    recettes les plus utilisées ne le sont pas sans raison. Le 4/4, c'est très bien aussi.</p>