@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Modal, ¤tonal, ¤atonal</h1>



<p>Une distinction est généralement faite entre <strong>musique modale</strong>, <strong>musique tonale</strong> et 
    <strong>musique atonale</strong>. Les contours de cette distinction sont cependant très flous. Je vais donner ici les 
    définitions qui me semblent pertinentes.</p>

<p>La <strong>musique modale</strong> est une musique construite sur des modes. Une fois un mode choisi, il reste le même au 
    long du morceau. L'accent est placé sur la mélodie, au point que pour certains théoriciens, musique modale implique 
    musique <strong>monodique</strong>, c'est-à-dire musique constituée d'une mélodie et rien d'autre (comme le chant 
    grégorien). La présente théorie est axée sur une logique modale, avec cependant un peu plus de largesse, en considérant 
    la polyphonie comme modale tant qu'il n'y a pas de changement dans l'échelle de notes. La polyphonie résulte 
    généralement d'une superposition de mélodies. Quand ce n'est pas le cas, les enchaînements d'accords ne constituent pas 
    un réel discours harmonique, et la plupart du temps font plutôt office de ritournelle répétitive. On va enchaîner 2, 3, 
    4, très rarement plus de 4, accords qui sont des degrés naturels de la gamme choisie, et la plupart du temps boucler 
    inlassablement sur ces quelques accords. Souvent, même, il n'y a pas d'enchaînement d'accords et on se contente d'un 
    bourdon. La musique modale, à mes yeux, est celle qu'on a vu en détail depuis le début de cette théorie jusqu'à cette 
    partie.</p>

<p>
    La <strong>musique tonale</strong> est une musique dont les échelles de notes varient au fil du morceau. On nomme ces échelles des
    <strong>tonalités</strong>. Le discours musical est très 
    largement dominé par l'harmonie. Par conséquent, une grande variété d'accords est utilisée, les accords et leur nommage 
    peuvent atteindre une grande complexité, les grilles d'accords s'allongent sur la durée d'une partie complète d'un 
    morceau (par exemple un couplet ou un refrain), et il y a des emprunts ou des modulations, c'est-à-dire des changements 
    de tonalité. On verra tout ça dans ce chapitre, sans non plus entrer dans les détails car je considère que ce n'est pas l'objet de 
    cette théorie. Pour ceux intéressés par approfondir la théorie tonale : il s'agit du solfège et de l'harmonie tels 
    qu'ils sont traditionnellement enseignés en école, au conservatoire ou dans les livres théoriques. Ici, j'en fais une 
    "curiosité", une introduction pour ouvrir vers d'autres horizons, un aperçu général et quelques points qui me semblent 
    inspirants. La musique tonale, c'est notamment : les musiques écrites allant du XVIème au début du XXème siècle, le jazz, la variété, 
    la "musique de film" (et par là j'entends en fait les musiques de film orchestrales, genre John Williams), ainsi qu'une 
    bonne partie du rock et du métal.
</p>

<p>On verra dans le chapitre suivant, entre autres, la <strong>musique atonale</strong>, un terme qui est à la fois la 
    négation de tonal et de modal. La musique atonale est une musique sans échelle de note : toutes sont utilisées sans 
    discernement. Il existe de nombreuses manières différentes de penser la musique sans mode, sans gamme, sans tonalité, 
    comme on le verra. Ce qui était au départ une simple définition par négation est en réalité devenu quelque chose de plus 
    complexe, et donc mal défini par ce seul terme de "musique atonale".</p>