@{
    Layout = null;
}


<h1 class="display-4 text-center">Les ¤modes et les ¤gammes</h1>



<p>Un <strong>mode</strong>, c’est une liste de notes qu’on décide pour un morceau. Ces notes seront 
    privilégiées par rapport aux autres, et la plupart du temps, être les seules utilisées. </p>

<p>Les modes les plus utilisés sont soit <strong>pentatoniques (constitués de 5 notes)</strong>, soit 
    <strong>diatoniques (constitués de 7 notes)</strong>. On sélectionne donc parmi les 12 notes celles qu’on 
    utilisera, et du coup celles qu’on n’utilisera pas, ou très peu. Utiliser les touches blanches 
    uniquement, c’est déjà de base n’utiliser que 7 notes sur les 12 existantes. C’est un preset, en fait. 
    Les touches blanches permettent de construire les 7 modes traditionnels, donc ça nous suffira pour le 
    moment.</p>

<p>Une <strong>gamme</strong>, c'est quasiment la même chose qu'un mode. L'un et l'autre sont parfois 
    utilisés comme des synonymes. A cela prêt qu'une gamme désigne à la fois un mode, et sa note 
    <strong>fondamentale</strong>, c'est à dire la note à partir de laquelle on construit le mode. Nous 
    verrons ça dans la partie suivante.</p>

<p>Si la différence entre les deux paraît confuse pour vous, considérez pour le moment que c'est la même 
    chose. La différence deviendra plus claire avec la pratique.</p>
