@{
    Layout = null;
}

<h1 class="display-4 text-center">Les ¤modes de Messiaen</h1>

<p>Messiaen est le premier compositeur à avoir écrit sa propre théorie, une pratique qui sera de plus en plus courante 
    au fil du XXème siècle chez les compositeurs de ce qu'on appelle "musique contemporaine" et qu'on devrait appeler, 
    pour plus de clarté, "musique écrite expérimentale". </p>

<p>Pendant que le monde était en train de s'autodétruire gaiement, il a publié, en 1944, "Technique de mon langage 
    musical", un livre théorique de son propre style. Comme c'est un des compositeurs les plus influents du XXème siècle,
    cette "technique" a inspiré beaucoup de compositeurs par la suite, alors pourquoi pas vous.</p>

<p>On y trouve plein de choses rigolotes comme des transcriptions en partition de chants d'oiseaux, mais ce qui va nous 
    intéresser ici, c'est ce qu'on nomme aujourd'hui les "modes de Messiaen" ou "modes à tranposition limitée".</p>

<p>Quand on a vu comment construire les 7 modes traditionnels, on a pu voir des caractéristiques communes entre tous ces 
    modes, comme par exemple le placement systématique de deux demi-tons dans l'échelle de notes. Mais pourquoi ne pas 
    en mettre plus ? Et pourquoi se limiter aux modes qui ressortent des touches blanches d'un clavier ?</p>

<p>On va décrire, écouter et commenter les 7 modes de Messiaen. Avec ces modes, on double donc le nombre de modes, ce 
    qui n'est pas rien. Ils sont cela dit plus surprenants, et donc plus difficiles à utiliser, que les 7 modes 
    traditionnels. </p>

    <p>Je vais à chaque fois construire le mode à partir de la note DO. Comme pour les autres modes, vous pouvez les 
        construire sur n'importe quelle note, en respectant simplement les successions d'intervalles.
    </p>

    <br />

<h3>Mode de Messiaen 1</h3>

<p>Le mode 1 est aussi appelé la "gamme par tons", parce qu'il ne contient qu'une succession de tons, sans jamais de 
    demi-ton. C'est un mode en réalité inventé par Claude Debussy.</p>

<img src="~/img/0394_autres_theories_modes_messiaen_1.png" />

<audio controls>
    <source src="~/audio/0335_autres_theories_modes_messiaen_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0335_autres_theories_modes_messiaen_1.mid">Télécharger le MIDI</a>
</div>

<p>C'est sans doute à cause de la gamme par tons que la musique de Debussy a été parfois appelée "impressionniste", ce 
    qui en réalité n'a pas vraiment de sens. En tout cas, cette gamme permet de faire disparaître les relations entre 
    les différentes notes : comme tous les intervalles sont égaux, il n'y a aucune dynamique de tension/résolution, 
    aucun pôles de gravité. La seule manière d'en créer est de décider de jouer plus certaines notes que d'autres, mais 
    le mode en lui-même ne contient pas de relations évidentes.</p>

    <p>Notez que ce mode contient 6 notes. Les modes traditionnels en contiennent tous 7, mais on avait aussi vu les 
        modes pentatoniques qui en contenaient 5. De la même manière, les modes de Messiaen ont des nombres variables de 
        notes.
    </p>


<h3>Mode de Messiaen 2 :</h3>

<p>Le mode 2 est parfois appelé le mode "demi-ton ton". C'est comme ça qu'on le construit, en alternant de manière 4 
    fois d'affilé demi-ton et ton jusqu'à arriver à l'octave. </p>

<img src="~/img/0395_autres_theories_modes_messiaen_2.png" />

<audio controls>
    <source src="~/audio/0336_autres_theories_modes_messiaen_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0336_autres_theories_modes_messiaen_2.mid">Télécharger le MIDI</a>
</div>

<p>On peut imaginer toutes sortes de relations de tension/résolution avec ce mode, grâce à ce grand nombre de demi-tons. 
    Je trouve que ce mode va du sombre au lumineux en montée, et l'inverse en descente. Il y a deux moitié distinctes, 
    je trouve : une grave et solennelle (moitié basse), et une ouverte sur l'espoir (moitié haute).</p>


<h3>Mode de Messiaen 3 :</h3>

<p>Le mode 3 suit le schéma : ton, demi-ton, demi-ton. Ce schéma est répété trois fois pour atteindre l'octave.</p>

<img src="~/img/0396_autres_theories_modes_messiaen_3.png" />

<audio controls>
    <source src="~/audio/0337_autres_theories_modes_messiaen_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0337_autres_theories_modes_messiaen_3.mid">Télécharger le MIDI</a>
</div>

<p>Pour moi, ce mode est très instable, et peut être utilisé pour exprimer des émotions complexes et douloureuses 
    comme la rancoeur, les regrets ou les remords.
</p>


<h3>Mode de Messiaen 4 :</h3>

<p>Le mode 4 suit le schéma : demi-ton, demi-ton, 1 ton et demi, demi-ton. Ce schéma est répété deux fois pour atteindre 
    l'octave.</p>

<img src="~/img/0397_autres_theories_modes_messiaen_4.png" />

<audio controls>
    <source src="~/audio/0338_autres_theories_modes_messiaen_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0338_autres_theories_modes_messiaen_4.mid">Télécharger le MIDI</a>
</div>

<p>Ce mode a un côté très cinématographique, que personnellement je n'aime pas trop, sans trop arriver à dire pourquoi.</p>


<h3>Mode de Messiaen 5 :</h3>

<p>Le mode 5 suit le schéma : demi-ton, 2 tons, demi-ton, 2 tons. Ce schéma est répété deux fois pour atteindre 
    l'octave.</p>

<img src="~/img/0398_autres_theories_modes_messiaen_5.png" />

<audio controls>
    <source src="~/audio/0339_autres_theories_modes_messiaen_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0339_a">Télécharger le MIDI</a>
</div>

<p>Même commentaire que le mode 4, d'ailleurs je trouve que les deux sont très similaires dans le ressenti. C'est sans 
    doute car je ne les ai jamais utilisés.</p>


<h3>Mode de Messiaen 6 :</h3>

<p>Le mode 6 suit le schéma : ton, ton, demi-ton, demi-ton. Ce schéma est répété deux fois pour atteindre l'octave.</p>

<img src="~/img/0399_autres_theories_modes_messiaen_6.png" />

<audio controls>
    <source src="~/audio/0340_autres_theories_modes_messiaen_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0340_autres_theories_modes_messiaen_6.mid">Télécharger le MIDI</a>
</div>

<p>C'est une sorte de mode 1 (par tons) auquel on aurait greffé quelques demi-tons pour plus de possibilités 
    d'expression. Il est très facile d'alterner entre mode 1 et mode 6 : il suffit d'ajouter deux notes pour passer 
    de l'un à l'autre. Cette particularité me fait penser aux modes pentatoniques, qui peuvent se transformer en 
    modes diatoniques en ajoutant deux notes pour former des demi-tons. Ici, le mode "pentatonique" serait le mode 1, 
    et sa version plus "complète", qui correspondrait au mode diatonique, serait le mode 6.
</p>


<h3>Mode de Messiaen 7 :</h3>

<p>Le mode 7 suit le schéma : demi-ton, demi-ton, demi-ton, ton, demi-ton. Ce schéma est répété deux fois pour atteindre 
    l'octave.</p>

<img src="~/img/0400_autres_theories_modes_messiaen_7.png" />

<audio controls>
    <source src="~/audio/0341_autres_theories_modes_messiaen_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0341_autres_theories_modes_messiaen_7.mid">Télécharger le MIDI</a>
</div>

<p>On est très proche d'une gamme chromatique (utilisant les 12 notes), avec 2 tons permettant de respirer un peu.</p>

<br />

<p>En plus d'être des nouveaux modes à expérimenter, les modes de Messiaen ouvrent la voie à la création de ses propres 
    modes. On peut en créer bien plus au sein de l'octave, et on peut même imaginer des modes qui dépassent l'octave. 
    C'est cela dit difficile d'obtenir un résultat intéressant. Pour ma part, même si l'idée de créer des modes me 
    fascine, je n'ai jamais mis ça en pratique dans mes compositions.</p>