@{
    Layout = null;
}



<h1 class="display-4 text-center">Les ¤modes ¤diatoniques</h1>



<p>Maintenant, on peut utiliser les 7 notes, demi-tons ou non.</p>

<img src="~/img/0013_diatonique.png" />

<p>Les touches blanches, c’est déjà 7 notes. Du coup, on n’a qu’une gamme ?</p>

<p>Non, car il faut se rappeler de l’importance de la note fondamentale. Si on se base sur DO, et si on se 
    base sur RE, on aura un mode différent. La raison est que les 7 notes sont organisées de manière 
    inégale : il y a parfois des tons, parfois des demi-tons. La disposition des tons et demi-tons diffère 
    entre chaque mode.</p>

<p>En l’occurrence, pour les touches blanches, les demi-tons seront toujours entre MI et FA, et entre SI et 
    DO. Du coup, si on a DO pour note fondamentale, le premier demi-ton sera entre la 3ème et la 4ème note. </p>

<img src="~/img/0014_exemple_mode_do.png" />

<p>Si en revanche on prend MI pour note fondamentale, le premier demi-ton est directement au-dessus de la 
    fondamentale, car le FA est la 2ème note. Et ça change vraiment, vraiment tout au ressenti. </p>

<img src="~/img/0015_exemple_mode_mi.png" />

<p>On a donc 7 notes fondamentales. Ça nous fait 7 modes différents. Pour les jouer, c’est simple :</p>

<ul>

    <li>Le mode de DO, c’est les touches blanches allant de DO à DO.</li>

    <li>Le mode de RE, c’est les touches blanches allant de RE à RE.</li>

    <li>Etc.</li>

</ul>

<p>Pour les découvrir, s’en imprégner, le mieux est de faire comme pour les gammes pentatoniques : on laisse 
    tourner le bourdon dans les graves, la note fondamentale, et on construit une mélodie dessus.</p>

<p>Une mélodie, ça peut tout bêtement être les notes les unes après les autres, dans l’ordre. C’est 
    <strong>déjà</strong> une mélodie, avec déjà un mood particulier. Pareil en descendant les notes dans 
    l’ordre. C’est donc ce que je vais faire : d’abord les notes en montée, puis les notes en descente, 
    lentement pour qu’on puisse bien ressentir le rôle de chaque note. </p>

<p>Vous remarquerez qu’avant le bourdon, je joue une note. Ne vous en préoccupez pas pour l’instant : elle 
    est là pour « préparer » l’oreille, pour permettre de mieux mettre en valeur la fondamentale, et donc 
    ensuite de mieux entendre la personnalité de chaque mode.</p>

<img src="~/img/0016_mode_do.png" />

<audio controls>
    <source src="~/audio/0006_mode_de_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0006_mode_de_do.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0017_mode_re.png" />

<audio controls>
    <source src="~/audio/0007_mode_de_re.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0007_mode_de_re.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0018_mode_mi.png" />

<audio controls>
    <source src="~/audio/0008_mode_de_mi.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0008_mode_de_mi.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0019_mode_fa.png" />

<audio controls>
    <source src="~/audio/0009_mode_de_fa.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0009_mode_de_fa.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0020_mode_sol.png" />

<audio controls>
    <source src="~/audio/0010_mode_de_sol.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0010_mode_de_sol.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0021_mode_la.png" />

<audio controls>
    <source src="~/audio/0011_mode_de_la.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0011_mode_de_la.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0022_mode_si.png" />

<audio controls>
    <source src="~/audio/0012_mode_de_si.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0012_mode_de_si.mid">Télécharger le MIDI</a>
</div>

<p>En écoutant ces extraits, concentrez-vous sur ce que vous ressentez : </p>

<ul>

    <li>Quel est le mood général ? </li>

    <li>Quelles notes ont l’air importantes ? </li>

    <li>Quelle succession de note vous parait tendue ? Détendue ? </li>

    <li>Quel effet ça fait de revenir sur la note fondamentale ? En haut, en bas ?  </li>

    <li>Entendez-vous les demi-tons ? Quels effets ont-ils ? Est-ce que cet effet est différent selon les 
        modes ? </li>

</ul>

<p>On va parler plus précisément du rôle grammatical des notes dans la prochaine partie. Mais avant de lire 
    froidement la théorie, c’est bien d’essayer de la ressentir en écoutant. Ce que j’expliquerai sera alors 
    plus parlant.</p>
