@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Mélodie : mouvements généraux</h1>



<p>Tout est possible dans une mélodie, mais on peut observer des tendances dans les mouvements généraux.</p>

<p>Dans sa forme la plus brute, une mélodie aura tendance à démarrer depuis la fondamentale, monter jusqu'à 
    la quinte, tourner autour de la quinte, puis redescendre sur la fondamentale.</p>

<img src="~/img/0069_melodie_mvt_generaux_1.png" />

<audio controls>
    <source src="~/audio/0046_melodie_mvt_generaux_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0046_melodie_mvt_generaux_1.mid">Télécharger le MIDI</a>
</div>

<p>Ce mouvement est observable clairement dans le chant grégorien, qui est le fondement de toute la musique 
    occidentale. Le chant grégorien est, en fait, une sorte de préhistoire de la musique occidentale, et donc 
    très intéressant pour comprendre les bases des bases des bases de la théorie musicale.</p>

<p>Je ne m'attarderai pas plus sur le chant grégorien, mais je conseille vivement d'en écouter car, 
    premièrement, il est constitué exclusivement de mélodie, deuxièmement, il suit une logique modale (comme 
    la présente théorie), et, enfin, parce qu'il se construit sur un certain nombre de patterns mélodiques 
    qui se retrouvent de chant en chant, utilisables partout et permettant de développer efficacement son 
    intuition mélodique. Et puis c'est magnifique. Ecoutez-en.</p>

<p>On peut distinguer deux grands types de successions de notes : les notes conjointes et les notes 
    disjointes. Les termes parlent d'eux-même : les notes conjointes sont des notes qui se suivent, alors 
    que les notes disjointes font des "sauts" d'une note à une note plus lointaine.</p>

<img src="~/img/0070_melodie_mvt_generaux_2.png" />

<audio controls>
    <source src="~/audio/0047_melodie_mvt_generaux_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0047_melodie_mvt_generaux_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0071_melodie_mvt_generaux_3.png" />

<audio controls>
    <source src="~/audio/0048_melodie_mvt_generaux_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0048_melodie_mvt_generaux_3.mid">Télécharger le MIDI</a>
</div>

<p>Les notes conjointes permettent de profiter directement des atouts mélodiques de la gamme qu'on joue, et 
    qu'on a pu entendre dans la partie sur les modes, quand on jouait une à une les notes en montant, puis 
    en descendant. </p>

<p>Elles permettent aussi de jouer un rôle de liant, notamment quand on utilise les notes de passage. Par 
    exemple, si on veut aller de la fondamentale à la quinte, on peut monter entre les deux toutes les notes 
    intermédiaires les unes après les autres pour créer un mouvement d'ascension plus fluide.</p>

<p>Les notes disjointes permettent d'une part de créer des surprises, d'autre part de profiter des atouts 
    mélodiques des intervalles, ceux qu'on a pu entendre dans la partie sur les intervalles. Elles permettent
    aussi de créer des mélodies-accords, c'est-à-dire des <strong>arpèges</strong> : en jouant tour à tour 
    les notes d'un accord, on obtient un résultat mêlant mélodie et harmonie. On verra ça plus en détail dans
    la partie sur l'harmonie.</p>

<p>Une mélodie est en général constituée de successions de notes conjointes et continues. C'est ce qui permet
    d'avoir une phrase musicale variée, avec à la fois des suites de notes évidentes et des sauts 
    surprenants :</p>

<img src="~/img/0072_melodie_mvt_generaux_4.png" />

<audio controls>
    <source src="~/audio/0049_melodie_mvt_generaux_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0049_melodie_mvt_generaux_4.mid">Télécharger le MIDI</a>
</div>