@{
    Layout = null;
}

<h1 class="display-4 text-center">Les musiques atonales et sérielles</h1>

<p>On a beaucoup parlé de la musique modale, beaucoup moins de la musique tonale. La musique atonale, quant à elle, 
    s'est construite en opposition aux deux précédentes.</p>

<p>Esthétiquement, on peut aborder la musique atonale de plusieurs manières : soit c'est une théorie avant-gardiste 
    destinée à devenir le fondement des prochains siècles de musique future (tenez vous bien : c'est comme ça que la 
    voyaient les compositeurs atonaux de la première époque) ; soit c'est une musique expressionniste et violente car 
    constamment dissonante ; soit c'est une musique engagée anarchiste car combattant dans sa nature même la notion de 
    hiérarchie ; soit encore c'est une musique d'intérêt purement intellectuel jusqu'au point où sa logique est plus 
    importante que son résultat sonore (Boulez a dit des choses dans ce sens, mais c'était vraisemblablement de la provoc).</p>

<p>Les premières musiques atonales n'ont cela dit rien d'intellectuel ou de logique. C'était au contraire des 
    aspirations à la liberté. A la fin du romantisme, notamment, les compositeurs expriment le besoin de s'éloigner de 
    la rigueur théorique pour aller vers toujours plus d'expression personnelle ou d'évocation mystique. C'est le cas, 
    par exemple, de Debussy, mais aussi et surtout de Liszt et Wagner, les deux premiers compositeurs à incorporer de 
    l'atonal (au sens de : impossible à théoriser avec les règles académiques) dans leur musique. Mais le compositeur 
    qui a vraiment lancé cette aventure, c'est Schoenberg.</p>

<p>Les 1ères musiques atonales de Schoenberg sont totalement libres de toute théorie. C'est de la musique impossible à 
    analyser avec les outils théoriques qu'on utilise pourtant encore aujourd'hui. Elle est atonale par le simple fait 
    qu'on ne peut pas lui attribuer de tonalité claire. Les 12 notes de l'octave sont utilisées a priori 
    indistinctement. On parle donc de musique dodécaphonique.</p>

<!-- extrait sonore ou vidéo -->

<p>Mais Schoenberg n'est pas le romantique qu'il espérait être. Ses élèves notamment le décrivent comme très académique 
    et conservateur, attaché aux règles. Rapidement, donc, il a voulu rationaliser la musique atonale. En effet, dans ses 
    1ères œuvres atonales, si on ne peut pas déceler clairement une tonalité, on peut tout de même entendre des notes 
    pôles, ou pivot, autour desquelles se construisent sporadiquement des micro-systèmes de tensions/résolution. 
    Schoenberg veut radicalement mettre fin à ces rapports hiérarchiques entre les notes, pour que pas une seule note ne 
    soit plus importante qu'une autre. La solution est assez simple : il faut utiliser une à une les 12 notes avant de 
    recommencer, et ce de manière cyclique. Les 12 notes sont organisées en une série : on parle alors de sérialisme, de 
    musique sérielle. Chaque morceau a sa propre série. Une série n'est pas obligée d'utiliser les 12 notes d'ailleurs, 
    tant que les notes sont jouées toutes à égalité.</p>

<p>Prenons pour exemple cette série utilisant les 12 notes disponibles :</p>

<!--  série avec juste noms des notes -->

<p>On peut composer en utilisant systématiquement les notes dans cet ordre, mais organisées de plein de manières 
    différentes : </p>

<! -- exemples de genre 4 occurrences, avec la dernière qui fait aussi des accords -->
<!-- audio et midi -->

<p>On peut ensuite utiliser toutes les techniques musicales existantes en musique tonale ou modale, adaptées à la musique 
    à base de séries : renversements, inversions, canons, etc. Un exemple d'une des œuvres sérielles les plus connues 
    est les Variations op. 27 de Webern : </p>

<!-- video variations op. 27 -->

<p>Cette théorie fondée par Schoenberg sera explorée de fond en comble par deux de ses élèves : Berg et Webern. Webern, 
    notamment, le plus radical, est le premier à avoir l'idée d'appliquer le concept de série à un autre paramètre 
    musical que les notes, par exemple les timbres. Une série de timbres pourrait par exemple être : piano, violon, 
    flûte, vibraphone, cor. Ces 5 timbres seront alors utilisés de manière sérielle pour qu'aucun ne soit prédominant par 
    rapport à l'autre. </p>

<p>La deuxième génération de compositeurs atonaux, parmi eux Boulez et Stockhausen, va pousser jusqu'au bout cette 
    logique de série. On parle alors de sérialisme intégral. L'idée est que tous les paramètres musicaux soient organisés 
    en séries. On va avoir des séries de valeurs rythmiques, des séries d'intensité, des séries de timbres, des séries de 
    modes de jeu, etc. Tout ça en même temps pour aboutir à une œuvre complète. Le résultat est une sorte de perfection 
    anarchique, où la notion de hiérarchie est définitivement absente.</p>

<p>Un exemple de Boulez : </p>

<!-- exemple boulez  -->

<p>Un exemple de Stockhausen : </p>

<!-- exemple stockhausen -->

<p>Et pour finir, un exemple de Babbitt, critiqué par les autres compositeurs sériels comme ayant poussé la logique 
    sérielle à un niveau d'abstraction qui a perdu toute musicalité. Personnellement, c'est mon favori, parce que ce que 
    me fait ressentir cette musique c'est justement une sensation de devenir complètement fou d'une manière simultanément 
    chaotique et logique, donc une forme de musique de l'extrême. Alors autant aller jusqu'à l'extrême justement, ne plus 
    faire de détours et créer enfin la musique la plus démente qui puisse exister : </p>

<!-- exemple Babbitt -->