@{
    Layout = null;
}

<h1 class="display-4 text-center">Hasard, probabilité et musiques de masse</h1>

<p>Vous avez sans doute remarqué dans la partie précédente qu'à moins d'une écoute extrêmement précise et pointue, il 
    est difficile voir impossible d'entendre la complexité théorique qui sous-tend la musique sérielle, surtout celle du 
    sérialisme intégral. Ce qu'on entend est une identité stylistique permettant diverses musiques qui comportent une 
    certaine constante dans la manière dont elles sonnent. Si ça non plus n'est pas possible, alors on les ressent comme 
    complètement aléatoires.</p>

<p>Durant la même époque que le sérialisme intégral, les compositeurs de l'Ecole de New York, John Cage en premier 
    représentant, utilisent le hasard pour composer. John Cage étant le plus radical, et aussi le plus facile à 
    comprendre. Il invente un grand nombre de procédés aussi naïfs que géniaux pour créer de la musique 
    via le hasard, dans le but de supprimer sa volonté personnelle. Suivant l'enseignement zen de maître Suzuki à cette 
    époque, il transcrit une partie de cette pratique religieuse dans sa manière de composer. Il veut "laisser les sons 
    être", adore la neutralité du silence, déteste la musique communément admise qu'il considère comme "saturée 
    d'intentions", adore tous les sons sans distinction (et si c'est contradictoire, tant mieux), dans une forme 
    d'anarchisme lui aussi, mais teinté d'un bouddhisme zen occidentalisé. Le hasard est donc un moyen de sortir de soi 
    et d'obtenir une musique qui serait semblable à un phénomène naturel.</p>

<p>Le hasard de Cage est rudimentaire et généralement poétique. Il utilise par exemple les dés, des confettis qui 
    tombent naturellement sur une page de partition pleine de colle, l'imprévisibilité des mouvements de l'eau dans des 
    conques, le Yi Jing, la forme des pierres quand on en dessine les contours avec un crayon, etc. Cette vision à la 
    fois terre à terre, naïve et illuminée de la poésie est commune aux musiciens de l'Ecole de New York mais aussi aux 
    artistes peintres qui leur sont contemporains, comme par exemple les figures de l'action painting. Pour citer [le 
    poète, cf. article] : "Tout, une paire de chaussette, est juste, juste pour la poésie"</p>

<p>Le hasard de Xenakis est aussi complexe que celui de Cage est simple. Considérant que la musique sérielle n'a 
    finalement pour résultat sonore qu'une masse musicale fonctionnant comme un tout, Xenakis décide de ne plus utiliser 
    une logique arbitraire comme celle des compositeurs sérielles, mais une logique issue de véritables phénomènes de 
    masse naturels cette fois-ci, comme par exemple la dispersion des gaz dans l'air ou la dynamique des fluides, 
    transcrits en formules mathématique, puis en musique. Il compose aussi avec ses outils d'architecte, sur du papier 
    millimétré, avec des lignes et courbes qui se traduisent musicalement par des glissandi. </p>