@{
    Layout = null;
}


<h1 class="display-4 text-center">Les ¤n-olets</h1>



<p>On a vu que tous les temps se divisent en deux. Dans le cas du ternaire, le temps se divise en trois, mais
    ses subdivisions se font aussi en deux. La division par deux est donc la division par défaut.</p>

<p>Pourtant, on pourrait vouloir, momentanément, diviser un seul temps en autre chose que deux. C'est un 
    effet très intéressant qui permet de varier un beat ou une mélodie, de créer de la surprise, ou de créer 
    une <strong>tension</strong> rythmique, la <strong>résolution</strong> étant alors le retour à la normale
    : les divisions par deux.</p>

<p>On nomme ces divisions exceptionnelles des <strong>n-olets</strong>. Le n est une variable qui peut 
    prendre différente valeurs pour désigner par combien on va diviser le temps.</p>

<p>Dans les différents exemple, je vais faire deux mesures avec : une note de piano pour marquer le début de 
    chaque mesure, des hihats pour marquer chaque temps, et des rims pour marquer les divisions "normales" 
    de ces temps. Et, sur le premier temps de la 2ème mesure, je vais placer le n-olet.</p>


<h4>Le <strong>triolet</strong></h4>

<p>On divise le temps par trois au lieu de deux. Exemple d'un triolet utilisé en 4/4 :</p>

<img src="~/img/0131_rythme_nolets_1.png" />

<audio controls>
    <source src="~/audio/0115_rythme_nolets_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0114_rythme_nolets_1.mid">Télécharger le MIDI</a>
</div>

<h4>Le <strong>quintolet</strong></h4>
<p>On divise le temps par cinq. Exemple d'un quintolet utilisé en 4/4 :</p>

<img src="~/img/0132_rythme_nolets_2.png" />

<audio controls>
    <source src="~/audio/0116_rythme_nolets_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0115_rythme_nolets_2.mid">Télécharger le MIDI</a>
</div>


<h4>Le <strong>septuplet</strong></h4>

<p>On divise le temps par 7. Exemple d'un septuplet utilisé en 4/4 : </p>

<img src="~/img/0133_rythme_nolets_3.png" />

<audio controls>
    <source src="~/audio/0117_rythme_nolets_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0116_rythme_nolets_3.mid">Télécharger le MIDI</a>
</div>

<p>On peut aussi partir, au contraire, d'un temps divisé normalement par 3, donc dans le cadre d'un rythme 
    ternaire :</p>


<h4>Le <strong>duolet</strong></h4>

<p>On divise le temps par deux au lieu de trois. Exemple d'un duolet utilisé en 6/8 :</p>

<img src="~/img/0134_rythme_nolets_4.png" />

<audio controls>
    <source src="~/audio/0118_rythme_nolets_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0117_rythme_nolets_4.mid">Télécharger le MIDI</a>
</div>


<h4>Le <strong>quartolet</strong></h4>

<p>On divise le temps par quatre. Exemple d'un quartolet utilisé en 6/8 : </p>

<img src="~/img/0135_rythme_nolets_5.png" />

<audio controls>
    <source src="~/audio/0119_rythme_nolets_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0118_rythme_nolets_5.mid">Télécharger le MIDI</a>
</div>

<br />

<p>Jusqu'ici, on a divisé les temps de la mesure. Mais les n-olets ne se limitent pas aux temps : n'importe 
    quelle sous-division des temps a une "version olet". Par exemple, en 4/4, on a divisé les noires(4) en 
    trois. On appelle ça des triolets de croche(8T). Pourquoi croche ? Simplement parce qu'on divise une 
    noire. On pourrait aussi décider de diviser une croche(8) en trois. Dans ce cas, on utiliserait des 
    triolets de double-croches(16T). Ou encore, diviser une blanche(2) en trois : dans ce cas, on utilise 
    des triolets de noire(4T).</p>

<p>Sur Ableton Live (et Reaper), il y a une option pour passer toutes les divisions en leur version triolet :</p>

<img src="~/img/0136_rythme_nolets_6.png" />

<p>Sur Cubase (et Logic, et FL Studio), les triolets sont proposées à la suite des autres (ainsi que les 
    valeurs pointées) :</p>

<img src="~/img/0137_rythme_nolets_7.png" />

<p>A noter qu'aucun DAW ne propose d'autre n-olet que les triolets. C'est vraiment dommage, je trouve. Il 
    faut donc les créer à la main, en retouchant les notes sans grid pour créer des divisions égales en 
    5, 7 etc. Ou à l'inverse les divisions en 2, 4, etc. quand on compose en ternaire.</p>

<p>En jouant avec les n-olets, on obtient des rythmes complexes avec des tensions et résolutions. On peut 
    aussi obtenir des mélodies qui paraissent plus libres, comme si elles n'étaient pas au tempo, ce qui 
    crée en soit une forme nouvelle d'expressivité. Les n-olets sont enfin essentiels pour composer les 
    pistes de hihats dans le rap et surtout la trap.</p>