@{
    Layout = null;
}

<h1 class="display-4 text-center">Les notes parallèles</h1>



<p>La première forme de polyphonie est la plus simple : on reproduit le même mouvement mélodique quelques notes au-dessus ou 
    en dessous. On obtient deux mélodies superposées. Voilà la mélodie d'origine :</p>

<img src="~/img/0157_harmonie_notes_paralleles_1.png" />

<audio controls>
    <source src="~/audio/0145_harmonie_notes_paralleles_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0145_harmonie_notes_paralleles_1.mid">Télécharger le MIDI</a>
</div>

<p>Et maintenant, la même mélodie avec ajout des notes parallèles :</p>

<img src="~/img/0158_harmonie_notes_paralleles_2.png" />

<audio controls>
    <source src="~/audio/0146_harmonie_notes_paralleles_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0146_harmonie_notes_paralleles_2.mid">Télécharger le MIDI</a>
</div>

<p>On voit très bien sur un pianoroll pourquoi on parle de "notes parallèles", et c'est aussi le cas sur une partition. </p>

<p>Dans cet exemple, on est en mode de RE, avec RE pour fondamentale. La mélodie commence sur cette fondamentale. On reproduit 
au dessus le même mouvement mélodique, en partant de LA, la quinte. On obtient deux mélodies superposées, qui forment une 
succession d'accords de deux notes. Ces deux notes sont systématiquement séparées d'un intervalles de quinte. 
<strong>On parle alors de quintes parallèles.</strong> </p>

<p>Si ça sonne si facilement "médiéval", c'est parce que les quintes parallèles étaient une pratique courante, séculaire, qui
    a été plus tard été détestée justement parce qu'elle sonnait ancien. A tel point qu'elle a été considérée comme une 
    faute d'harmonie, équivalente à une faute d'orthographe (on verra ça dans le chapitre sur la tonalité). Du coup, quand 
    on cherche à sonner médiéval, le plus évident (quoique cliché) est d'utiliser des quintes parallèles. Des écrits 
    théoriques du Moyen-Âge décrivent ces quintes parallèles comme une manière d'agrémenter harmoniquement un chant gégorien 
    ou une récitation. Ca donne ça :</p>

<audio controls>
    <source src="~/audio/01462_harmonie_notes_paralleles_eya_mater.mp3" type="audio/mpeg">
</audio>
<br />

<p>Si on peut reproduire le mouvement mélodique à la quinte, alors pourquoi pas les autres intervalles ? On va les écouter un 
par un.</p>


<h4>Secondes parallèles :</h4>

<p>Notes parallèles une seconde en dessous :</p>

<img src="~/img/0159_harmonie_notes_paralleles_3.png" />

<audio controls>
    <source src="~/audio/0147_harmonie_notes_paralleles_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0147_harmonie_notes_paralleles_3.mid">Télécharger le MIDI</a>
</div>

<p>Notes parallèles une seconde au-dessus :</p>

<img src="~/img/0160_harmonie_notes_paralleles_4.png" />

<audio controls>
    <source src="~/audio/0148_harmonie_notes_paralleles_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0148_harmonie_notes_paralleles_4.mid">Télécharger le MIDI</a>
</div>

<p>Que pensez-vous du résultat ? Il peut paraître rude à écouter. La seconde est un intervalle très serré. Plus on met en 
    accord des intervalles serrés, plus les fréquences créent ce qu'on appelle des <strong>battements</strong>. Selon le 
    style, ces battements peuvent être perçus comme plus ou moins dissonants. </p>
<br />

<h4>Tierces parallèles :</h4>

<p>Notes parallèles une tierce en dessous :</p>

<img src="~/img/0161_harmonie_notes_paralleles_5.png" />

<audio controls>
    <source src="~/audio/0149_harmonie_notes_paralleles_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0149_harmonie_notes_paralleles_5.mid">Télécharger le MIDI</a>
</div>


<p>Notes parallèles une tierce au-dessus :</p>

<img src="~/img/0162_harmonie_notes_paralleles_6.png" />

<audio controls>
    <source src="~/audio/0150_harmonie_notes_paralleles_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0150_harmonie_notes_paralleles_6.mid">Télécharger le MIDI</a>
</div>


<p>Les tierces parallèles font toujours leur effet. C'est une manière très facile d'agrémenter harmoniquement une mélodie. On 
n'est plus aussi serré qu'avec des secondes. Généralement, on considérera que les tierces sont consonantes. </p>
<br />

<h4>Quartes parallèles :</h4>

<p>Notes parallèles une quarte en dessous :</p>

<img src="~/img/0163_harmonie_notes_paralleles_7.png" />

<audio controls>
    <source src="~/audio/0151_harmonie_notes_paralleles_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0151_harmonie_notes_paralleles_7.mid">Télécharger le MIDI</a>
</div>


<p>Notes parallèles une quarte au-dessus :</p>

<img src="~/img/0164_harmonie_notes_paralleles_8.png" />

<audio controls>
    <source src="~/audio/0152_harmonie_notes_paralleles_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0152_harmonie_notes_paralleles_8.mid">Télécharger le MIDI</a>
</div>


<p>Un peu comme les quintes parallèles, elles peuvent se ressentir comme anciennes. Elles sont, comme les quintes parallèles,
généralement perçues comme consonantes.</p>
<br />

<h4>Quintes parallèles :</h4>

<p>Notes parallèles une quinte en dessous :</p>

<img src="~/img/0165_harmonie_notes_paralleles_9.png" />

<audio controls>
    <source src="~/audio/0153_harmonie_notes_paralleles_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0153_harmonie_notes_paralleles_9.mid">Télécharger le MIDI</a>
</div>

<p>Notes parallèles une quinte au-dessus :</p>


<img src="~/img/0166_harmonie_notes_paralleles_10.png" />

<audio controls>
    <source src="~/audio/0154_harmonie_notes_paralleles_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0154_harmonie_notes_paralleles_10.mid">Télécharger le MIDI</a>
</div>



<p>Cf. le début de cette partie pour une description des quintes parallèles.</p>
<br />

<h4>Sixtes parallèles :</h4>

<p>Notes parallèles une sixte en dessous :</p>

<img src="~/img/0167_harmonie_notes_paralleles_11.png" />

<audio controls>
    <source src="~/audio/0155_harmonie_notes_paralleles_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0155_harmonie_notes_paralleles_11.mid">Télécharger le MIDI</a>
</div>

<p>Notes parallèles une sixte au-dessus :</p>

<img src="~/img/0168_harmonie_notes_paralleles_12.png" />

<audio controls>
    <source src="~/audio/0156_harmonie_notes_paralleles_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0156_harmonie_notes_paralleles_12.mid">Télécharger le MIDI</a>
</div>


<p>Leur ressenti est assez similaire aux tierces parallèles, mais l'intervalle est plus ample. On entend les deux notes plus 
distinctement. Il y a de l'espace pour laisser les notes respirer. On est encore une fois plutôt dans la consonance. </p>
<br />

<h4>Septièmes parallèles :</h4>

<p>Notes parallèles une septième en dessous :</p>

<img src="~/img/0169_harmonie_notes_paralleles_13.png" />

<audio controls>
    <source src="~/audio/0157_harmonie_notes_paralleles_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0157_harmonie_notes_paralleles_13.mid">Télécharger le MIDI</a>
</div>


<p>Notes parallèles une septième au-dessus :</p>

<img src="~/img/0170_harmonie_notes_paralleles_14.png" />

<audio controls>
    <source src="~/audio/0158_harmonie_notes_paralleles_14.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0158_harmonie_notes_paralleles_14.mid">Télécharger le MIDI</a>
</div>


<p>Selon vous, sont-elles consonantes ou dissonantes ? On est dans un terrain plus flou, encore plus dépendant du contexte. 
Très appréciées à partir du XXème siècle, beaucoup plus rares avant, elles peuvent facilement sonner jazz ou funk (même si, 
dans le contexte de nos deux flûtes, ce n'est pas très évident...).</p>
<br />
<br />


<h3>Important quand on utilise un pianoroll :</h3>

<p>Pour créer une mélodie parallèle une tierce au dessus, par exemple, il ne faut pas copier coller cette mélodie puis la 
décaler d'une tierce. Le résultat risque de ne pas être celui désiré. Quand on copie colle telle quelle une mélodie et qu'on 
la déplace, on déplace la totalité de ses intervalles de manière exacte : on fait alors une <strong>transposition</strong>. 
En le faisant, vous remarquerez que des touches noires seront utilisées dans la mélodie décalée, alors qu'elles ne font 
pourtant pas partie de notre gamme. Nous verrons dans le chapitre dédié ce qui explique tout ça.</p>

<p>Voilà un exemple de mélodie copiée collée telle quelle une tierce au dessus de la première : </p>

<img src="~/img/0171_harmonie_notes_paralleles_15.png" />

<audio controls>
    <source src="~/audio/0159_harmonie_notes_paralleles_15.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0159_harmonie_notes_paralleles_15.mid">Télécharger le MIDI</a>
</div>

<p>Pourquoi pas. Mais on sort de notre gamme (si vous regardez avec attention, vous verrez que des touches noires sont 
    utilisées). Si on veut éviter ça, il faut donc réécrire la mélodie à la main, en ajoutant les intervalles voulus au-dessus 
    (ou en-dessous) de la mélodie d'origine. Si on veut faire une mélodie parallèle une tierce en dessous, par exemple, et 
    qu'on veut rester dans notre gamme qui n'utilise que les touches blanches, on procédera note par note de cette manière :</p>

<img src="~/img/0172_harmonie_notes_paralleles_16.png" />
<img src="~/img/0173_harmonie_notes_paralleles_17.png" />
<img src="~/img/0174_harmonie_notes_paralleles_18.png" />
<img src="~/img/0175_harmonie_notes_paralleles_19.png" />
<img src="~/img/0176_harmonie_notes_paralleles_20.png" />

<p>Etc.</p>

<p>C'est un des rares cas où l'utilisation d'un pianoroll complique vraiment la vie par rapport à une partition, sur laquelle 
    on n'aurait pas à se poser toutes ces questions.</p>

<p>Ce n'est cependant pas aussi fastidieux que ça en a l'air, et avec l'habitude ça ne prend que quelques dizaines de secondes. 
Croyez-moi : ça vaut le coup d'en faire un automatisme. Vous pourrez l'utiliser partout où vous aurez besoin d'agrémenter 
harmoniquement un morceau.</p> 

<p>Jusqu'ici, on a utilisé un même son pour les deux mélodies parallèles. Mais on peut aussi très 
bien utiliser un instrument pour la mélodie du dessous, et un instrument pour la mélodie du dessus :</p>

<audio controls>
    <source src="~/audio/0160_harmonie_notes_paralleles_16.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0160_harmonie_notes_paralleles_16.mid">Télécharger le MIDI</a>
</div>

<p>Ici la flûte joue la mélodie initiale, et le piano joue la mélodie en sixtes parallèles en dessous.</p>

<p> En faisant ça, on fait ce qu'on appelle une <strong>orchestration</strong> (terme classique), ou un 
    <strong>arrangement</strong> (synonyme moderne), c'est-à-dire qu'on distribue les notes d'un même accord entre 
    plusieurs instruments. Dans notre cas, les mélodies parallèles créent des accords de deux notes, et on distribue 
    ces deux notes sur deux instruments.</p>

