@{
    Layout = null;
}


<h1 class="display-4 text-center">Les ¤ornements</h1>



<p>Un ornement est un effet mélodique. Il n'influe pas sur le discours mélodique, mais ajoute des petites 
    fioritures pour l'agrémenter.</p>

<p>Quand on joue d'un instrument, les ornements sont une évidence car ils proviennent directement du geste 
    instrumental. Quand on compose, ça nécessite un peu plus d'être intellectualisé, parce qu'on n'a pas ce 
    contact direct avec le geste. On pourrait penser qu'on a besoin de connaître les ornements uniquement 
    quand on compose pour des instruments traditionnels, et que ce n'est plus pertinent dans le cadre, par 
    exemple, d'un synthé. En réalité, non : au fil de l'histoire, les ornements sont devenus indépendants 
    des gestes instrumentaux qui les ont fait naître, et sont désormais incorporés de manière plus abstraite 
    dans le langage musical.</p>

<p>On va voir quelques-uns des ornements les plus courants. Dans chaque exemple, je vais placer l'ornement 
    sur la dernière note.</p>
<br />


<h4>La trille</h4>

<p>Faire une trille sur une note, c'est alterner très rapidement cette note et une de ses notes conjointes. 
    Elle peut donc être utilisée avec la note du dessus :</p>

<img src="~/img/0111_melodie_ornements_1.png" />

<audio controls>
    <source src="~/audio/0086_melodie_ornements_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0085_melodie_ornements_1.mid">Télécharger le MIDI</a>
</div>

<p>Ou la note du dessous : </p>

<img src="~/img/0112_melodie_ornements_2.png" />

<audio controls>
    <source src="~/audio/0087_melodie_ornements_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0086_melodie_ornements_2.mid">Télécharger le MIDI</a>
</div>

<p>Les trilles avec des notes disjointes existent aussi, bien que plus rares. </p>

<img src="~/img/01122_melodie_ornements_2-5.png" />

<audio controls>
    <source src="~/audio/0088_melodie_ornements_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0087_melodie_ornements_3.mid">Télécharger le MIDI</a>
</div>

<p>La trille provient vraisemblablement de la flûte : il suffit de maintenir le doigté de la note initiale et
    de tapoter rapidement avec un autre doigt un trou supplémentaire, ou au contraire de retirer un doigt de 
    la position initiale. </p>
<br />


<h4>L'appoggiature</h4>

<p>L'appoggiature consiste simplement à jouer une note rapidement avant la note de base. C'est comme un 
    mini-retard, à cela près qu'il n'a pas un vrai rôle dans la mélodie. C'est à considérer comme un effet 
    sur la note, plutôt comme une succession de deux notes. </p>

<img src="~/img/0113_melodie_ornements_3.png" />

<audio controls>
    <source src="~/audio/0089_melodie_ornements_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0088_melodie_ornements_4.mid">Télécharger le MIDI</a>
</div>

<p>L'appoggiature est très utilisée (surutilisée à mon goût) dans le jazz :</p>

<img src="~/img/0114_melodie_ornements_4.png" />

<audio controls>
    <source src="~/audio/0090_melodie_ornements_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0089_melodie_ornements_5.mid">Télécharger le MIDI</a>
</div>

<br />


<h4>Le mordant</h4>

<p>C'est à peu près la même chose qu'une appoggiature, mais cette fois-ci avec plusieurs notes, généralement 
    proches de la note de base :</p>

<img src="~/img/0115_melodie_ornements_5.png" />

<audio controls>
    <source src="~/audio/0091_melodie_ornements_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0090_melodie_ornements_6.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0116_melodie_ornements_6.png" />

<audio controls>
    <source src="~/audio/0092_melodie_ornements_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0091_melodie_ornements_7.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0117_melodie_ornements_7.png" />

<audio controls>
    <source src="~/audio/0093_melodie_ornements_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0092_melodie_ornements_8.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0118_melodie_ornements_8.png" />

<audio controls>
    <source src="~/audio/0094_melodie_ornements_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0093_melodie_ornements_9.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0119_melodie_ornements_9.png" />

<audio controls>
    <source src="~/audio/0095_melodie_ornements_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0094_melodie_ornements_10.mid">Télécharger le MIDI</a>
</div>

<br />

<p>Je ne fournirai pas de visuel pour les prochains ornements car ils ne sont pas visibles sur un pianoroll 
    (ils impliquent des automations). J'ai cependant intégré les automations dans les fichiers MIDI 
    téléchargeables.</p>


<h4>Le bend</h4>

<p>Cet ornement consiste à faire un rapide glissé au début d'une note. Il peut se faire en sens ascendant ou 
    descendant.</p>

<p>Bend ascendant :</p>

<audio controls>
    <source src="~/audio/0096_melodie_ornements_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0095_melodie_ornements_11.mid">Télécharger le MIDI</a>
</div>

<p>Bend descendant :</p>

<audio controls>
    <source src="~/audio/0097_melodie_ornements_12.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0096_melodie_ornements_12.mid">Télécharger le MIDI</a>
</div>

<p>Sur une guitare, le bend se réalise en tendant une corde jouée vers le haut ou vers le bas. Sur une flûte,
    il consiste à boucher progressivement un trou plutôt que le boucher d'un coup. Sur un piano acoustique, 
    le bend est impossible. Sur les synthés, on a généralement une molette de pitch bend à disposition.</p>
<br />


<h4>Le vibrato</h4>

<p>Le vibrato consiste en une succession rapide de bends légers autour de la note de base. Je vais utiliser 
    mon pocket miku pour cet exemple-là parce que c'est trop rigolo :</p>

<audio controls>
    <source src="~/audio/0098_melodie_ornements_13.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0097_melodie_ornements_13.mid">Télécharger le MIDI</a>
</div>

<p>Sur les instruments à cordes, le vibrato s'effectue en pivotant légèrement le doigt qui maintient la corde
    jouée, à vitesses variables selon l'effet voulu. A noter que sur les synthés, le vibrato est généralement
    assigné à la molette de modulation, avec des exceptions selon les sons. </p>
<br />


<h4>Le tremolo</h4>

<p>C'est l'équivalent d'un vibrato, sauf qu'au lieu de varier le pitch de la note, on varie son volume :</p>

<audio controls>
    <source src="~/audio/0099_melodie_ornements_14.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0098_melodie_ornements_14.mid">Télécharger le MIDI</a>
</div>

<p>C'est encore une fois un effet provenant vraissemblablement des instruments à vents ou de la voix, car il
    se fait naturellement en variant la pression d'air utilisée.</p>