@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Pôles de gravité</h1>



<p>On a vu que la fondamentale et la quinte sont deux points de repères autour desquels s'articule une mélodie.</p>

<img src="~/img/0073_melodie_poles_1.png" />

<p>A ces deux repères, on peut en ajouter un 3ème : la tierce, qui est essentielle au ressenti car elle différencie modes 
    majeurs et modes mineurs. Pour moi, la fondamentale et la quinte ont le plus de gravité: la mélodie tournera autour de 
    l'un et de l'autre. La tierce est un pôle sensible, c'est-à-dire qu'autour d'elle se joue l'expressivité.</p>

<img src="~/img/0074_melodie_poles_2.png" />

<p>Les autres notes sont de passage, ou du moins n'ont pas de gravité particulière. Elles sont attirées par les pôles.</p>

<p>Prenons l'exemple de la 2ème note, la seconde :</p>

<img src="~/img/0075_melodie_poles_3.png" />

<p>Dans un mouvement de notes conjointes, la seconde est attirée soit par la stabilité de la fondamentale (pôle en noir), 
    soit par la sensibilité de la tierce (pôle en bleu). Ses notes conjointes ont donc deux rôles différents. Dans le 
    mouvement de la mélodie, on a donc deux successions qui auront un effet très différent. Tant qu'on est sur la seconde, 
    on ne sait pas ce qui va se passer. La note suivante va confirmer son rôle.</p>

<img src="~/img/0076_melodie_poles_4.png" />

<audio controls>
    <source src="~/audio/0050_melodie_poles_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0050_melodie_poles_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0077_melodie_poles_5.png" />

<audio controls>
    <source src="~/audio/0051_melodie_poles_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0051_melodie_poles_2.mid">Télécharger le MIDI</a>
</div>

<p>On peut aussi décider de ne pas faire une succession conjointe. L'oreille attend naturellement les notes conjointes de la 
    seconde car elles sont toutes les deux pôles, donc sauter vers une autre note apportera une surprise, une autre forme 
    d'expressivité :</p>

<img src="~/img/0078_melodie_poles_6.png" />

<audio controls>
    <source src="~/audio/0052_melodie_poles_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0052_melodie_poles_3.mid">Télécharger le MIDI</a>
</div>

<p>Ici on fait un saut de la seconde vers la quinte. C'est une succession de notes disjointes. Surprise, la
    mélodie repart sur "autre chose". Cette autre chose est la quinte, donc la mélodie est déplacée sur un 
    autre pôle. </p>

<p>On peut aussi partir sur une autre note de passage, créant alors une ouverture incertaine, légère, 
    libérant temporairement la mélodie de ses axes principaux :</p>

<img src="~/img/0079_melodie_poles_7.png" />

<audio controls>
    <source src="~/audio/0053_melodie_poles_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0053_melodie_poles_4.mid">Télécharger le MIDI</a>
</div>

<p>Vous l'entendez : on peut difficilement terminer la mélodie ici. L'oreille a envie d'entendre la suite. 
    Il y a un suspens créé par ce mouvement disjoint et hors des pôles. Une sensation de liberté, de 
    légèreté, ou d'onirisme peut se jouer avec ce type de mouvement mélodique.</p>