@{
    Layout = null;
}

<h1 class="display-4 text-center">La ¤polytonalité</h1>

<p>Cette partie sera courte puisque le concept est parlant de lui-même. La polyphonie est la superposition de plusieurs 
    sons. La polyrythmie est la superposition de plusieurs rythmes. La polytonalité, donc, est la superposition de 
    plusieurs tonalités.</p>

<p>On conserve donc toute la logique d'une tonalité : ses modes, ses notes pôles, ses transpositions les plus évidentes, 
    etc. Mais on réserve cet ensemble relationnel à une partie de l'arrangement uniquement. Pour une autre partie, on 
    utilisera une autre tonalité, elle aussi avec ses propres règles et relations. Ce procédé, célèbrement utilisé par 
    Darius Milhaud, permet d'obtenir un juste milieu entre consonnance et dissonance, et des harmonies très riches.</p>

<p>Exemple d'un morceau dont la partie au piano est en Do Majeur, et l'ensemble à cordes est en Mib Majeur :</p>

<!-- midi sur cubase -->
    <!--extrait audio et MIDI-->
