@{
    Layout = null;
}


<h1 class="display-4 text-center">La ¤polyrythmie</h1>



<p>La <strong>polyrythmie</strong> est la superposition de plusieurs rythmes</strong>. On verra sa définition
    exacte dans le dernier chapitre. Ici, on va parler de la polyrythmie telle qu'elle est généralement 
    admise : une superposition de <strong>signatures rythmiques</strong>.</p>

<p>En superposant deux signatures rythmiques, on crée des décalages entre motifs rythmiques. Par exemple, 
    superposons des mesures en 4/4 et des mesures en 3/4.</p>

<p>Mesure en 4/4 répétée 4 fois :</p>

<img src="~/img/0152_rythme_polyrythmie_1.png" />

<audio controls>
    <source src="~/audio/0135_rythme_polyrythmie_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0134_rythme_polyrythmie_1.mid">Télécharger le MIDI</a>
</div>

<p>Mesure en 3/4 répétée 4 fois :</p>

<img src="~/img/0153_rythme_polyrythmie_2.png" />

<audio controls>
    <source src="~/audio/0136_rythme_polyrythmie_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0135_rythme_polyrythmie_2.mid">Télécharger le MIDI</a>
</div>

<p>Les deux superposées :</p>

<img src="~/img/0154_rythme_polyrythmie_3.png" />

<audio controls>
    <source src="~/audio/0137_rythme_polyrythmie_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0136_rythme_polyrythmie_3.mid">Télécharger le MIDI</a>
</div>


<p>Comme la mesure en 3/4 contient une noire(4) de moins que la mesure en 4/4, les mesures se décalent au 
    fur et à mesure :</p>

<p><b>1</b>  2  3  <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b><br />
<b>1</b>  2  3  4  <b>1</b>  2  3  4  <b>1</b>  2  3  4  <b>1</b></p>

<p>Au bout de 4 répétitions, la mesure en 3/4 est resynchronisée avec la mesure en 4/4 (on voit que leur 
    première note, <b>1</b>, est de nouveau jouée en même temps des deux côtés). Si on continue les 
    répétitions, on aura donc régulièrement les mêmes décalages et resynchronisations.</p>

<p>La polyrythmie peut se ressentir de deux manières : soit en prenant pleinement conscience de la 
    superposition de mesures, donc en développant une écoute de deux signatures rythmiques en parallèle. 
    Dans ce cas, c'est un effet que je qualifierais de cérébral, qui donne un peu la sensation de devenir 
    fou. Soit on oublie la manière dont elle est construite et on ne fait qu'écouter l'assemblage final 
    comme un tout. Dans ce cas, l'effet est un groove varié qui s'étend sur plusieurs mesures. Et on peut 
    considérer que les mesures "de base" sont celles en 3/4, ou celles en 4/4.</p>

<p>Il y a donc plein de manières de percevoir une polyrythmie. Le rôle du compositeur, dans ce cas, peut être
    de mettre en valeur une manière plutôt qu'une autre, celle qu'il souhaite faire entendre.</p>

<p>Quelques autres exemples de polyrythmies :</p>

<h4>2/4 sur 3/4</h4>

<p>
    <b>1</b>  2  <b>1</b>  2  <b>1</b>  2  <b>1</b><br />
    <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b>
</p>

<img src="~/img/0155_rythme_polyrythmie_4.png" />

<audio controls>
    <source src="~/audio/0138_rythme_polyrythmie_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0137_rythme_polyrythmie_4.mid">Télécharger le MIDI</a>
</div>

<p>Les deux mesures se synchronisent rapidement. Le rythme qui émerge se perçoit facilement comme un tout.</p>
<br />

<h4>3/4 sur 5/4</h4>

<p>
    <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b>  2  3  <b>1</b><br />
    <b>1</b>  2  3  4  5  <b>1</b>  2  3  4  5  <b>1</b>  2  3  4  5  <b>1</b>
</p>

<img src="~/img/0156_rythme_polyrythmie_5.png" />

<audio controls>
    <source src="~/audio/0139_rythme_polyrythmie_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0138_rythme_polyrythmie_5.mid">Télécharger le MIDI</a>
</div>


<p>Celui-là rend bien fou. Non seulement il met longtemps à se resynchroniser, mais en plus il est constitué 
    de deux mesures asymétriques. On est dans un délire plus cérébral.</p>

