@{
    Layout = null;
}

<h1 class="display-4 text-center">Quand utiliser des ¤dièses ? Des ¤bémols ?</h1>




<p>On a vu qu'un dièse est une altération de la note un demi-ton au-dessus, et qu'un bémol est une altération de la note un demi-ton en dessous.</p>

<p>La question que se posent généralement les musiciens est la suivante : quand décider si on utilise un bémol ou un dièse ? En effet, DO dièse et RE bémol sont la même 
    note à l'oreille, et la même touche sur un clavier de piano.</p>

<img src="~/img/0300_transposition_quand_utiliser_dieses_bemols_1.png" />

<p>On pourrait donc se demander pourquoi des fois on parle de dièse, et des fois on parle de bémol.</p>

<p>Encore une fois, il s'agit d'une différence <strong>grammaticale</strong>, et non d'une différence à l'oreille. La convention est la suivante : <strong>dans une gamme, on ne 
    répète jamais deux fois le même nom de note</strong>, simplement parce que c'est plus pratique pour communiquer entre musiciens. Prenons pour exemple les notes 
    suivantes :</p>

<img src="~/img/0301_transposition_quand_utiliser_dieses_bemols_2.png" />

<p>Nous avons 3 notes différentes. On va donc utiliser 3 noms différents. Ici, par exemple, on va nommer les notes : DO RE MI. La troisième note est un MI bémol, et non 
    un RE dièse. C'est plus pratique et intelligible de dire "DO RE MI" que "DO RE RE".</p>

<br />
<p>Une autre confusion fréquente se trouve aux deux endroits du clavier qui ne comportent pas de touche noire intermédiaire, c'est-à-dire entre MI et FA, et entre SI et 
    DO :</p>

<img src="~/img/0302_transposition_quand_utiliser_dieses_bemols_3.png" />

<p>Comment obtenir MI dièse s'il n'y a pas de touche noire à droite de MI ? De même, comment obtenir FA bémol ? Pour ça, <strong>rappelez-vous qu'entre MI et FA, et 
    entre SI et DO, il n'y a qu'un demi-ton</strong>. Comme MI dièse est un MI altéré d'un demi-ton au-dessus, MI dièse est la même note à l'oreille que FA. C'est la même touche sur le clavier. De la même manière, FA 
    bémol est égal à MI. Dans ce cas, pourquoi s'embêter à dire "MI dièse" au lieu de FA ? Pour exactement la même raison que précédemment : tout est question de 
    contexte grammatical, et de convention pratique. Imaginons qu'on joue en mode de DO, avec pour fondamentale DO dièse. Les notes seront les suivantes (obtenues par 
    transposition comme vu dans la partie précédente) :</p>

<img src="~/img/0303_transposition_quand_utiliser_dieses_bemols_4.png" />

<p>Nous sommes en gamme de DO dièse, donc on va nommer les notes : DO RE MI FA SOL LA SI. La 3ème note se nomme donc MI. C'est un MI dièse. Sinon, les notes de la 
    gamme seraient DO RE FA FA SOL LA SI, et c'est pas pratique. Ca créerait beaucoup de confusion pour, par exemple, construire les accords des différents degrés de 
    la gamme.</p>

<p>Toujours pour la même raison, on n'utilisera jamais pour construire une gamme des dièses ET des bémols en même temps. Ce sera toujours que des dièses, ou que des 
    bémols. Sinon, on perd la succession nominative des notes, et on s'embrouille. D'ailleurs, sur une partition, ça donnerait quelque chose de très difficile à lire. 
    Pour donner un exemple, la gamme ci-dessus pourrait très bien être : DO dièse, Mi bémol, FA, FA dièse, LA bémol, LA dièse, DO bémol. Ce serait les mêmes touches 
    sur le clavier. Mais c'est une vraie galère de nommer les notes de cette manière. En les listant, on aurait : DO MI FA FA LA LA DO. Pour construire les accords, ça 
    devient contre intuitif : on aurait plusieurs notes de nom identique dans un même accord, par exemple. Difficile de retrouver les intervalles sans avoir à compter 
    minutieusement les tons et demi-tons.</p>

<br />

<p>Une dernière manière d'utiliser les dièses et les bémols est quand, en dehors du cadre de la transposition, on souhaite créer ce qu'on appelle des 
    <strong>altérations accidentelles</strong>. L'idée est que, par exemple, au milieu d'un morceau dans une gamme donnée, on met un dièse ou un bémol sur telle ou 
    telle note alors que ce n'est pas prévu dans le cadre qu'on a choisi. C'est tout à fait possible, et d'ailleurs je n'aime pas l'appellation académique qui donne 
    l'impression que c'est une erreur parce qu'on parle d'accident. Gardez en tête que tout est possible : la théorie de la musique n'explique que des généralités et 
    ne constitue en aucun cas des règles absolues. On peut donc mettre un dièse ou un bémol n'importe où si on le souhaite, simplement parce que ça sonne bien à ce 
    moment-là, ou annuler un dièse ou un bémol initialement prévu (dans ce cas, on fait un <strong>bécarre</strong>). En général, une altération accidentelle ne 
    modifiera toutefois pas l'harmonie sous-jacente du morceau. C'est une exception à ses règles grammaticales. L'exception qui confirme la règle, c'est souvent faux, 
    mais ici ça marche bien.</p>

<br />
<hr />
<br />

<p>Pour ceux qui sont curieux, il y a un autre aspect qu'on peut citer pour le choix entre bémols ou dièses. Vous n'en aurez très probablement pas besoin car ça ne 
    concerne que la musique strictement instrumentale (interprétée par des humains), mais c'est intéressant à savoir pour comprendre certains morceaux, pour ceux qui 
    s'intéressent à l'analyse théorique. Les autres peuvent passer directement à la partie suivante.</p>

<p>La question est : quand on choisit la note fondamentale, comment on décide lorsque celle-ci est altérée ? Par exemple, comment choisir entre une gamme en DO dièse, 
    ou une gamme en RE bémol ? C'est la même note fondamentale à l'oreille : seuls les noms des notes vont changer. Mais ce sera strictement les mêmes touches sur le 
    clavier. Ce sera strictement les mêmes notes placées sur un pianoroll. Dans ce cas, on ne fait que choisir un contexte grammatical plutôt qu'un autre, pour les 
    mêmes sons et les mêmes intervalles. Alors pourquoi l'un et pas l'autre ?</p>

<p>La raison est uniquement psychologique. Les bémols, c'est altérer les notes vers le bas. Les dièses, c'est les altérer vers le haut. Donc, même lorsqu'il s'agit des 
    mêmes sons à l'oreille, un musicien aura cette sensation de descendre avec des bémols ou de monter avec des dièses. Pour les instruments qui le permettent, comme 
    par exemple le violon, l'instrumentiste aura tendance, pour la même note a priori, à jouer un bémol quelques hertz en dessous de ce qui est prévu, et un dièse 
    quelques hertz au-dessus. Et même pour les instruments qui ne permettent pas ce type de variation, comme le piano où ce sera simplement la même touche, la même note 
    pensée comme un dièse ou un bémol n'aura pas la même valeur émotionnelle pour le musicien. On descend ou on monte : c'est une intention différente.</p>

<p>Les compositeurs, surtout à partir du XIXème siècle, ont intégré cet effet psychologique et ça détermine leurs choix pour la gamme utilisée. Une gamme en MI bémol 
    sera utilisée pour un morceau pensé comme pesant, et une gamme en RE dièse sera utilisée pour le même morceau pensé comme plus aérien, par exemple. Les deux 
    utilisent pourtant les mêmes sons. Certains compositeurs poussent le vice jusqu'à écrire une partie du morceau dans l'un, et une partie du morceau dans l'autre 
    (très rare, mais tout de même). Un enfer pour l'instrumentiste car la partition change complètement pour avoir strictement le même résultat, mais c'est un signe du 
    compositeur pour indiquer que l'"esprit" du morceau change à ce moment-là. C'est une indication de l'intention, et donc ça influence l'interprétation. Bon, en vrai, 
    c'est surtout de la branlette.</p>

<p>A noter que, pour les gens vraiment tordus, il existe des double dièses et double bémols. Au lieu d'altérer la note d'un demi-ton, on altère la note d'un ton. Par 
    exemple, DO double dièse équivaut à RE. Là encore, c'est très rare et ça n'est utile que dans des contextes grammaticaux très alambiqués. La plupart du temps, un 
    compositeur va aussi choisir sa gamme en fonction de ce qui sera plus facile à lire et à nommer. Donc, la plupart du temps, on évite à tout prix d'utiliser ces 
    doubles altérations qui sont très complexes pour pas grand chose. Si on est obligé de les utiliser grammaticalement, c'est qu'il vaut mieux changer le nommage de la 
    note de référence. Ou qu'on décide sciemment de se la branler.</p>