@{
    Layout = null;
}



<h1 class="display-4 text-center">L'harmonie : quelques définitions</h1>



<p>On utilisera au long de cette partie des termes fondamentaux que je préfère définir à l'avance ici.</p>

<p>La <strong>polyphonie</strong> désigne le fait de superposer plusieurs notes.</p>

<p>Certaines superpositions de notes sont considérées comme consonnantes, et d'autres comme dissonantes. La 
    <strong>consonnance</strong> est perçue comme conventionnelle, stable ou agréable à l'oreille. La 
    <strong>dissonance</strong> en est l'inverse.</p>

<p>L'<strong>harmonie</strong> est un ensemble de règles conscientisées ou non qui structurent la polyphonie et définit ce 
    qui sera considéré comme consonnant ou dissonant. L'harmonie n'est pas universelle, donc ses règles et la perception 
    de ce qui est consonnant et dissonnant ne le sont pas non plus. Tout dépend du contexte historique, culturel, esthétique 
    et stylistique. Ici, on se focalisera sur le contexte défini dans l'introduction.</p>

<p>Dans l'harmonie qui nous intéresse, on distingue des <strong>accords</strong>, c'est-à-dire des assemblages de notes 
    nommés et catalogués. Les successions de plusieurs accords sont elles-mêmes structurées dans le discours harmonique selon
    des règles qu'on verra dans le chapitre "Enchaînements d'accords". On parle aussi, dans ce cas, de 
    <strong>grilles d'accords</strong>, ou de <strong>chord progressions</strong> en anglais.</p>

<p>Un point qui me tient particulièrement à coeur est le suivant : <strong>les enchaînements d'accords ne 
    sont pas l'unique manière de penser l'harmonie</strong>. Les utiliser sans savoir d'où ils viennent et 
    pourquoi ils sont constitués ainsi, c'est risquer de réduire l'harmonie à une succession de boîtes à 
    assembler. Et donc, de ne faire que combiner des clichés. Ils restent très intéressants une fois qu'on les 
    comprend, mais sont à éclairer de toute leur histoire et surtout de leur fondement mélodique.</p>

<p>On va donc commencer par le commencement, qui est la <strong>superposition de mélodies</strong>.</p>


