@{
    Layout = null;
}



<h1 class="display-4 text-center">Les ¤renversements</h1>



<p>Une fois qu'on a construit l'accord parfait, on peut en créer deux variantes : les <strong>renversements</strong>. Leur 
    nom représente bien ce qu'ils sont : on prend les mêmes notes, mais ordonnées différemment. Voyons les en gamme de RE 
    sur mode de RE, avec le premier accord :</p>

<img src="~/img/0206_harmonie_renversements_1.png" />

<audio controls>
    <source src="~/audio/0199_harmonie_renversements_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0199_harmonie_renversements_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0207_harmonie_renversements_2.png" />

<audio controls>
    <source src="~/audio/0200_harmonie_renversements_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0200_harmonie_renversements_2.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0208_harmonie_renversements_3.png" />

<audio controls>
    <source src="~/audio/0201_harmonie_renversements_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0201_harmonie_renversements_3.mid">Télécharger le MIDI</a>
</div>

<p>Ecoutés les uns à la suite des autres comme ça, on peut se dire que ça ne change pas grand chose. Le résultat sonore 
    et émotionnel paraît très proche. En fait, au sein d'un discours musical, la différence est grande.</p>

<p>On va écouter 3 exemples de <strong>mélodies d'accords</strong>. Ce concept de Debussy désigne l'utilisation d'accords 
    de structure identique comme s'ils étaient des simples notes, pour créer des mélodies avec. C'est aussi ce qu'on 
    dans les parties de piano de la house.</p>

<p>Les mélodies d'accord utilisant toujours le même type d'accord, ils sont pratiquent pour bien percevoir le rendu 
    des renversements. On va donc écouter 3 fois la même mélodie d'accords, mais avec des renversements différents :</p>

<br />

<h2>L'état fondamental :</h2>

<img src="~/img/0209_harmonie_renversements_4.png" />

<audio controls>
    <source src="~/audio/0202_harmonie_renversements_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0202_harmonie_renversements_4.mid">Télécharger le MIDI</a>
</div>

<p>On nomme <strong>état fondamental</strong> l'état premier de l'accord parfait, celui qu'on a vu dans la partie 
    précédente.</p>

<p>A l'état fondamental, l'accord parfait est neutre, un peu austère, ou solennel. Enchaîné sous cette forme, il a une 
    certaine dureté, qui vient premièrement du fait qu'il contient un intervalle de quinte, et deuxièmement du fait que la 
    fondamentale est en dessous, donc crée un fort appui, une forte stabilité.</p>

<img src="~/img/0210_harmonie_renversements_5.png" />

<p>Si vous avez oublié comment on décompte les intervalles, vous pouvez relire la partie "Intervalles" du chapitre "Modes 
    et intervalles".</p>

<br />

<h2>Le 1er renversement :</h2>

<img src="~/img/0211_harmonie_renversements_6.png" />

<audio controls>
    <source src="~/audio/0203_harmonie_renversements_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0203_harmonie_renversements_5.mid">Télécharger le MIDI</a>
</div>

<p>Le 1er renversement sonne beaucoup plus léger que l'état fondamental. Il ne contient plus d'intervalle de quinte, et la 
    fondamentale est cette fois en haut de l'accord. Quand on a une mélodie qui se conclue sur la fondamentale, mais 
    qu'harmoniquement, on est sur un accord du premier renversement, la conclusion est beaucoup plus légère : la mélodie 
    termine certes sur la fondamentale, mais la note grave (la basse), est sur la tierce, pôle sensible.</p>

<img src="~/img/0212_harmonie_renversements_7.png" />

<br />

<h2>Le 2ème renversement :</h2>

<img src="~/img/0213_harmonie_renversements_8.png" />

<audio controls>
    <source src="~/audio/0204_harmonie_renversements_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0204_harmonie_renversements_6.mid">Télécharger le MIDI</a>
</div>


<p>J'aime beaucoup le second renversement parce que, premièrement, la tierce (pôle sensible) est placée au dessus, et 
    deuxièmement parce que la fondamentale est au milieu. On obtient un accord qui "va vers le haut", très expressif, plein 
    de volonté, et qui ne se repose pas sur la fondamentale. </p>

<img src="~/img/0214_harmonie_renversements_9.png" />

<br />


<p>Quand on crée comme ça des mélodies d'accords, toutes les relations qu'on a vues dans le chapitre sur la mélodie 
    s'appliquent de la même manière. C'est comme si on avait simplement remplacé les notes uniques d'une mélodie par des 
    accords. Mais, la plupart du temps (et trop systématiquement à mon goût, mais bref), on utilise les accords autrement : 
    comme un accompagnement d'une mélodie, ou comme structure pour le discours harmonique. Dans la partie suivante, on va 
    voir que les accords construits à partir des notes d'une gamme ont chacun un rôle harmonique différent : les 
    <strong>degrés</strong>.
</p>