@{
    Layout = null;
}



<h1 class="display-4 text-center">Répéter les notes</h1>



<p>On oublie souvent que les mélodies qu'on entend sont constituées d'énormément de répétitions de notes. 
    C'est particulièrement vrai dans les chansons. Les notes répétées permettent de caler toutes les syllabes
    des paroles sans avoir des changements de notes en permanence.</p>

<p>Historiquement, la musique instrumentale est une extension de la musique vocale. Ce qui provient du vocal 
    s'est étendu à l'instrumental. Même si on ne compose pas une mélodie pour la voix, répéter les notes est 
    une pratique courante.</p>

<p>Les lignes mélodiques vocales sont très statiques la plupart du temps, avec des intonations seulement en 
    début et en fin de phrase ou de vers, exactement comme le chant grégorien. Je vous conseille, chaque fois
    que vous entendez une chanson (à la radio, au supermarché, ou une chanson que vous aimez) d'analyser la 
    mélodie. Vous verrez qu'elle est construite la plupart du temps sur 3 ou 4 notes seulement, avec une note
    constamment répétée.</p>

<p>Répéter des notes est très efficace et crée un effet non négligeable. Ci-après une mélodie d'abord sans 
    répétition de la première note, puis avec sa répétition.</p>

<img src="~/img/0096_melodie_repeter_1.png" />

<audio controls>
    <source src="~/audio/0071_melodie_repeter_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0070_melodie_repeter_1.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0097_melodie_repeter_2.png" />

<audio controls>
    <source src="~/audio/0072_melodie_repeter_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0071_melodie_repeter_2.mid">Télécharger le MIDI</a>
</div>

<p>Répéter une note permet d'insister dessus. C'est le même effet qu'une répétition dans un texte ou un 
    discours. C'est très expressif, et permet d'affirmer une certaine sincérité, de montrer qu'"on y croit", 
    que c'est vraiment ça qu'on veut dire et pas autre chose. L'exemple le plus commun est la musique de 
    Beethoven, qui était considérée par beaucoup de ses contemporains comme grossière, voir sexuelle, parce 
    qu'il usait et abusait des notes et accords répétés, martelés. Les mêmes critiques ont été formulées 
    pour le rock, qui martèle aussi des accords, et la dance music, avec la répétition systématique du kick. 
    La répétition peut contenir une violence comparable à une personne qui crie, ou une personne qui pleure. 
    Elle peut aussi être douce, mais avec insistance sur des points sensibles, comme quelqu'un qui appuierait
    tel ou tel mot.</p>

<img src="~/img/0098_melodie_repeter_3.png" />

<audio controls>
    <source src="~/audio/0073_melodie_repeter_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0072_melodie_repeter_3.mid">Télécharger le MIDI</a>
</div>

<p>Il est difficile de ne pas être touché par la sincérité d'une note répétée, de la même manière qu'on ne 
    reste pas indifférent devant quelqu'un qui s'embale, qui crie ou qui pleure. Ou encore quelqu'un qui 
    prie.</p>

