@{
    Layout = null;
}



<h1 class="display-4 text-center">Répétition et ¤harmonie</h1>




<p>Un pattern faisant office de cellule principale d'un morceau, on peut le considérer comme un élément invariable. En 
    gardant strictement le même pattern, on peut varier l'harmonie sous-jacente, et ainsi le colorer différemment tout en 
    conservant toutes ses notes, et donc sa répétition systématique.</p>

<p>Tout ce qu'on a vu dans lee chapitre sur l'harmonie peuvent s'appliquer ici.</p>

<p>Prenons pour base ce pattern : </p>

<audio controls>
    <source src="~/audio/0248_repetition_et_harmonie_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0248_repetition_et_harmonie_1.mid">Télécharger le MIDI</a>
</div>

<p>Maintenant, par exemple, on peut jouer le bourdon et changer de fondamentale pour mettre en lumière le pattern 
    de différentes manières :</p>

<audio controls>
    <source src="~/audio/0249_repetition_et_harmonie_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0249_repetition_et_harmonie_2.mid">Télécharger le MIDI</a>
</div>

<p>On peut aussi l'accompagner d'un véritable enchaînement d'accords (pas facile de ne pas rendre kitsch, cela dit):</p>

<audio controls>
    <source src="~/audio/0250_repetition_et_harmonie_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0250_repetition_et_harmonie_3.mid">Télécharger le MIDI</a>
</div>

<p><i>Petit aparté sur le rythme : ces exemples sont en 7/8, voyez comme ça peut sonner naturellement et sans 
    paraître plus complexe qu'une autre signature rythmique.</i></p>

<p>
    On trouve un bon exemple de ce procédé chez Steve Reich, cette fois-ci Music For 18 Musicians. 
    Le même pattern est répété, mais les accords qui l'entoure changent et le colorent de plein de manières différentes :
</p>

<audio controls>
    <source src="~/audio/0252_repetition_et_harmonie_5.mp3" type="audio/mpeg">
</audio>
<br />

<p>On peut aussi considérer le pattern comme un bourdon, et construire des mélodies par-dessus : </p>

<audio controls>
    <source src="~/audio/0251_repetition_et_harmonie_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0251_repetition_et_harmonie_4.mid">Télécharger le MIDI</a>
</div>

<p>Pour ce procédé, on peut citer le krautrock, et notamment Tangerine Dream au début de leur contrat avec Virgin, où on entend des 
    patterns dans des sons de basse qui font office de bourdon. Un exemple issu de Rubycon : </p>

<audio controls>
    <source src="~/audio/0253_repetition_et_harmonie_6.mp3" type="audio/mpeg">
</audio>
<br />

<p>Pour ne pas partir à l'aveuglette et savoir quelles fondamentales utiliser, quels accords et quelle mélodie, je vous invite à revoir 
    les différentes parties concernées dans le chapitre sur l'harmonie.</p>