@{
    Layout = null;
}



<h1 class="display-4 text-center">Les ¤retards et ¤anticipations</h1>



<p>Le principe des retards et anticipations est simple : à partir d'une mélodie initiale, on choisit une 
    note qu'on va répéter ou faire durer un peu plus longtemps (<strong>retard</strong>), ou au contraire 
    une note qui sera jouée un peu avant sa position initiale (<strong>anticipation</strong>)</p>

<p>Les retards et anticipations interviennent généralement dans le cadre d'une tension/résolution. Pour que 
    l'oreille perçoive une note comme étant retardée ou anticipée, il faut qu'elle devine la suite. Une 
    tension fait désirer une résolution : on peut donc dire que la note de tension prépare l'oreille à 
    entendre la note de résolution. On profite alors de cette attente pour créer une surprise, soit en
    retardant la résolution, soit en l'anticipant. </p>

<p>Pour ressentir l'effet d'un retard et d'une anticipation, prenons comme exemple une mélodie qui se termine
    par une tension / résolution. Pour mieux ressentir l'effet, c'est utile d'avoir une idée du tempo, car 
    les retards et anticipations sont liées au rythme (on en reparlera dans le chapitre dédié). On va donc 
    répéter la note de bourdon au tempo, plutôt que l'étirer en longueur. Voilà la mélodie de départ :</p>

<img src="~/img/0099_melodie_retards_anticipations_1.png" />

<audio controls>
    <source src="~/audio/0074_melodie_retards_anticipations_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0073_melodie_retards_anticipations_1.mid">Télécharger le MIDI</a>
</div>

<p>On va maintenant répéter la note de tension pour retarder la résolution :</p>

<img src="~/img/0100_melodie_retards_anticipations_2.png" />

<audio controls>
    <source src="~/audio/0075_melodie_retards_anticipations_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0074_melodie_retards_anticipations_2.mid">Télécharger le MIDI</a>
</div>


<p>Un retard permet d'insister encore plus sur une tension.</p>

<p>A présent, on va anticiper la note de résolution. Réécoutons la mélodie initiale :</p>

<img src="~/img/0099_melodie_retards_anticipations_1.png" />

<audio controls>
    <source src="~/audio/0074_melodie_retards_anticipations_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0073_melodie_retards_anticipations_1.mid">Télécharger le MIDI</a>
</div>

<p>Et maintenant la mélodie avec la résolution anticipée :</p>

<img src="~/img/0101_melodie_retards_anticipations_3.png" />

<audio controls>
    <source src="~/audio/0076_melodie_retards_anticipations_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0075_melodie_retards_anticipations_3.mid">Télécharger le MIDI</a>
</div>

<p>Une anticipation permet d'insister sur la résolution plutôt que sur la tension.</p>

<p>Pris hors contexte, ces effets peuvent paraître minimes. Ils ont pourtant une grande force expressive, et 
    peuvent être utiles pour varier la mélodie quand elle est répétée plusieurs fois.</p>

<p>A noter que les retards et anticipations ne sont pas uniquement utilisés pour les tensions/résolutions. 
    Il existe d'autres configurations où l'oreille est préparée, c'est-à-dire qu'elle devine la suite. C'est 
    le cas dans les schémas de montées et descentes qu'on a vus précédemment. Prenons l'exemple d'une montée 
    de tierces :</p>

<img src="~/img/0102_melodie_retards_anticipations_4.png" />

<audio controls>
    <source src="~/audio/0077_melodie_retards_anticipations_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0076_melodie_retards_anticipations_4.mid">Télécharger le MIDI</a>
</div>

<p>Maintenant, cette même montée de tierces avec des anticipations :</p>

<img src="~/img/0103_melodie_retards_anticipations_5.png" />

<audio controls>
    <source src="~/audio/0078_melodie_retards_anticipations_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0077_melodie_retards_anticipations_5.mid">Télécharger le MIDI</a>
</div>

<p>Vous vous demandez peut-être quelle est, dans cet exemple, la différence entre des anticipations et des 
    notes répétées. Les notes répétées suivent strictement la mélodie, alors que les anticipations "décalent"
    des notes de la mélodie, les fait apparaître à l'avance, d'où son nom. Pour entendre cette différence, 
    le mieux est de superposer la mélodie et sa version répétée.</p>

<p>D'abord, voilà la mélodie initiale à la flûte :</p>

<img src="~/img/0104_melodie_retards_anticipations_6.png" />

<audio controls>
    <source src="~/audio/0079_melodie_retards_anticipations_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0078_melodie_retards_anticipations_6.mid">Télécharger le MIDI</a>
</div>

<p>Maintenant, on va laisser en fond cette mélodie initiale, avec la même mélodie en notes répétées au 
    piano :</p>

<img src="~/img/0105_melodie_retards_anticipations_7.png" />

<audio controls>
    <source src="~/audio/0080_melodie_retards_anticipations_7.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0079_melodie_retards_anticipations_7.mid">Télécharger le MIDI</a>
</div>

<p>Pour comparer, on garde en fond la mélodie initiale, mais cette fois-ci le piano va jouer la même mélodie 
    avec des anticipations :</p>

<img src="~/img/0106_melodie_retards_anticipations_8.png" />

<audio controls>
    <source src="~/audio/0081_melodie_retards_anticipations_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0080_melodie_retards_anticipations_8.mid">Télécharger le MIDI</a>
</div>

<p>Est-ce que vous ressentez une différence ? Pour moi, les notes répétées ont toutes la même importance, 
    tandis que dans les anticipations, il y a à chaque fois une micro tension/résolution qui s'installe. La 
    note anticipée donne envie d'entendre sa répétition au tempo.</p>

<p>Réutilisons la même mélodie initiale, mais cette fois-ci la flûte jouera les notes de la mélodie avec des 
    retards :</p>

<img src="~/img/0107_melodie_retards_anticipations_9.png" />

<audio controls>
    <source src="~/audio/0082_melodie_retards_anticipations_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0081_melodie_retards_anticipations_9.mid">Télécharger le MIDI</a>
</div>

<p>Cette fois-ci, il y a comme une lourdeur, une pesanteur. Les anticipations créaient un mouvement se 
    précipitant vers le haut, alors que les retards créent un mouvement lourd et laborieux, comme si on avait
    du mal à avancer. </p>

<p>Pour finir, gardez en tête qu'<strong>une anticipation ou un retard ne sont pas systématiquement 
    constitués de notes répétées</strong>. Elles peuvent utiliser des notes allongées.</p>

<p>Même exemple qu'avant, cette fois-ci avec le piano comme mélodie de base, et la flûte jouant la même 
    mélodie avec des anticipations : </p>

<img src="~/img/0108_melodie_retards_anticipations_10.png" />

<audio controls>
    <source src="~/audio/0083_melodie_retards_anticipations_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0082_melodie_retards_anticipations_10.mid">Télécharger le MIDI</a>
</div>

<p>Et enfin la même chose mais avec la flûte jouant la mélodie avec des retards : </p>

<img src="~/img/0109_melodie_retards_anticipations_11.png" />

<audio controls>
    <source src="~/audio/0084_melodie_retards_anticipations_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0083_melodie_retards_anticipations_11.mid">Télécharger le MIDI</a>
</div>

<p>Vous remarquerez que quand on enchaîne systématiquement des retards ou anticipations, l'oreille peut 
    ressentir ça comme un décalage rythmique. On nomme ce décalage une <strong>syncope</strong>. On verra ça 
    plus en détail dans le chapitre sur le rythme.</p>