@{
    Layout = null;
}



<h1 class="display-4 text-center">Le rôle des notes</h1>


<p>Les notes ont un rôle contextuel. Une même note peut avoir un rôle différent selon son contexte 
    grammatical. Un mode, par exemple, c’est un contexte grammatical. Si on prend par exemple les modes de 
    la partie précédente : quand on a joué en mode de FA, la note FA était la fondamentale. Mais quand on a 
    joué en mode de RE, ce n’était plus la note fondamentale. Elle n’a donc plus le même rôle, et ne se 
    ressent donc plus du tout de la même manière.</p>

<p>Pour l’instant, on n’a vu qu’un rôle : celui de note fondamentale. Il y a un rôle pour chacune des 7 notes
    d’un mode. Elles sont nommées comme suit, dans l’ordre :</p>

<ul>

    <li>Note n°<strong>1</strong> – La <strong>fondamentale</strong>.</li>

    <li>Note n°<strong>2</strong> – La <strong>seconde</strong>.  </li>

    <li>Note n°<strong>3</strong> – La <strong>tierce</strong>. </li>

    <li>Note n°<strong>4</strong> – La <strong>quarte</strong>.</li>

    <li>Note n°<strong>5</strong> – La <strong>quinte</strong>.</li>

    <li>Note n°<strong>6</strong> – La <strong>sixte</strong>.</li>

    <li>Note n°<strong>7</strong> – La <strong>septième</strong>.</li>

</ul>

<p>D'autres noms peuvent être utilisés que dans les musiques qui ne nous intéressent pas pour le moment : 
    musique classique, romantique, jazz, etc. On utilisera donc plutôt les noms standards.</p>

<p>Le rôle d’une note est la combinaison de plusieurs propriétés, qu’on peut résumer par ces questions :</p>

<ul>

    <li>Est-ce que la note a plus d’importance que les autres ? Dans ce cas, elle a une 
        <strong>pesanteur</strong>. Elle aura un rôle de <strong>pôle</strong> dans la mélodie.</li>

    <li>Est-ce que la note en fait désirer une autre ? Dans ce cas, elle produit une 
        <strong>tension</strong>. Cette tension appelle une <strong>résolution</strong>. En général, la 
        résolution se fait en enchaînant sur la note au-dessus, ou la note en-dessous.</li>

    <li>Est-ce que la note a ni l’une ni l’autre des deux propriété ci-dessus ? Dans ce cas, elle sera 
        vraisemblablement une <strong>note de passage</strong>. On l’utilise comme un chemin pour passer 
        d’une note à une autre, mais on ne s’attarde pas dessus. </li>

</ul>

<p><strong>Ces propriétés sont subjectives</strong>. On ne peut pas donner de règles absolues.</p>

<p>Cependant, il y a des tendances :</p>

<ul>

    <li>La <strong>fondamentale (1)</strong> est généralement pensée comme la note la plus importante, d’où 
        son nom. Ce n’est pas forcément la note la plus utilisée dans un morceau, mais la note de référence 
        à partir de laquelle les autres notes sont organisées.</li>

    <li>La <strong>quinte (5)</strong> est généralement extrêmement importante, et c’est une sorte de 2ème 
        fondamentale. Une mélodie aura tendance à se baser sur la fondamentale, mais à tourner autour de la 
        quinte. En fait, souvent, la quinte est plus jouée que la fondamentale. </li>

    <li>La <strong>tierce (3)</strong> a souvent pour rôle de définir un mood général. C’est elle qui permet 
        de différencier majeur et mineur (on verra ça dans la partie suivante). Le majeur est généralement 
        perçu comme lumineux, et le mineur comme sombre. </li>

    <li>N’importe quelle note située à côté d’un demi-ton peut créer une <strong>tension</strong>, appelant 
        une <strong>résolution</strong>, c’est-à-dire la transition vers la note un demi-ton au-dessus, ou 
        la note un demi-ton au-dessous.</li>

    <li>Les notes restantes sont généralement de <strong>passage</strong>.</li>

</ul>

<p>Pour ressentir ce que sont les tensions et résolution, le mieux est d’écouter des exemples avec 
    explications.</p>
<br />


<h4>Exemple 1 : </h4>

<p>Nous sommes en mode de LA basé sur la fondamentale LA. </p>

<img src="~/img/0023_tension_exemple_la1.png" />

<p>La quinte, donc la 5ème note en partant de LA, est MI. </p>

<img src="~/img/0024_tension_exemple_la2.png" />

<p>Entre MI et le FA qui succède, il y a un demi-ton. La quinte ayant une forte pesanteur, et le FA étant 
    uniquement un demi-ton au-dessus, le FA crée une tension et donne envie de retomber sur le MI. </p>

<img src="~/img/0025_tension_exemple_la3.png" />

<p>Extrait sans la résolution (termine en tension sur FA) :</p>

<audio controls>
    <source src="~/audio/0013_tension_la.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0013_tension_la.mid">Télécharger le MIDI</a>
</div>

<p>Extrait avec la résolution (le FA se résout à la fin sur le MI) :</p>

<audio controls>
    <source src="~/audio/0014_resolution_la.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0014_resolution_la.mid">Télécharger le MIDI</a>
</div>

<p>On peut décider ou non de résoudre une tension : tout dépend de l’effet qu’on recherche. Il n’empêche que 
    cette tension est présente, qu’on veuille ou non la résoudre. La résolution vers la quinte, MI, ramène à
    une forte stabilité, car la quinte a une forte pesanteur. Dans ce contexte, donc, MI est une note pôle, 
    et FA est une note de tension.</p>

<p>Généralement, les tensions créées par les demi-tons sont perçues comme expressives. C’est là que se 
    joueraient les émotions. Dans un mode pentatonique, où ces demi-tons sont absents, la musique est 
    beaucoup moins intimiste, et se ressent donc comme plus « universelle », parce qu’elle ne comporte pas 
    ces moments de tension qui représentent efficacement des émotions individuelles.</p>

<p>Expressives ne veut pas forcément dire triste, et tension ne veut pas forcément dire souffrance. On va voir maintenant un
    autre exemple de résolution de FA vers MI, mais dans un autre contexte, celui du mode de DO.</p>


<h4>Exemple 2 : </h4>

<img src="~/img/0026_tension_exemple_do1.png" />

<p>Cette fois-ci, MI est la tierce, donc la 3ème note en partant de DO :</p>

<img src="~/img/0027_tension_exemple_do2.png" />

<p>Le FA se résout alors sur la tierce et non la quinte. Le contexte est différent, et donc le ressenti l’est
    aussi.</p>

<img src="~/img/0028_tension_exemple_do3.png" />

<p>Extrait sans la résolution :</p>

<audio controls>
    <source src="~/audio/0015_tension_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0015_tension_do.mid">Télécharger le MIDI</a>
</div>

<p>Extrait avec la résolution :</p>

<audio controls>
    <source src="~/audio/0016_resolution_do.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0016_resolution_do.mid">Télécharger le MIDI</a>
</div>

<p>Ici la tension et la résolution sont aussi vecteurs d’émotion, mais peuvent être perçus plutôt comme une 
    plénitude, ou une extase. </p>

<p>Encore une fois, toutes ces choses sont subjectives, et dépendantes d’un contexte plus large qui est le 
    morceau, puis encore plus large qui est le style, ce qui fait qu’une infinité de ressentis sont 
    possibles. Les ressentis dépendront des auteurs, des auditeurs, du contexte d’écoute, du timbre de 
    l’instrument à l’origine de la note, de l’harmonie (c’est-à-dire des éventuelles notes superposées à 
    celle-ci), donc d’une infinité de choses indépendantes de la simple note. Il n’en reste pas moins qu’on 
    peut observer les tendances que j’ai décrites, et que ça peut aider à avoir des repères en tant que 
    compositeur.</p>
