@{
    Layout = null;
}



<h1 class="display-4 text-center">La ¤syncope</h1>



<p>En Europe, la <strong>syncope</strong> est apparue à la fin du Moyen-Âge, avec ce qu'on a appelé l'ars 
    nova. C'est la première figure rythmique apparue de manière expérimentale et abstraite, c'est-à-dire en 
    assemblant des signes d'écriture musicale pour obtenir des résultats qui n'existaient pas "naturellement"
    à l'époque. Aujourd'hui, ça n'a plus rien d'expérimental et c'est même devenu indispensable. C'est par 
    ailleurs le fondement de tout le jazz - même si, dans son cas, la syncope provient évidemment des 
    musiques africaines plutôt que du Moyen-Âge européen.</p>

<p>Quelle expérience les médiévaux ont-ils faite ? C'est simple : prenons le cas d'une succession de 
    noires(4). Je les joue au piano avec la mesure battue comme dans les parties précédentes :</p>

<img src="~/img/0138_rythme_syncope_1.png" />

<audio controls>
    <source src="~/audio/0120_rythme_syncope_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0119_rythme_syncope_1.mid">Télécharger le MIDI</a>
</div>

<p>Si on divise ces noires(4), on obtient des croches(8) :</p>

<img src="~/img/0138_rythme_syncope_2.png" />

<audio controls>
    <source src="~/audio/0120_rythme_syncope_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0120_rythme_syncope_2.mid">Télécharger le MIDI</a>
</div>

<p>Tout va bien, chaque noire(4) est divisée en deux, tout est bien rangé.</p>

<p>Mais que se passe-t-il si on joue une seule croche(8), donc une moitié de noire(4), et qu'ensuite on joue 
    des noires(4) ? </p>

<img src="~/img/0139_rythme_syncope_3.png" />

<audio controls>
    <source src="~/audio/0121_rythme_syncope_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0121_rythme_syncope_3.mid">Télécharger le MIDI</a>
</div>


<p>Les noires sont toutes décalées ! Awesome. C'est tout, voilà ce qu'est une syncope. </p>
<p>Les syncopes créent un sentiment inverse au <strong>groove</strong> qu'on nomme le <strong>swing</strong> 
    (bien qu'aujourd'hui, le mot groove englobe généralement les deux car il a une portée qualitative plutôt 
    qu'objective). Elles forment comme une contre-pulsation, sur les <strong>contre-temps</strong>. Les 
    contre-temps sont toutes les divisions jouées entre deux pulsations. La syncope est donc le fait de 
    jouer de manière décalée par rapport à la pulsation.</p>

<p>La syncope crée une <strong>tension</strong> appelant une <strong>résolution</strong> : </p>

<img src="~/img/0140_rythme_syncope_4.png" />

<audio controls>
    <source src="~/audio/0122_rythme_syncope_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0122_rythme_syncope_4.mid">Télécharger le MIDI</a>
</div>

<p>Comme pour les tensions et résolutions mélodiques, on peut tout à fait décider de ne pas résoudre les 
    tensions rythmiques. C'est généralement le cas du jazz, qui est en syncope permanente, donc en tension 
    rythmique permanente.</p>