@{
    Layout = null;
}


<h1 class="display-4 text-center">¤Rythme : ¤Temps et ¤divisions</h1>

<p>Comme dit dans l'introduction, cette théorie est peu centrée sur le rythme. Ce chapitre n'apprendra pas à 
    faire un bon beat, parce que ce n'est pas ma spécialité. Je vais simplement poser des bases théoriques 
    et proposer certaines curiosités que je trouve intéressantes.</p>

<p>Le rythme, c'est le positionnement d'événements dans le temps. En musique, ces événements sont sonores. 
    La musique ne peut pas exister sans rythme, car elle se déroule forcément dans le temps. Si je dis ça, 
    c'est pour qu'on garde bien en tête, malgré tout ce qu'on va voir dans ce chapitre, que <strong>le rythme 
        n'est pas forcément une division régulière du temps</strong>. La division régulière du temps est un 
        choix, et dans ce chapitre, on va partir du principe qu'on a fait ce choix. Des musiques peuvent 
        exister sans prendre cette décision : encore une fois, le chant grégorien est un exemple, mais on 
        peut aussi citer l'ambient ou le drone. Ces musiques ont pourtant bien un rythme, comme toute 
        musique. Dans ce cas, on parle de <strong>rythme libre</strong>.</p>
<p>Revenons au cas qui nous intéresse : les divisions régulières du temps. Celles-ci se nomment des 
    <strong>pulsations</strong>. Chaque pulsation est séparée par le même intervalle de temps. La vitesse de 
    ces pulsations se nomme le <strong>tempo</strong> (ou, plus généralement aujourd'hui, le 
    <strong>bpm</strong>)</p>

<p>On peut diviser la pulsation en un certain nombre de pulsations régulières plus courtes. Sans trop de 
    surprise, on nomme ça des <strong>divisions</strong>. On peut aussi rassembler plusieurs pulsations pour 
    en créer une plus longue : on nomme ça des <strong>liaisons</strong>.</p>

<p>Une échelle s'est construite au fil des siècles, basée sur des divisions par deux. On la retrouve dans 
    les DAWs comme Ableton Live :</p>

<img src="~/img/0128_rythme_temps_divisions_1.png" />

<p>Les noms qu'on donne aux divisions désignent leur signe sur une partition. Ca ne nous intéresse pas 
    particulièrement ici, mais par convention, je vais malgré tout utiliser ces noms. Je vais, par contre, 
    tout le temps les accompagner de leur chiffre, car c'est lui qui est utilisé dans les DAWs.</p>

<ul>

    <li>La <strong>ronde</strong> est <strong>1</strong>. </li>

    <li>Si on divise la ronde en deux, on obtient deux <strong>blanches</strong>. Les blanches sont donc 
        <strong>2</strong>.</li>

    <li>Si on divise la ronde en quatre, on obtient quatre <strong>noires</strong>. Les noires sont donc 
        <strong>4</strong>.</li>

    <li>Si on divise la ronde en huit, on obtient huit <strong>croches</strong>. Les croches sont donc 
        <strong>8</strong>.</li>

    <li>Si on divise la ronde en seize, on obtient seize <strong>double-croches</strong>. Les double-croches 
        sont donc <strong>16</strong></li>

    <li>Moins utilisées, on a aussi <strong>32</strong> triple-croches, <strong>64</strong> 
        quadruple-croches, <strong>128</strong> quintuple-croches... Sur Ableton Live, 64 est la plus petite 
        division. Sur Cubase, ça s'arrête à 128. </li>

</ul>

<p>Au-delà d'une ronde(1), il n'y a plus de nom, et il n'y a certainement pas 0. A partir de là, on crée des 
    liaisons : une ronde(1) + une ronde(1) par exemple pour avoir la durée de deux.</p>

<p>Et la pulsation, dans tout ça ? Logiquement, on devrait se dire que la pulsation est la ronde(1), et que 
    toutes les autres sont des divisions de plus en plus petites. Ce n'est pas forcément systématique. C'est 
    même, en fait, très rare.</p>

<p>Pourquoi ? Parce que toutes ces divisions ne sont que des points de repères. Elles ne représentent que 
    des <strong>durées relatives</strong>. Quand j'utilise une croche(8), la seule chose que je fais, c'est 
    utiliser un intervalle de temps huit fois plus rapide qu'une ronde(1), ou deux fois plus rapide qu'une 
    noire(4), par exemple. C'est le seul type d'information donné par ces repères.</p>

<p>Ces repères n'ont donc aucune valeur objective tant qu'on n'a pas déterminé la pulsation, et donc le bpm. 
    Dans la majorité des cas, on place la pulsation non pas sur la ronde(1), mais sur la noire(4). Ce n'est 
    pas une règle absolue, mais une convention. Chaque pulsation sera donc une noire(4). Une demi-pulsation 
    sera une croche(8), et deux pulsations liées feront une blanche(2). Mais on peut théoriquement placer la 
    pulsation n'importe où dans l'échelle. Si la pulsation est à la croche(8), par exemple, ça décale tout. 
    Une demi-pulsation dans ce cas sera une double-croche(16), et deux pulsations liées feront une noire(4).</p>