@{
    Layout = null;
}



<h1 class="display-4 text-center">¤Musique tonale : enchaînements d'accords</h1>


<p>La musique tonale est essentiellement harmonique, et ses règles sont donc en très grande majorité harmoniques 
    plutôt que, par exemple, mélodiques ou rythmiques. Les enchaînements d'accords sont donc les principaux concernés 
    par ces règles, qui réglementent les relations entre leurs notes respectives.</p>

<p>Les enchaînements d'accords en musique tonale se construisent autour du cercle harmonique qu'on a survolé 
    rapidement au début de la partie "Enchaînements d'accord" du chapitre "Polyphonie et harmonie", avant de 
    l'évacuer car on sortait du cadre de la musique modale. Ce cercle se construit autour d'un enchaînement clé, 
    celui entre le 1er degré, alors nommé <strong>accord de tonique</strong> et le Vème degré, alors nommé 
    <strong>accord de dominante</strong>.</p>

<img src="~/img/0323_musique_tonale_enchainements_accords_1.png" />

<p>
    L'accord de dominante en fin de phrase musicale se résout sur l'accord de tonique. Cette tension/résolution en 
    fin de phrase se nomme une <strong>cadence</strong>. Lorsque les deux accords sont à l'état fondamental, on 
    parle de <strong>cadence parfaite</strong>, qui est la conclusion par excellence :

    <img src="~/img/0324_musique_tonale_enchainements_accords_2.png" />

    <audio controls>
        <source src="~/audio/0288_musique_tonale_enchainements_accords_1.mp3" type="audio/mpeg">
    </audio>
    <div class="midi">
        <a class="btn" href="~/midi/0288_musique_tonale_enchainements_accords_1.mid">Télécharger le MIDI</a>
    </div>

<p>Le même enchaînement, mais avec au moins un des deux accords renversé, s'appelle une <strong>cadence imparfaite</strong>. 
    Elle est elle-aussi conclusive, mais conserve une certaine apesanteur : </p>

<img src="~/img/0325_musique_tonale_enchainements_accords_3.png" />

<audio controls>
    <source src="~/audio/0289_musique_tonale_enchainements_accords_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0289_musique_tonale_enchainements_accords_2.mid">Télécharger le MIDI</a>
</div>

<p>Quand on termine par l'accord de dominante seul, c'est qu'on termine dans une tension qui n'est pas résolue : on parle 
    alors de <strong>demi-cadence</strong> :</p>

<img src="~/img/0326_musique_tonale_enchainements_accords_4.png" />

<audio controls>
    <source src="~/audio/0290_musique_tonale_enchainements_accords_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0290_musique_tonale_enchainements_accords_3.mid">Télécharger le MIDI</a>
</div>

<p>Parfois, on joue avec les attentes de l'auditeur. Celui-ci s'attend fortement à une résolution sur un accord de 
    tonique, mais on résout finalement sur le VIème degré :</p>

<img src="~/img/0327_musique_tonale_enchainements_accords_5.png" />

<audio controls>
    <source src="~/audio/0291_musique_tonale_enchainements_accords_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0291_musique_tonale_enchainements_accords_4.mid">Télécharger le MIDI</a>
</div>

<p>On appelle ça la <strong>cadence rompue</strong>. Elle n'existe qu'en remplaçant l'accord de tonique par l'accord de 
    VIème degré, pas avec d'autres. La raison est que le Ier et le VIème degrés sont très proches. Il n'y a qu'une note 
    de différence. En DO majeur, les notes du Ier degré sont DO - MI - SOL, et les notes du VIème degré sont LA - DO - MI.</p>

<p>La musique tonale se construit autour des cadences. Chaque phrase musicale se termine par une cadence. Le morceau 
    lui-même se termine par une cadence, de préférence parfaite. La musique tonale est donc une musique qui dramatise 
    énormément ses conclusions, et qui comporte un grand nombre de micro-conclusions au sein d'un même morceau. La fin 
    d'un morceau, dernière conclusion de toutes les conclusions, peut devenir un festival de cadences s'enchaînant les 
    unes après les autres jusqu'à la cadence parfaite finale. Pour exemple, à la fin de la 5ème symphonie de Beethoven :</p>

<audio controls>
    <source src="~/audio/0294_musique_tonale_enchainements_accords_7.mp3" type="audio/mpeg">
</audio>

<p>C'est surtout vrai dans la musique du XIXème siècle, et dans les musiques du XXème siècle qui s'en inspirent, comme 
    les musiques orchestrales dans le cinéma. C'est aussi ce qui en fait, à mes yeux, une musique rigoriste qui n'en 
    finit plus de remettre les choses bien en ordre, bien rangées, sans dépasser.</p>

<br />

<p>Avec les enchaînements entre Ier et Vème degré, les cadences, et parfois le VIème degré, on a le socle sur lequel se 
    construit le discours harmonique.</p>

<p>
    Remarquez que les accords de dominante sont souvent des accords de septième. En musique tonale, c'est la
    forme principale de l'accord de Vème degré. On le nomme d'ailleurs <strong>septième de dominante</strong>. Il comporte
    deux tensions à résoudre :
</p>

<img src="~/img/0328_musique_tonale_enchainements_accords_6.png" />

<p>Voilà un exemple d'un court "morceau" en DO majeur constitué de quatre phrases musicales. Chaque phrase se termine 
    par une cadence. Je propose de l'écouter et de suivre le piano roll de gauche à droite au fil de l'écoute.
</p>

<audio controls>
    <source src="~/audio/0293_musique_tonale_enchainements_accords_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0292_musique_tonale_enchainements_accords_6.mid">Télécharger le MIDI</a>
</div>

<img src="~/img/0329_musique_tonale_enchainements_accords_7.png" />
<img src="~/img/0330_musique_tonale_enchainements_accords_8.png" />
<img src="~/img/0331_musique_tonale_enchainements_accords_9.png" />
<img src="~/img/0332_musique_tonale_enchainements_accords_10.png" />

<br /><br />
<p>Pour finir, il reste une dernière cadence que nous n'avons pas vu : la <strong>cadence plagale</strong>. C'est une 
    cadence à part car le Vème degré est remplacé par le IVème. En général, une cadence plagale est placée juste 
    après une cadence parfaite, pour terminer avec plus de douceur :</p>

<img src="~/img/0333_musique_tonale_enchainements_accords_11.png" />

<audio controls>
    <source src="~/audio/0292_musique_tonale_enchainements_accords_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0292_musique_tonale_enchainements_accords_5.mid">Télécharger le MIDI</a>
</div>