@{
    Layout = null;
}


<h1 class="display-4 text-center">Les enchaînements de tonalités</h1>



<p>Les enchaînements d'accords se font au sein d'une même tonalité. Mais on a précisé qu'en musique tonale, on 
    change aussi parfois de tonalité au sein d'un même morceau. Quand c'est le cas, cela veut dire que 
    <strong>tous les accords changent de rôle</strong>, et toutes les notes également. On a changé de 
    gamme, d'échelle de notes. On a changé de contexte grammatical. Et ce, au milieu du morceau !</p>

<p>Prenons un exemple en DO majeur. Le début de notre morceau utilisera les accords des différents 
    degrés de cette gamme. Par exemple, on va faire un enchaînement 
    I - IV - V - I :</p>

<img src="~/img/0386_musique_tonale_enchainements_tonalites_1.png" />

<audio controls>
    <source src="~/audio/0330_musique_tonale_enchainements_tonalites_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0330_musique_tonale_enchainements_tonalites_1.mid">Télécharger le MIDI</a>
</div>

<p><i>Si vous avez oublié comment on trouve les degrés et comment on construit les accords, c'est décrit 
    dans le chapitre "Polyphonie et harmonie", partie "Les degrés".</i></p>

<p>Jusqu'ici, rien de particulier : on est bien en DO majeur. On va maintenant poursuivre ce morceau en 
    changeant de tonalité. On va passer en SOL majeur. Les notes de cette gamme sont les suivantes :</p>

<img src="~/img/0387_musique_tonale_enchainements_tonalites_2.png" />

<p><i>Remarque : pour se rappeler comment connaître les notes d'une gamme, vous pouvez relire la partie "modes 
    diatoniques" du chapitre sur les modes et intervalles, et la partie "les altérations" du chapitre sur la 
    transposition. Les intervalles d'une gamme majeure correspondent aux intervalles du mode de DO.
    </i>
</p>

<p>Pour changer de tonalité, la technique la plus utilisée est de passer par une cadence, donc un 
    enchaînement V - I, dans la nouvelle tonalité. Le Vème degré de la gamme de SOL est le suivant : 
    </p>

<img src="~/img/0388_musique_tonale_enchainements_tonalites_3.png" />

<p>Si on veut qu'il soit encore plus marqué, on peut le mettre sous sa forme septième en rajoutant 
    un DO.</p>

<img src="~/img/0389_musique_tonale_enchainements_tonalites_4.png" />

<p>Pour passer de la gamme de DO à la gamme de SOL, on va utiliser cet accord qui se nomme désormais 
    septième de dominante. Il permet d'introduire deux tensions : une sur le FA# et une sur le DO. 
    L'auditeur a subitement envie que ces tensions se résolvent, et cette résolution, c'est l'accord 
    de Ier degré de SOL.
</p>

<img src="~/img/0390_musique_tonale_enchainements_tonalites_5.png" />

<audio controls>
    <source src="~/audio/0331_musique_tonale_enchainements_tonalites_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0331_musique_tonale_enchainements_tonalites_2.mid">Télécharger le MIDI</a>
</div>

<p>Et c'est la magie : en jouant sur les attentes de l'auditeur, on a changé la tonalité du morceau.</p>

<p>On appelle <strong>modulation</strong> un changement de tonalité qui survient au milieu du 
    morceau. Dans notre exemple, la modulation se fait de manière fluide car on utilise la forte 
    tension provoquée par une cadence. En utilisant l'accord de dominante (Vème degré) de la nouvelle 
    gamme, on prépare l'oreille à cette nouvelle gamme, car on crée une tension dont la résolution sera le 
    Ier degré de la nouvelle gamme.</p>

<p>On est donc passé de DO majeur à SOL majeur. A présent, on peut continuer le morceau en SOL majeur, en 
    utilisant les nouveaux degrés de la même manière que d'habitude. On suit le cycle vu dans la partie 
    précédente.</p>

<img src="~/img/0391_musique_tonale_enchainements_tonalites_6.png" />

<audio controls>
    <source src="~/audio/0332_musique_tonale_enchainements_tonalites_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0332_musique_tonale_enchainements_tonalites_3.mid">Télécharger le MIDI</a>
</div>

<p>Après une ou plusieurs modulations, on finit par retourner à la tonalité d'origine. On va donc 
    repasser en DO majeur. Pour ça, on va procéder de la même manière en utilisant un enchaînement 
    V - I.</p>

<img src="~/img/0392_musique_tonale_enchainements_tonalites_7.png" />

<audio controls>
    <source src="~/audio/0333_musique_tonale_enchainements_tonalites_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0333_musique_tonale_enchainements_tonalites_4.mid">Télécharger le MIDI</a>
</div>

<br />

<p>Ce n'est pas pour rien qu'on est passé de DO majeur à SOL majeur. C'est parce que SOL, c'est le Vème 
    degré de DO. C'est la modulation la plus évidente : le passage à la quinte supérieure. Entre les notes de la gamme de DO majeur 
    et les notes de la gamme de SOL majeur, il n'y a qu'une note de différence : le FA, qui devient dièse en 
    gamme de SOL.</p>

<p>
    <i>Remarque : Vous vous souvenez des fameuses notes de "préparation de l'oreille", qu'on a vu dans le chapitre sur les modes ?
        C'était simplement la quinte. L'enchaînement V - I est tellement encré en nous qu'il permet, d'une certaine 
        manière, de "laver" l'oreille et la préparer à un nouveau contexte. Un peu comme quand, dans un repas, on mange 
        du pain ou on boit de l'eau pour préparer le palais à une prochaine saveur. J'ai donc utilisé ça pour permettre 
        à l'oreille d'écouter plusieurs modes les uns après les autres en évitant que l'écoute soit perturbée à chaque 
        fois par le mode entendu juste avant.
    </i>
</p>

<br />
    
 <p>De manière générale, plus la gamme vers laquelle on module est proche de la gamme 
    d'origine, plus la modulation se fait "naturellement", sans perturber le fil du discours. A l'inverse, 
    plus la gamme est éloignée, plus on crée de surprise.</p>

<p>Exemple d'une modulation beaucoup plus surprenante à l'oreille, car deux gammes très différentes : </p>

<img src="~/img/0393_musique_tonale_enchainements_tonalites_8.png" />

<audio controls>
    <source src="~/audio/0334_musique_tonale_enchainements_tonalites_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0334_musique_tonale_enchainements_tonalites_5.mid">Télécharger le MIDI</a>
</div>

<p>C'est une modulation très utilisée par Bartok, qui la considérait comme toute aussi naturelle et fluide 
    qu'une modulation sur le Vème degré. Un bon exemple de combien ces choses sont subjectives
    car, selon la théorie classique, cette modulation serait au contraire la plus extrême.
</p>

<p>Enfin, on fait la différence entre modulation et <strong>emprunt</strong>. Une modulation est un réel 
    changement de tonalité touchant un passage complet d'un morceau. Un emprunt est une simple parenthèse, 
    sur un ou deux accords seulement, utilisant une autre tonalité mais sans s'attarder dessus. De manière 
plus simple, on peut dire qu'un emprunt est une modulation très courte.</p>

<p>Si je mentionne les emprunts, c'est parce qu'ils seront très employés dans l'harmonie jazz qu'on va voir dans 
    la partie "Chiffrage des accords depuis le jazz". Pour le jazz, un accord est un accord, indépendamment du 
    contexte. On peut donc, en théorie, faire ce qu'on veut quand on veut, mettre des emprunts partout si on trouve 
    que ça sonne bien. Et c'est pas plus mal. 
</p>