@{
    Layout = null;
}


<h1 class="display-4 text-center">Les ¤tons et les ¤demi-tons</h1>



<p>Cette partie est un peu abstraite mais nécessaire pour la compréhension de la suite. </p>

<p>Pour des raisons historiques, on distingue des tons complets et des demi-tons. </p>

<p><strong>L’octave</strong> est divisée en <strong>12 demi-tons égaux</strong>. L'octave est l'ensemble des 
    notes qu'on trouve entre deux notes ayant le même nom : entre DO et DO, entre RE et RE, etc.</p>

<img src="~/img/0001_octave.png" />
<img src="~/img/0002_Les12notes.png" />

<audio controls>
    <source src="~/audio/0001_les_12_notes.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0001_les_12_notes.mid">Télécharger le MIDI</a>
</div>

<p>Un ton est constitué de deux demi-tons. Lorsque, sur le clavier, il y a une touche noire entre deux 
    touches blanches, c’est que ces deux touches blanches sont séparées d’un ton, et la touche noire est le 
    demi-ton intermédiaire. </p>

<img src="~/img/0003_ton.png" />

<p>Lorsque deux touches blanches se suivent sans touche noire entre les deux, ces deux touches blanches ne 
    sont séparées que d’un demi-ton. </p>

<img src="~/img/0004_demiton.png" />

<p>Donc, de DO à RE, ou de RE à MI, on a un ton. Par contre, de MI à FA ou de SI à DO, on a un demi-ton. </p>

<p>La raison de ces différences est à la fois historique et pratique. Le clavier est constitué de manière à 
    ce que, avec seulement les touches blanches, on ait déjà tous les modes (toutes les gammes) à 
    disposition. C’est aussi ce qui permet de visualiser facilement les octaves.</p>

<p>L’avantage, donc, c’est que ce petit twist rend la théorie beaucoup plus facile d’accès. Je vais 
    justement profiter de cette facilité, et <strong>on va n’utiliser que les touches blanches pendant un 
        bon moment</strong>. Le reste viendra plus tard, uniquement quand il sera nécessaire de compliquer 
        les choses. En fait, <strong>nous n'aurons besoin des touches noires qu'à partir du chapitre sur la 
            transposition</strong>.</p>
