@{
    Layout = null;
}


<h1 class="display-4 text-center">Un aperçu des règles</h1>



<p>J'ai évoqué plusieurs fois déjà l'existence de règles strictes dans la musique tonale. Je ne vais certainement pas les 
    lister toutes puisqu'il y en a plus d'une centaine, mais je vais en donner quelques exemples pour donner une idée des 
    contraintes posées par cette théorie. </p>

<p>Tous les exemples seront en DO majeur.</p>

<br />

<h3>Les quintes parallèles sont interdites</h3>

<p>Perçues comme "anciennes", ou "dures",  au XVIIIème siècle, car très présentes dans les musiques du Moyen-Âge et de la 
    Renaissance, elles sont évitées plus que tout. Pour rappel, c'est ce qu'on a vu comme toute première forme de 
    polyphonie dans le chapitre sur le sujet : vous pouvez aller réécouter le résultat. Encore aujourd'hui, les quintes 
    parrallèles peuvent être perçues comme médiévales dans certains contextes (mais sont utilisées à foison dans d'autres 
    contextes sans sonner comme tel, par exemple les power chords dans le rock). Cette règle interdisant les quintes parallèles fait que, 
    par exemple, on ne peut pas enchaîner ces deux accords : </p>

<img src="~/img/0313_musique_tonale_apercu_des_regles_0.png" />

<audio controls>
    <source src="~/audio/0277_musique_tonale_apercu_des_regles_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0277_musique_tonale_apercu_des_regles_1.mid">Télécharger le MIDI</a>
</div>

<p>Car nous avons deux quintes parallèles :</p>

<img src="~/img/0313_musique_tonale_apercu_des_regles_1.png" />

<audio controls>
    <source src="~/audio/0277_musique_tonale_apercu_des_regles_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0277_musique_tonale_apercu_des_regles_1.mid">Télécharger le MIDI</a>
</div>

<p>C'est une <strong>faute d'harmonie</strong>. Au conservatoire, en cours d'harmonie, vous perdriez des points sur la 
    note de votre devoir en faisant cette <strong>erreur</strong>. On entre dans un monde extrêmement académique et scolaire, 
    comme vous pouvez le voir.</p>

<p>Pour éviter les quintes parallèles, on va être obligé d'utiliser les renversements, et écrire par exemple ces deux 
    accords de cette manière : </p>

<img src="~/img/0314_musique_tonale_apercu_des_regles_2.png" />

<audio controls>
    <source src="~/audio/0278_musique_tonale_apercu_des_regles_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0278_musique_tonale_apercu_des_regles_2.mid">Télécharger le MIDI</a>
</div>

<p>On a donc modifié les mélodies superposées constituant ces accords pour respecter des règles harmoniques. Comme je le 
    disais : en musique tonale, l'harmonie prime sur la mélodie.</p>

<br />

<h3>Les octaves parallèles sont interdites</h3>

<p>C'est le même principe qu'avec les quintes, mais pour les octaves.</p>

<p>Il ne faut donc pas écrire ça : </p>

<img src="~/img/0315_musique_tonale_apercu_des_regles_3.png" />

<audio controls>
    <source src="~/audio/0279_musique_tonale_apercu_des_regles_3.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0279_musique_tonale_apercu_des_regles_3.mid">Télécharger le MIDI</a>
</div>

<p>A la place, on ferait plutôt ça : </p>

<img src="~/img/0316_musique_tonale_apercu_des_regles_4.png" />

<audio controls>
    <source src="~/audio/0280_musique_tonale_apercu_des_regles_4.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0280_musique_tonale_apercu_des_regles_4.mid">Télécharger le MIDI</a>
</div>

<br />

<h3>On résout systématiquement les tensions, qu'on appelle alors des "mouvements obligés"</h3>

<p>La note un demi-ton sous la fondamentale est nommée "note sensible". Il est obligatoire de la résoudre sur la note un 
    demi-ton au-dessus. Quand on utilise un accord de septième sur le Vème degré, on résout obligatoirement la septième 
    sur la note un demi-ton au-dessous.</p>

<p>Il est donc interdit d'écrire ça : </p>

<img src="~/img/0317_musique_tonale_apercu_des_regles_5.png" />

<audio controls>
    <source src="~/audio/0281_musique_tonale_apercu_des_regles_5.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0281_musique_tonale_apercu_des_regles_5.mid">Télécharger le MIDI</a>
</div>

<p>A la place, il faut bien résoudre toutes les tensions, comme ça : </p>

<img src="~/img/0318_musique_tonale_apercu_des_regles_6.png" />

<audio controls>
    <source src="~/audio/0282_musique_tonale_apercu_des_regles_6.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0282_musique_tonale_apercu_des_regles_6.mid">Télécharger le MIDI</a>
</div>

<br />

<h3>Règles de doublage des notes</h3>

<p>Quand on écrit pour 4 voix (c'est-à-dire des accords de 4 notes) et qu'on veut utiliser des accords parfaits, qui sont 
    constitués de 3 notes, on est obligé de doubler une des 3 notes. Dans ce cas, on évite le plus possible de doubler la 
    tierce. Et, si jamais l'accord contient une note à résoudre (sensible ou septième comme vu précédemment), il est 
    simplement interdit de la doubler. </p>

<p>Il ne faut donc pas écrire ça : </p>

<img src="~/img/0319_musique_tonale_apercu_des_regles_7.png" />

<audio controls>
    <source src="~/audio/0284_musique_tonale_apercu_des_regles_8.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0284_musique_tonale_apercu_des_regles_8.mid">Télécharger le MIDI</a>
</div>

<p>A la place, on ferait plutôt ça : </p>

<img src="~/img/0320_musique_tonale_apercu_des_regles_8.png"/>

<audio controls>
    <source src="~/audio/0285_musique_tonale_apercu_des_regles_9.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0285_musique_tonale_apercu_des_regles_9.mid">Télécharger le MIDI</a>
</div>

<br />

<h3>Pas plus d'une octave entre deux notes superposées</h3>

<p>Imaginons une partition pour 4 voix : basse, ténor, alto et soprano (du plus grave au plus aigu). Il est interdit de mettre 
    plus d'une octave entre ténor et alto, ou entre alto et soprano. Il faut aussi éviter de le faire entre basse et ténor, 
    même si ça peut être "toléré". </p>

<p>On ne peut donc pas faire ça  :</p>

<img src="~/img/0321_musique_tonale_apercu_des_regles_9.png" />

<audio controls>
    <source src="~/audio/0286_musique_tonale_apercu_des_regles_10.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0286_musique_tonale_apercu_des_regles_10.mid">Télécharger le MIDI</a>
</div>

<p>A la place, il faudrait faire ça : </p>

<img src="~/img/0322_musique_tonale_apercu_des_regles_10.png" />

<audio controls>
    <source src="~/audio/0287_musique_tonale_apercu_des_regles_11.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0287_musique_tonale_apercu_des_regles_11.mid">Télécharger le MIDI</a>
</div>


<br />

<h3>Récapitulatif des règles principales</h3>

<p>Je m'arrête là de mon côté. Mais par curiosité, vous pouvez jeter un oeil sur cette page qui récapitule les règles 
    principales : <a href="http://www.mapageweb.umontreal.ca/caronsy/harmonie_1/html/recap_regles.html">http://www.mapageweb.umontreal.ca/caronsy/harmonie_1/html/recap_regles.html</a>. Ce n'est qu'un résumé
    dédié à des étudiants, et pourtant c'est déjà d'un niveau de précision assez absurde.</p>

<br />
<hr />
<br />

<p>Scolaire serait un mot trop faible pour décrire ces ensembles de règles. C'est une tentative inédite dans l'Histoire 
    de transcrire une pratique artistique en un système intégralement cohérent de règles précises. Au point qu'à terme, 
    composer un morceau pourrait théoriquement se faire sans même savoir comment il sonne ni même sans avoir jamais 
    entendu de musique de toute sa vie, simplement en appliquant consciencieusement les règles sur une feuille de 
    partition de la même manière qu'on résoudrait une partie d'échecs ou une grille de sudoku.</p>

<p>Le résultat de toutes ces règles, c'est n'importe quelle musique que vous pouvez imaginer quand vous pensez 
    "musique classique", "musique orchestrale", "musique symphonique", ou "chœur". Nous avons tous intériorisé ce type de 
    discours musical. Depuis la mondialisation de la culture occidentale, il est pratiqué dans le monde entier et 
    à deux doigts d'être considéré comme universel. </p>