@{
    Layout = null;
}


<h1 class="display-4 text-center">Un point sur la ¤tierce mineure</h1>



<p>Il y a deux configurations d'intervalles possibles pour une tierce mineure, si on part de la fondamentale.</p>

<p>En mode de MI, la configuration est : 1/2 ton puis 1 ton.</p>

<img src="~/img/0120_melodie_point_tierce_1.png" />

<p>En mode de LA, la configuration est : 1 ton puis 1/2 ton.</p>

<img src="~/img/0121_melodie_point_tierce_2.png" />

<p>Dans les deux cas il s'agit d'une tierce mineure, c'est-à-dire un intervalle de 1,5 tons au total.</p>

<p>L'objet de cette partie, c'est le deuxième cas. On trouve cette configuration de la tierce mineure dans 
    le mode de LA et dans le mode de RE. Cette tierce mineure est très intéressante car elle comporte une 
    double tension/résolution : une allant de la seconde à la tierce, et une allant de la tierce à la 
    seconde.</p>

<img src="~/img/0122_melodie_point_tierce_3.png" />

<img src="~/img/0123_melodie_point_tierce_4.png" />

<p>Il y a donc des tensions/résolutions infinies entre la seconde et la tierce. </p>

<p>Par ailleurs, en dessous de la seconde, on a la fondamentale, donc une forte pesanteur :</p>

<img src="~/img/0125_melodie_point_tierce_6.png" />

<p>La seconde est donc aussi fortement attirée par la fondamentale. </p>

<img src="~/img/0126_melodie_point_tierce_7.png" />

<p>Tout cela aboutit à une extrême tension autour de la seconde. Elle est au coeur d'un grand nombre de 
    relations différentes :</p>

<ul>

    <li>Elle est attirée par le pôle de stabilité de la fondamentale.</li>

    <li>Elle est attirée par le pôle de sensibilité de la tierce.</li>

    <li>Elle crée une tension avec un demi-ton se résolvant sur la tierce.</li>

    <li>Elle peut elle-même être la résolution du même demi-ton si on part depuis la tierce.</li>

    <li>Elle est enfin une note de passage entre les deux pôles que sont la fondamentale et la tierce.</li>

</ul>

<p>La conclusion à tirer de ça, c'est que les trois notes comprises dans cet intervalle de tierce mineure 
    ont un nombre infini de possibilités mélodiques. Je n'ai personnellement jamais arrêté de trouver de 
    nouvelles choses avec ces trois notes. Je ne suis pas le seul : elle est utilisée à foison pour ces 
    raisons. Et c'est la raison principale pour laquelle je ne compose quasiment qu'avec les modes de RE et 
    de LA.</p>

<p>Pour démontrer ça, je vais prendre l'exemple de la musique de Requiem For A Dream. La question n'est pas 
    de savoir si on aime ou pas cette mélodie, mais d'analyser comment elle est construite. Et, en fait, on 
    se rend compte qu'elle est intégralement construite avec 3 notes, qui sont la fondamentale, la seconde 
    majeure et la tierce mineure : </p>

<img src="~/img/0127_melodie_point_tierce_8.png" />

<audio controls>
    <source src="~/audio/0102_melodie_point_tierce_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0101_melodie_point_tierce_1.mid">Télécharger le MIDI</a>
</div>

<p>La deuxième partie de la mélodie use et abuse des répétitions, des anticipations et des retards. Est-ce 
    que vous les ressentez ? Est-ce que vous pouvez les localiser ?</p>