@{
    Layout = null;
}


<h1 class="display-4 text-center">Un point sur la ¤fondamentale</h1>



<p>On l'a vu dans le premier chapitre : la note fondamentale est la note de référence, celle depuis laquelle 
    les autres notes tirent leur rôle. On a aussi utilisé le bourdon pour la tenir dans les graves et mettre 
    ainsi en valeur ces rôles.</p>

<p>En réalité, la fondamentale est une référence qui peut être sous-entendue dans la mélodie. On peut 
    construire une mélodie complète sans jamais la jouer. Notre oreille est habituée faire le rapport entre 
    les notes d'une gamme et sa fondamentale, si bien que même en ne la jouant pas, on l'a intériorisée.</p>

<p>Plus on utilise la fondamentale, plus la mélodie est pesante. On utilisera plus volontairement la 
    fondamentale si on souhaite une mélodie grave, solennelle, et on l'utilisera moins si on veut quelque 
    chose de plus léger, en apesanteur, fragile. </p>

<p>Exemple d'une mélodie utilisant beaucoup la fondamentale : </p>

<audio controls>
    <source src="~/audio/0100_melodie_point_fondamentale_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0098_melodie_ornements_14.mid">Télécharger le MIDI</a>
</div>


<p>Exemple d'une mélodie n'utilisant pas une seule fois la fondamentale :</p>

<audio controls>
    <source src="~/audio/0101_melodie_point_fondamentale_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0100_melodie_point_fondamentale_2.mid">Télécharger le MIDI</a>
</div>

<p>On entend une différence de pesanteur entre les deux mélodies.</p>

<p>Si j'insiste sur cette caractéristique de la fondamentale, c'est que c'est très important quand on veut 
    composer à base de patterns. La fondamentale a facilement un rôle conclusif, elle a tendance à fermer le 
    discours, reposer la mélodie. Quand on veut créer un motif mélodique répétitif (un pattern), on aura 
    tendance à vouloir éviter ces effets. Ca peut vite mener à des patterns lourds, voir agaçants, ressentis 
    comme une succession infinie de conclusions. Donc, par exemple, démarrer ou terminer un pattern par la 
    fondamentale est une mauvaise idée. De manière plus générale, l'utiliser trop est une mauvaise idée. Ce 
    n'est pas une note interdite, mais à prendre avec précaution et à placer judicieusement. </p>

<p>On parlera plus en détail des patterns dans le chapitre sur la répétition modulaire.</p>