@{
    Layout = null;
}


<h1 class="display-4 text-center">Utiliser les ¤octaves</h1>



<p>On a vu précédemment qu'une note et son octave sont considérées comme la même note. Un DO grave et un DO 
    aigu, c'est toujours un DO. Ca veut dire que deux notes à des endroits très éloignés peuvent être malgré 
    tout considérées comme les mêmes, c'est-à-dire qu'elles ont le même rôle grammatical, le même rôle dans 
    la mélodie.</p>

<p>Et pourtant, elles sont différentes. Tout le monde entendra la différence entre un DO grave et un DO aigu.
    Ce qui veut dire que, pour chaque note d'une mélodie, on a en fait plusieurs notes à disposition. On 
    peut éclater les notes d'une mélodie sur tout le clavier : on aura un résultat très différent, tout en 
    conservant fondamentalement l'esprit de cette mélodie. C'est un bon moyen de créer des variations, mais 
    c'est aussi un bon moyen de composer la mélodie dès sa première itération.</p>

<p>Un exemple que j'aime beaucoup est une mélodie de 4 notes de Morton Feldman. Voici sa version "simplifiée",
    c'est-à-dire en mettant toutes les notes à la même octave, jouées deux fois avec un rythme légèrement
    différent :</p>

<img src="~/img/0094_melodie_octaves_1.png" />

<audio controls>
    <source src="~/audio/0068_melodie_octaves_1.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0068_melodie_octaves_1.mid">Télécharger le MIDI</a>
</div>

<p>On met la 2ème note une octave au dessous, et la 3ème note une octave au dessus, et ça nous donne ça :</p>

<img src="~/img/0095_melodie_octaves_2.png" />

<audio controls>
    <source src="~/audio/0069_melodie_octaves_2.mp3" type="audio/mpeg">
</audio>
<div class="midi">
    <a class="btn" href="~/midi/0069_melodie_octaves_2.mid">Télécharger le MIDI</a>
</div>

<p>Ce sera bien plus parlant avec un extrait de l'original joué par un vrai pianiste. Vous noterez aussi que 
    la mélodie est légèrement plus aigue. C'est parce qu'elle a été transposée. Enfin, c'est plutôt moi qui 
    ait transposé l'original, pour la jouer sur des touches blanches. On verra la magie de la transposition 
    dans la partie dédiée.</p>

<audio controls>
    <source src="~/audio/0070_melodie_octaves_3.mp3" type="audio/mpeg">
</audio>
<br />

<p>Une mélodie extrêmement simple est devenue quelque chose de magnifique, et ce sont pourtant les mêmes 
    notes. Vous avez une mélodie un peu plan-plan ? Essayez de mettre quelques notes aux octaves du dessus 
    ou dessous, pour voir le résultat. Vous pourrez découvrir des choses bien plus intéressantes.</p>