@{
    Layout = null;
}

<h1 class="display-4 text-center">La "vraie" ¤polyrythmie</h1>

<p>Aujourd'hui, on parle de polyrythmie pour désigner des cas où on superpose des patterns rythmiques d'une durée 
    différente. Comme on a vu dans le chapitre sur le rythme, ça crée des décalages temporaires avant que les rythmes ne 
    se rejoignent à nouveau.</p>

<p>La "vraie" polyrythmie, à mes yeux, c'est quand on superpose des tempos (bpm) différents. On trouve ce type de 
    polyrythmie à foison dans les œuvres de Xenakis ou Ligeti, par exemple. Mais pour mieux comprendre le principe, le 
    plus simple et le plus évident est d'écouter la première période de Steve Reich : ses 1ères oeuvres sur bande, 
    toutes les "phases", et pour finir Drumming.</p>

<!--extrait audio Piano Phase -->

<p>Le même pattern est répété par deux piano différents, l'un étant à un tempo très légèrement plus rapide que l'autre. 
    Les deux se décalent donc très progressivement, et la polyrythmie est très clairement audible - un des critères 
    importants pour Steve Reich durant cette période.</p>

<p>Une autre forme de polyrythmie serait une polyrythmie "temporaire", circonstrique à un passage d'une œuvre 
    uniquement. C'est le cas, par exemple, quand on superpose des n-olets de valeurs différentes. Imaginons qu'on divise 
    le temps d'une noire(4) avec un triolet d'un côté, et un quintolet de l'autre. La superposition de 3 et de 5 donne 
    cette sensation de tempos superposés :</p>

<-- midi sur cubase -->
    <!--extrait audio et MIDI-->

    <br />

    <p>La polyrythmie peut paraître expérimentale pour des oreilles occidentales / modernes, mais on la retrouve en 
        réalité dans de nombreuses musiques traditionnelles. On peut en entendre, par exemple, dans la musique 
        traditionnelle Pygmée :</p>

    <!--extrait vidéo Pygmées -->
